<form *ngIf="model.isBuiltForm; else loadingContent" [formGroup]="model.form" (submit)="confirmUpdateWallet()">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Colores de la App</h3>
            <div class="card-options">
                <i class="fe fe-smartphone mr-1 text-primary fs-30"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body {{getValidationClass('icon')}}">
                            <input type="file" class="dropify" accept="image/x-png;image/jpeg" data-height="140" (change)="selectLogo($event)" [attr.data-default-file]="iconsUrl"/>
                        </div>
                        <div class="invalid-feedback">{{getErrorMessage('icon')}}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            Selecciona el ícono de la App.<br/>
                            El ícono seleccionado se mostrará en los dispositivos de los asegurados.
                        </div>
                        <div class="card-footer">
                            <strong>JPG o PNG transparente<br/>
                            300px por 300px<br/>
                            Tamaño máximo de 2 MB</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Colores de la App</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="temp-wrapper">
                      <div class="px">
                        <div class="px__body">
                          <div class="px__body__cut"></div>
                          <div class="px__body__speaker"></div>
                          <div class="px__body__sensor"></div>
                          <div class="px__body__mute"></div>
                          <div class="px__body__up"></div>
                          <div class="px__body__down"></div>
                          <div class="px__body__right"></div>
                        </div>
                        <div class="px__screen">
                          <div class="px__screen__">
                            <div class="px__screen__frame" [ngStyle]="{'background-image': backgroundImage}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- //AGENTHOS - APP CREATOR MOCKUP -->
                <!-- AGENTHOS - APP CREATOR COLOR SELECTOR -->
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            Selecciona el color de la App.<br/>
                            El color seleccionado se mostrará en los dispositivos de los asegurados.
                        </div>
                        <div class="card-footer">
                            <div class="form-group m-0">
                                <div class="row gutters-xs">
                                    <div class="col-auto" *ngFor="let walletTheme of model.walletThemes">
                                        <label class="colorinput">
                                            <input name="color" type="checkbox" class="colorinput-input" id="walletTheme{{walletTheme.themeId}}" (click)="selectTheme(walletTheme.themeId)" />
                                            <span class="colorinput-color bg-{{walletTheme.name}}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - APP CREATOR COLOR SELECTOR -->
            </div>
            <!-- //AGENTHOS - APP CREATOR COLOR PREVIEW -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-icon btn-block btn-primary"><strong>GUARDAR CAMBIOS</strong></button>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true" ></agt-loading-content>
</ng-template>

<agt-modal-confirm-update-wallet 
    [modalId]="modalIdConfirmUpdateWallet" 
    (actionConfirmed)="updateWallet()"
></agt-modal-confirm-update-wallet>
