<div class="page h-100">
    <div class="">
        <!-- AGENTHOS - LOGO -->
        <agt-logo-agenthos-dark></agt-logo-agenthos-dark>
        <!-- //AGENTHOS - LOGO -->

        <!-- AGENTHOS - WORKSPACE ACTIVATION ACTIVATION -->
        <div class="container-login100">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <img
                            src="https://webkit.atombits.xyz/atombits/logo/atombits_atom_dark.png"
                            width="48px"
                        />
                        <h3 class="h3 mt-3 mb-3">Atom Account</h3>
                        <p class="card-text">
                            Ingresa con tu Atom Account para acceder a todo el
                            poder de Agenthos.
                        </p>
                        <p class="card-text">
                            <strong
                                >Una cuenta. Todos los servicios de Atombits a
                                tu disposición.</strong
                            >
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a
                            [routerLink]="loginLink"
                            [queryParams]="{redirectUrl: redirectUrl}"
                        >
                            <button
                                type="button"
                                class="btn btn-primary btn-block"
                            >
                                <strong>ATOM ACCOUNT</strong>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- AGENTHOS - WORKSPACE ACTIVATION ACTIVATION -->
    </div>
</div>
