<agt-container-contact-details
    [contactId]="contactId"
    message="Captura los detalles del endoso para la póliza de"
></agt-container-contact-details>

<!-- AGENTHOS - POLICY DETAILS -->
<form *ngIf="model.policy; else loadingContent" [formGroup]="model.form" (submit)="formSubmitted()">
    <!-- AGENTHOS - ENDORSEMENT CHANGES -->
    <div class="row">
        <!-- //AGENTHOS - ENDORSEMENT RESUME -->
        <div class="col-md-4">
            <!-- AGENTHOS - POLICY CARD -->
            <div class="card">
                <!-- AGENTHOS - POLICY HEADER -->
                <div class="card-header">
                    <!-- AGENTHOS - INSURANCE COMPANY -->
                    <img [src]="model.policy.insurerImageUrl" width="38px">
                </div>
                <!-- //AGENTHOS - POLICY HEADER -->
                <!-- AGENTHOS - POLICY BODY -->
                <div class="card-body">
                    <!-- AGENTHOS - POLICY COVER -->
                    <div class="d-flex clearfix">
                        <div class="text-left">
                            <!-- AGENTHOS - POLICY STATUS -->
                            <div class="badge badge-{{model.policy.policyStatusBackground}} mr-1 mb-3">{{model.policy.policyStatusName | uppercase}}</div>
                            <span class="col-auto align-self-center">
                                <span class="form-help" data-toggle="popover" data-placement="top" [attr.data-content]="model.policy.policyStatusDescription" data-original-title="">?</span>
                            </span>
                            <!-- AGENTHOS - POLICY TYPE -->
                            <h6><span class="text-primary"><i class="fe fe-shield mr-2"></i></span>{{model.policy.insuranceName | uppercase}}</h6>
                            <!-- AGENTHOS - POLICY TYPE -->
                            <h6><span class="text-primary"><i class="fe fe-globe mr-2"></i></span>{{model.policy.insuranceTypeName | uppercase}}</h6>
                            <!-- AGENTHOS - POLICY NUMBER -->
                            <h6><span class="text-primary"><i class="fe fe-file-text mr-2"></i></span>{{model.policy.policyNumber | uppercase}}</h6>
                        </div>
                        <div class="ml-auto">
                            <span class="{{model.policy.insuranceBackground}} icon-service"><i class="fa {{model.policy.insuranceIcon}} fs-2"></i></span>
                        </div>
                    </div>
                    <!-- //AGENTHOS - POLICY COVER -->
                    <!-- AGENTHOS - POLICY LIFE -->
                    <div class="progress progress-sm mt-2">
                        <div class="progress-bar {{model.policy.insuranceBackground}}" [ngStyle]="{'width': model.policy.lifeTime+'%'}"></div>
                    </div>
                    <!-- //AGENTHOS - POLICY LIFE -->
                </div>
                <!-- //AGENTHOS - POLICY BODY -->
            </div>
            <!-- AGENTHOS - POLICY CARD -->
            <!-- AGENTHOS - ENDORSEMENT FILE -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Carátula de Endoso</h3>
                </div>
                <div class="card-body">
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item1">Adjunta el endoso emitido por la aseguradora en donde se detallan los cambios para la póliza: <strong>{{model.policy.policyNumber}}</strong>.</li>
                    </ol>
                    <div class="col-sm-12 mt-3">
                        <!-- AGENTHOS - UPDATE ENDORSEMENT (JUST IF UPLOADED) -->
                        <button type="button" class="btn btn-block btn-primary" *ngIf="!!model.f.endorsementFile.value; else uploadEndorse" (click)="uploadEndorsement()"><strong>ACTUALIZAR ENDOSO</strong></button>
                        <!-- AGENTHOS - UPLOAD ENDORSEMENT -->
                        <ng-template #uploadEndorse>
                            <button type="button" class="btn btn-block btn-secondary" (click)="uploadEndorsement()"><strong>CARGAR ENDOSO</strong></button>
                        </ng-template>
                        <input type="text" class="form-control agt-hide {{getValidationClass('endorsementFile')}}">
                        <div class="invalid-feedback">{{getErrorMessage('endorsementFile')}}</div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - ENDORSEMENT FILE -->
            <!-- AGENTHOS - ENDORSEMENT DETAILS -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Resumen de Endoso</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- ENDORSEMENT NUMBER * -->
                                    <label class="form-label">No. Endoso</label>
                                    <input type="text" class="form-control {{getValidationClass('endorsementNumber')}}" placeholder="Este es el endoso no. {{model.policy.totalEndorsements + 1}}" formControlName="endorsementNumber">
                                    <div class="invalid-feedback">{{getErrorMessage('endorsementNumber')}}</div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- EMISSION DATE * -->
                                        <label class="form-label">Fecha de Emisión</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input [id]="calendarIdEndorsementEmissionDate" class="form-control fc-datepicker {{getValidationClass('endorsementEmissionDate')}}" placeholder="DD/MM/AAAA" type="text" formControlName="endorsementEmissionDate">
                                            <div class="invalid-feedback">{{getErrorMessage('endorsementEmissionDate')}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- ENDORSEMENT TYPE * -->
                                        <label class="form-label">Tipo de Endoso</label>
                                        <select class="form-control custom-select {{getValidationClass('endorsementTypeId')}}" formControlName="endorsementTypeId" (change)="endorsementTypeIdChanged()">
                                            <option [value]="endorsementType.endorsementTypeId" *ngFor="let endorsementType of model.endorsementTypes">{{endorsementType.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">{{getErrorMessage('endorsementTypeId')}}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- AGENTHOS - ENDORSEMENT COMMENTS (140 MAX) -->
                                        <label class="form-label">Comentarios</label>
                                        <textarea class="form-control {{getValidationClass('endorsementComments')}}" rows="4" placeholder="Ingresa un comentario breve sobre este endoso." formControlName="endorsementComments"></textarea>
                                        <div class="invalid-feedback">{{getErrorMessage('endorsementComments')}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - ENDORSEMENT DETAILS -->

            <!-- AGENTHOS - ENDORSEMENT EVIDENCE FILE -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Evidencia de Endoso</h3>
                </div>
                <div class="card-body">
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item1">Adjunta el archivo de evidencia en donde el asegurado solicita los cambios a su póliza.</li>
                    </ol>
                    <div class="col-sm-12 mt-3">
                        <!-- AGENTHOS - VIEW ENDORSEMENT (JUST IF UPLOADED) -->
                        <button type="button" class="btn btn-block btn-primary" *ngIf="!!model.f.evidenceFile.value; else uploadNewEvidence" (click)="uploadEvidence()"><strong>ACTUALIZAR EVIDENCIA</strong></button>
                        <!-- AGENTHOS - UPDATE ENDORSEMENT -->
                        <ng-template #uploadNewEvidence>
                            <button type="button" class="btn btn-block btn-secondary" (click)="uploadEvidence()"><strong>CARGAR EVIDENCIA</strong></button>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - ENDORSEMENT EVIDENCE FILE -->
        </div>
        <!-- AGENTHOS - ENDORSEMENT RESUME -->

        <!-- AGENTHOS - POLICY RESUME -->
        <div class="col-md-8">
            <!-- AGENTHOS - POLICY OWNER -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Titular de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY NAME * -->
                                    <label class="form-label">Nombre del Titular</label>
                                    <input type="text" class="form-control {{getValidationClass('titularName')}}" formControlName="titularName">
                                    <div class="invalid-feedback">{{getErrorMessage('titularName')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY RFC * -->
                                    <label class="form-label">RFC</label>
                                    <input type="text" class="form-control {{getValidationClass('titularRfc')}}" formControlName="titularRfc">
                                    <div class="invalid-feedback">{{getErrorMessage('titularRfc')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY CP * -->
                                    <label class="form-label">Código Postal</label>
                                    <input type="text" class="form-control {{getValidationClass('titularPostalCode')}}" formControlName="titularPostalCode">
                                    <div class="invalid-feedback">{{getErrorMessage('titularPostalCode')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PHONE * -->
                                    <label class="form-label">Teléfono</label>
                                    <input type="text" class="form-control {{getValidationClass('titularPhoneNumber')}}" formControlName="titularPhoneNumber">
                                    <div class="invalid-feedback">{{getErrorMessage('titularPhoneNumber')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY OWNER -->
            <!-- AGENTHOS - POLICY DETAILS -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalles de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Bien Asegurado</label>
                                    <input type="text" class="form-control {{getValidationClass('coveredProperty')}}" formControlName="coveredProperty">
                                    <div class="invalid-feedback">{{getErrorMessage('coveredProperty')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">No. Póliza</label>
                                    <input type="text" class="form-control {{getValidationClass('policyNumber')}}" formControlName="policyNumber">
                                    <div class="invalid-feedback">{{getErrorMessage('policyNumber')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">No. Cliente</label>
                                    <input type="text" class="form-control {{getValidationClass('clientNumber')}}" formControlName="clientNumber">
                                    <div class="invalid-feedback">{{getErrorMessage('clientNumber')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Aseguradora</label>
                                    <input type="text" class="form-control" placeholder="{{model.policy.insurerName | uppercase}}" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY DETAILS -->
            <!-- AGENTHOS - POLICY VALIDITY -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vigencia de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-4">
                                <!-- AGENTHOS - EMISSION DATE * -->
                                <label class="form-label">Fecha de Emisión</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{model.policy.emissionDate | date: 'dd/MM/yyyy'}}" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- AGENTHOS - VALIDITY INI * -->
                                <label class="form-label">Inicio de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{model.policy.validityStartDate | date: 'dd/MM/yyyy'}}" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- AGENTHOS - VALIDITY END * -->
                                <label class="form-label">Fin de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input [id]="calendarIdValidityEndDate" type="text" class="form-control fc-datepicker {{getValidationClass('validityEndDate')}}" formControlName="validityEndDate" (blur)="validityEndDateChanged()">
                                    <div class="invalid-feedback">{{getErrorMessage('validityEndDate')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY VALIDITY -->
            <!-- AGENTHOS - POLICY PAYMENT -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Prima de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PAY (ACTUAL) * -->
                                    <label class="form-label">Prima Actual</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="agtReceiptAmmount" class="form-control" placeholder="{{policyAmount | currency: '': '': '0.2-2'}}" disabled="">
                                            </div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Prima actual de póliza antes de aplicar el endoso." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PAY (NEW) * -->
                                    <label class="form-label">Monto del endoso</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control {{getValidationClass('endorsementAmount')}}" formControlName="endorsementAmount">
                                                <div class="invalid-feedback">{{getErrorMessage('endorsementAmount')}}</div>
                                            </div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Monto del endoso." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PAY (ACTUAL) * -->
                                    <label class="form-label">Prima Final</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                                    </div>
                                                </div>
                                                <input type="text" name="agtReceiptAmmount" class="form-control" placeholder="{{finalPolicyAmount | currency: '': '': '0.2-2'}}" disabled="">
                                            </div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Prima total de póliza despúes de aplicar el endoso." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY METHOD * -->
                                    <label class="form-label">Forma de Pago</label>
                                    <select class="form-control custom-select {{getValidationClass('paymentMethodId')}}" formControlName="paymentMethodId">
                                        <option [value]="paymentMethod.paymentMethodId" *ngFor="let paymentMethod of model.paymentMethods">{{paymentMethod.name | uppercase}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('paymentMethodId')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY CURRENCY * -->
                                    <label class="form-label">Moneda</label>
                                    <input type="text" class="form-control" placeholder="{{model.policy.currencyName}}" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY PLAN * -->
                                    <label class="form-label">Tipo de Plan</label>
                                    <select class="form-control custom-select {{getValidationClass('paymentPlanId')}}" formControlName="paymentPlanId" (change)="paymentPlanIdChanged()">
                                        <option [value]="paymentPlan.paymentPlanId" *ngFor="let paymentPlan of model.paymentPlansAvailable">{{paymentPlan.name | uppercase}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('paymentPlanId')}}</div>
                                </div>
                            </div>
                            <!-- TOTAL TICKETS -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY BILLS * -->
                                    <label class="form-label">Recibos Totales</label>
                                    <input type="text" class="form-control" formControlName="bills">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY PAYMENT -->
            <!-- AGENTHOS - UPDATE INFO -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- AGENTHOS - ENDORSEMENT TARGETS -->
                            <!-- (IF NO INFO CHANGES: #agtEndorsementNoChanges) -->
                            <!-- (IF JUST INFO CHANGES: #agtEndorsementChanges) -->
                            <!-- (IF MORE PAY AMMOUNT: #agtEndorsementIncrement) -->
                            <!-- (IF LESS PAY AMMOUNT: #agtEndorsementDecrement) -->
                            <button type="submit" class="btn btn-icon btn-block  btn-primary"><strong>APLICAR ENDOSO</strong></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - UPDATE INFO -->
        </div>
        <!-- //AGENTHOS - POLICY RESUME -->
    </div>
    <!-- //AGENTHOS - ENDORSEMENT CHANGES -->
</form>
<!-- AGENTHOS - POLICY DETAILS -->
<agt-modal-select-file
    [modalId]="modalIdUploadPolicyEndorsement"
    [data]="selectedModalData"
    (fileSelected)="endorsementFileSelected($event)"
></agt-modal-select-file>
<agt-modal-select-evidence
    [modalId]="modalIdUploadPolicyEvidence"
    [data]="selectedModalData"
    (fileSelected)="evidenceFileSelected($event)"
></agt-modal-select-evidence>
<agt-modal-confirm-apply-endorsement-without-changes
    [modalId]="modalIdConfirmApplyEndorsementWithoutChanges"
    (actionConfirmed)="applyEndorsement()"
></agt-modal-confirm-apply-endorsement-without-changes>
<agt-modal-confirm-apply-endorsement
    [modalId]="modalIdConfirmApplyEndorsement"
    (actionConfirmed)="applyEndorsement()"
></agt-modal-confirm-apply-endorsement>
<agt-modal-select-endorsement-payment-method
    [modalId]="modalIdSelectEndorsementPaymentMethod"
    [endorsementAmount]="endorsementAmount"
    [currencyName]="currencyName"
    (endorsementPaymentMethodSelected)="selectEndorsementPaymentMethod($event)"
></agt-modal-select-endorsement-payment-method>
<agt-modal-confirm-apply-fractional-receipt
    [modalId]="modalIdConfirmApplyFractionalReceipt"
    [maxAmount]="endorsementAmount"
    (actionCancelled)="applyEndorsementWithoutFractionalReceipt()"
    (actionConfirmed)="applyEndorsementWithFractionalReceipt($event)"
></agt-modal-confirm-apply-fractional-receipt>
<agt-modal-confirm-apply-endorsement-with-increment
    [modalId]="modalIdConfirmApplyEndorsementWithIncrement"
    [policyAmount]="policyAmount"
    [endorsementAmount]="endorsementAmount"
    [capturedFractionalReceiptAmount]="capturedFractionalReceiptAmount"
    [selectedEndorsementPaymentMethod]="selectedEndorsementPaymentMethod"
    [currencyName]="currencyName"
    [endorsementEmissionDate]="selectedEndorsementEmissionDate"
    (actionConfirmed)="applyEndorsementWithIncrement()"
></agt-modal-confirm-apply-endorsement-with-increment>
<agt-modal-notify-endorsement-cannot-be-applied
    [modalId]="modalIdNotifyEndorsementCannotBeApplied"
></agt-modal-notify-endorsement-cannot-be-applied>
<agt-modal-confirm-apply-endorsement-with-decrement
    [modalId]="modalIdConfirmApplyEndorsementWithDecrement"
    [policyAmount]="policyAmount"
    [endorsementAmount]="endorsementAmount"
    [currencyName]="currencyName"
    [paymentPlanName]="selectedPaymentPlanName"
    (actionConfirmed)="applyEndorsementWithDecrement()"
></agt-modal-confirm-apply-endorsement-with-decrement>

<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true"></agt-loading-content>
</ng-template>
