<!-- AGENTHOS - CHANNEL CHART CARD -->
<div class="card">
    <!-- AGENTHOS - CHART HEADER -->
    <div class="card-header">
        <h3 class="card-title">Prospectos vs Clientes</h3>
    </div>
    <!-- //AGENTHOS - CHART HEADER -->
    <div id="agt-stats-dashboard-leads-vs-clients"></div>
    <agt-loading-content [isLoadingContent]="!canShowLeadsVsClientsStats" [height]="180"></agt-loading-content>
    <!-- AGENTHOS - CHART FOOTER -->
    <div class="card-footer text-center">
        <button type="button" class="btn btn-block btn-primary" disabled><strong>VER FUNNEL (MUY PRONTO)</strong></button>
    </div>
    <!-- //AGENTHOS - CHART FOOTER -->
</div>
<!-- AGENTHOS - CHANNEL CHART CARD -->
