<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acciones Disponibles</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3" *ngIf="canShowAlert">
                        <agt-alert
                            [message]="alertMessage"
                            [type]="alertType"
                        ></agt-alert>
                    </div>
                    <div class="col-12">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1">
                                Selecciona la acción que deseas realizar.
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-12 mt-3">
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="showModalSendPolicy()"
                        >
                            📲 <strong>ENVIAR PÓLIZA</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <a
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            [routerLink]="routePolicyRecord"
                            ><i class="fa fa-credit-card-alt mr-2"></i>
                            <strong>VER HISTORIAL</strong></a
                        >
                    </div>
                    <div class="col-md-6 mt-3">
                        <a
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            [routerLink]="routePolicyPendingReceipts"
                            >💸 <strong>APLICAR PAGOS</strong></a
                        >
                    </div>
                    <div class="col-md-6 mt-3">
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="showModalDownloadPolicy()"
                        >
                            📄 <strong>DESCARGAR PÓLIZA</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - PAYTRACKER PAYMENT FOLLOW -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="showModalCreateTask()"
                        >
                            📆 <strong>AGENDAR SEGUIMIENTO</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a
                    [routerLink]="data?.cancelRoute"
                    class="btn btn-block agt-btn-secondary-outline"
                    (click)="closeModal()"
                >
                    <strong>SALIR</strong>
                </a>
            </div>
        </div>
    </div>
</div>

<agt-download-policy></agt-download-policy>
<agt-follow-policy></agt-follow-policy>
<agt-send-policy-modal
    (policySent)="showAlertPolicySent($event)"
></agt-send-policy-modal>
