 <div class="col-12"> 
    <div class="alert alert-avatar alert-primary alert-dismissible mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> 
        <strong>Agenthos Intelligence</strong> <hr class="message-inner-separator"> 
        <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
        <p><strong>Alerta:</strong> Esta póliza de <strong *ngIf="contactName">{{contactName}}</strong> tuvo problemas de lectura. Carga la póliza de manera manual para entrenar al lector de pólizas.</p>
    </div> 
</div>