<!-- AGENTHOS - INVITES PANEL -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Enviar Invitaciones</h3>
            </div>
            <!-- AGENTHOS - AVAILABLE INVITE -->
            <ng-container *ngFor="let invitationForm of sendInvitationsService.invitationForms; let formIndex = index">
                <form class="card-body" [formGroup]="invitationForm.form" (submit)="onSubmitCreateInvitation(formIndex)">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - INVITE NAME * -->
                                <label class="form-label">Nombre de Colaborador</label>
                                <input type="text" name="agtInviteName" class="form-control" placeholder="Ingresa su nombre">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - INVITE EMAIL * -->
                                <label class="form-label">Correo Electrónico</label>
                                <input type="text" name="agtInviteMail" class="form-control" placeholder="Ingresa su correo electrónico">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - INVITE ROL * -->
                                <label class="form-label">Rol Asignado</label>
                                <button type="button" class="btn btn-radius btn-block btn-default-light" (click)="onClickChangeRole(formIndex)">
                                    <i class="fe fe-sliders mr-2"></i>{{getRoleName(formIndex)}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <!-- AGENTHOS - SEND INVITE -->
                            <label class="form-label">Enviar</label>
                            <div class="btn-list">
                                <button type="submit" class="btn btn-icon  btn-primary" data-toggle="tooltip" data-placement="bottom" data-original-title="Enviar Invitación"><i class="fe fe-mail"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
            <!-- //AGENTHOS - AVAILABLE INVITE -->
            <!-- AGENTHOS - CHANGE PLAN -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Todos los colaboradores de Orp Seguros serán mucho más eficientes y productivos si los agregas a este espacio de trabajo.</strong></p>
                        <p>Actualmente <strong>Orp Seguros</strong> cuenta con <strong>2 espacios</strong> disponibles, puedes incrementar los espacios de trabajo al mejorar tu plan.</p>
                    </div>
                    <div class="col-md-12">
                        <!-- AGENTHOS - UPGRADE PLAN-->
                        <div class="text-right mt-3">
                            <a href="https://agenthos.com" target="_blank">
                            <button class="btn btn-block btn-primary" name="agtUpgradePlan"><i class="fe fe-user-plus mr-2"></i><strong>SOLICITAR ESPACIOS</strong></button></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - CHANGE PLAN -->
        </div>
    </div>
</div>
<!-- AGENTHOS - INVITES PANEL -->

<!-- AGENTHOS - SENT INVITES -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Invitaciones Enviadas</h3>
            </div>
            <!-- AGENTHOS - PENDANT INVITE -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - ATOM ACCOUNT USER NAME -->
                            <label class="form-label">Nombre de Colaborador</label>
                            <input type="text" name="agtInviteName" class="form-control" placeholder="Fernando Pérez" disabled="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - ATOM ACCOUNT USER MAIL -->
                            <label class="form-label">Correo Electrónico</label>
                            <input type="text" name="agtInviteMail" class="form-control" placeholder="fernando@atombits.xyz" disabled="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - USER ROLE -->
                            <label class="form-label">Rol Asignado</label>
                            <button type="button" name="agtInviteRol" class="btn btn-radius btn-block btn-default-light disabled" data-container="body" data-toggle="popover" data-popover-color="default" data-placement="top" title="" data-content="El rol podrá ser actualizado hasta que la invitación sea aceptada." data-original-title="Rol Asignado:">
                            <i class="fe fe-sliders mr-2"></i>Administrador Global</button>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <label class="form-label">Acciones</label>
                        <div class="btn-list">
                            <button type="button" class="btn btn-icon  btn-primary" name="agtForwardInvite" id="agtInviteLimit" data-toggle="tooltip" data-placement="bottom" data-original-title="Reenviar Invitación"><i class="fe fe-mail"></i></button>
                            <button type="button" class="btn btn-icon  btn-secondary" name="agtDeleteInvite" id="agtInviteTrash" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar Invitación"><i class="fe fe-trash-2"></i></button>
                            <button type="button" class="btn btn-icon  btn-success" name="agtDirectInvite" data-toggle="modal" data-target="#agtInviteDirectLink"><i class="fe fe-send"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - PENDANT INVITE -->

            <!-- AGENTHOS - USER ROLES -->
            <div class="modal fade" id="agtInviteDirectLink" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="example-Modal3">Enlace Directo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <!-- AGENTHOS - INVITE LINK TOKEN -->
                                    <label class="form-label">Enlace de Invitación</label>
                                    <input type="text" name="agtInviteName" class="form-control" placeholder="https://app.agenthos.com/invites/xxxxxxxxxxx" disabled="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Enviar invitación por mensaje.</label>
                                    <p><strong>Esta invitación es única e intrasferible.</strong> Por seguridad solo comparte este enlace y el mensaje con la persona invitada.</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <!-- AGENTHOS - SEND INVITE -->
                                <a href="https://api.whatsapp.com/send?text=Hola, quiero compartirte esta invitación para unirte al espacio de trabajo de {agtAgentBrandName} en Agenthos. Link: {agtInviteLink}" target="_blank">
                                <button type="button" class="btn btn-primary btn-block"><strong>ENVIAR MENSAJE</strong></button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - USER ROLES -->
        </div>
    </div>
</div>
<!-- //AGENTHOS - SENT INVITES -->

<agt-modal-change-role [modalId]="changeRoleModalId" [roleId]="selectedRoleId"></agt-modal-change-role>
