<div class="row mt-5">
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
		<agt-container-select-stats-period (statsPeriodSelected)="loadContent($event)"></agt-container-select-stats-period>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Generar Reporte</h3>
			</div>
			<div class="card-body">
				<ol class="breadcrumb1 mt-2">
					<li class="breadcrumb-item1">Genera un reporte inmediato de las <strong>Pólizas Activas</strong>.</li>
				</ol>
				<button type="button" class="btn btn-block btn-primary mt-5" disabled><strong>DESCARGAR REPORTE</strong></button>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
		<agt-menu-stats></agt-menu-stats>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        <div class="row mb-3">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<agt-chart-policies [range]="range"></agt-chart-policies>
            </div>
        </div>
	</div>
</div>
