<!-- AGENTHOS - SMARTWALLET POLICY DEPENDENTS ITEM -->
<div class="panel panel-default mt-3">
    <div class="panel-heading" role="tab" [id]="panelId">
        <h4 class="panel-title">
            <a
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#{{ panelCloseId }}"
                aria-expanded="true"
                [attr.aria-controls]="panelCloseId"
            >
                Asegurado Dependiente No. {{ insuredIndex + 1 }}
            </a>
        </h4>
    </div>
    <div
        [id]="panelCloseId"
        class="panel-collapse collapse"
        [class.show]="isActivePanel"
        role="tabpanel"
        aria-labelledby="agtSmartWalletPolicyDependents1"
    >
        <div class="panel-body">
            <form class="row" [formGroup]="form" (submit)="onValidateForm()">
                <div class="col-md-12 text-right">
                    <button
                        type="button"
                        class="btn btn-sm agt-btn-secondary"
                        (click)="onDeleteInsured()"
                    >
                        🚮
                        <strong>ELIMINAR</strong>
                    </button>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <!-- AGENTHOS - SMARTWALLET POLICY HOLDER NAME * -->
                        <label class="form-label">Nombre del Asegurado</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-user tx-16 lh-0 op-6"></i>
                                </div>
                            </div>
                            <input
                                type="text"
                                class="form-control {{
                                    getValidationClass('name')
                                }}"
                                formControlName="name"
                            />
                            <div class="invalid-feedback">
                                {{ getErrorMessage("name") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <!-- AGENTHOS - SMARTWALLET POLICY HOLDER CERTIFICATE -->
                        <label class="form-label">Tarjeta del Asegurado</label>
                        <button
                            type="button"
                            class="btn btn-block agt-btn-secondary"
                            (click)="onSelectFile()"
                        >
                            <strong>CARGAR CERTIFICADO</strong>
                        </button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <!-- AGENTHOS - SMARTWALLET POLICY TITULAR AGE -->
                        <label class="form-label"
                            >Nacimiento del Asegurado</label
                        >
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i
                                        class="fa fa-birthday-cake tx-16 lh-0 op-6"
                                    ></i>
                                </div>
                            </div>
                            <input
                                type="text"
                                class="form-control {{
                                    getValidationClass('birthdate')
                                }}"
                                formControlName="birthdate"
                                [matDatepicker]="birthdatePicker"
                                (click)="birthdatePicker.open()"
                            />
                            <mat-datepicker #birthdatePicker />
                            <div class="invalid-feedback">
                                {{ getErrorMessage("birthdate") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <!-- AGENTHOS - SMART WALLET POLICY TITULAR GENDER -->
                        <label class="form-label">Género del Asegurado</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i
                                        class="fa fa-check-square tx-16 lh-0 op-6"
                                    ></i>
                                </div>
                            </div>
                            <select
                                class="form-control {{
                                    getValidationClass('genderId')
                                }}"
                                formControlName="genderId"
                            >
                                <option
                                    *ngFor="let gender of genders"
                                    [value]="gender.genderId"
                                >
                                    {{ gender.name }}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                {{ getErrorMessage("genderId") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <!-- AGENTHOS - SMART WALLET POLICY HOLDER RELATION -->
                        <label class="form-label">Relación del Asegurado</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-users tx-16 lh-0 op-6"></i>
                                </div>
                            </div>
                            <select
                                class="form-control s{{
                                    getValidationClass('relationId')
                                }}"
                                formControlName="relationId"
                            >
                                <option
                                    *ngFor="let relation of insuredRelations"
                                    [value]="relation.insuredRelationId"
                                >
                                    {{ relation.name }}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                {{ getErrorMessage("relationId") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block agt-btn-default">
                        <strong>{{ buttonActionLabel }}</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- AGENTHOS - SMARTWALLET POLICY DEPENDENTS ITEM -->
