<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Lector de Pólizas</h5>
			</div>
			<div class="modal-body">
				<div class="row agt-loader-center">
					<div class="la-ball-grid-pulse la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
					<div class="col-md-12 mt-5">
						<p class="text-justify">Analizando datos para extraer los detalles de la póliza. <strong>Por favor espera a que la póliza sea analizada completamente por el lector inteligente</strong>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
