<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ficha de Identidad</h3>
        <div class="card-options">
            <i class="fe fe-credit-card mr-1 text-primary fs-30"></i>
        </div>
    </div>
    <div class="card-body">
        <!-- AGENTHOS - AGENT DETAILS -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- AGENTHOS - APP NAME * -->
                    <label class="form-label">Nombre de la App</label>
                    <input type="text" name="agtAppName" class="form-control is-valid state-valid" placeholder="Ingresa el nombre de la app.">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <!-- AGENTHOS - APP KEY NAME * -->
                    <label class="form-label">Identificador Único</label>
                    <input type="text" name="agtAppKeyName" class="form-control" placeholder="orp-seguros" disabled="">
                </div>
            </div>
        </div>
        <!-- //AGENTHOS - AGENT DETAILS -->
    </div>
    <div class="card-footer text-center">
        <button type="button" name="agtQuoteNew" class="btn btn-block btn-primary"><strong>GUARDAR CAMBIOS</strong></button>
    </div>
</div>
