<div class="row" *ngIf="model.wallet; else loadingContent">
    <!-- AGENTHOS - APP CREATOR PREVIEW -->
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vista Previa</h3>
                <div class="card-options">
                    <i class="fe fe-crosshair text-primary fs-30"></i>
                </div>
            </div>
            <div class="card-body">
                <!-- AGENTHOS - APP CREATOR INSTRUCTIONS -->
                <div class="row text-center">
                    <div class="col-md-12">
                        <agt-qr url="https://wallet.agenthos.com/{{model.wallet.walletKey}}"></agt-qr>
                        <ol class="breadcrumb1 mt-5">
                            <li class="breadcrumb-item1">Apunta con la cámara de tu smartphone al <strong>Código Inteligente</strong> para transferir la App a tu dispositivo.</li>
                        </ol>
                    </div>
                </div>
                <!-- //AGENTHOS - APP CREATOR INSTRUCTIONS -->
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - APP CREATOR PREVIEW -->
    <!-- AGENTHOS - APP CREATOR ACTIVATE -->
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Publicar App</h3>
                <div class="card-options">
                    <i class="fe fe-smartphone mr-1 text-primary fs-30"></i>
                </div>
            </div>
            <div class="card-body">
                <!-- AGENTHOS - APP CREATOR INSTRUCTIONS -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <!-- AGENTHOS - ATOM ACCOUNT USER NAME -->
                            <label class="form-label">Link de Acceso</label>
                            <input type="text" name="agtInviteName" class="form-control" value="https://wallet.agenthos.com/{{model.wallet.walletKey}}">
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <label class="form-label">Compartir App</label>
                        <div class="btn-list">
                            <!-- AGENTHOS - APP CREATOR SHARE WHATSAPP -->
                            <button type="button" name="agtAppCreatorShare" class="btn btn-block btn-success" (click)="confirmShareApp()"><i class="fa fa-whatsapp mr-2"></i>Enviar WhatsApp</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-4">
                        <div class="card shadow">
                            <div class="card-body text-center">
                                <i class="fa fa-share-alt text-primary fa-3x"></i>
                                <h6 class="mt-4 mb-2">Redes Sociales</h6>
                                <p class="text-muted">Comparte el link de acceso en tus redes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-4">
                        <div class="card shadow">
                            <div class="card-body text-center">
                                <i class="fa fa-envelope-open text-primary fa-3x"></i>
                                <h6 class="mt-4 mb-2">Correo</h6>
                                <p class="text-muted">Manda una invitación con el link de acceso.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-4">
                        <div class="card shadow">
                            <div class="card-body text-center">
                                <i class="fa fa-whatsapp text-primary fa-3x"></i>
                                <h6 class="mt-4 mb-2">WhatsApp</h6>
                                <p class="text-muted">Envía un mensaje con el link de acceso.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - APP CREATOR INSTRUCTIONS -->
            </div>
            <div class="card-footer text-center">
                <a routerLink="/{{ROUTES_NAME.walletResume(walletId)}}">
                    <button type="button" name="agtAppCreatorConsole" class="btn btn-block btn-primary"><strong>ACTUALIZAR APP</strong></button>
                </a>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - APP CREATOR ACTIVATE -->

    <agt-modal-confirm-share-app [modalId]="modalIdConfirmShareApp" url="https://wallet.agenthos.com/{{model.wallet.walletKey}}"></agt-modal-confirm-share-app>
</div>

<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true"></agt-loading-content>
</ng-template>
