<div  class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - CARD DETAILS -->
				<h5 class="modal-title">Detalles de Socio</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<ng-container *ngIf="!!partner">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="form-label">Prima Total ({{partner.currencyName}})</label>
										<input type="text" class="form-control" placeholder="{{partner.wallet | currency: '': '$': '0.2-2'}}" readonly="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="form-label">Prima Pagada ({{partner.currencyName}})</label>
										<input type="text" class="form-control" placeholder="{{partner.walletPaid | currency: '': '$': '0.2-2'}}" readonly="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="form-label">Pólizas Totales</label>
										<input type="text" class="form-control" [placeholder]="partner.totalPolicies" readonly="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="form-label">Clientes Totales</label>
										<input type="text" class="form-control" [placeholder]="partner.totalClients" readonly="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="form-label">Fecha Registro</label>
										<input type="text" class="form-control" placeholder="{{partner.createdAt | date: 'dd/MM/yyyy'}}" readonly="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center">
					<div class="col-12">
						<button type="button" class="btn btn-block btn-primary" disabled><strong>MUY PRONTO</strong></button>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
