<!-- AGENTHOS - GROUP PANEL -->
<div class="row">
    <!-- AGENTHOS - GROUP CARD -->
    <div class="col-lg-8">
        <div class="card ">
            <div class="card-header pt-0 pb-0 border-bottom-0">
                <h3 class="card-title">Perfil de Grupo</h3>
                <!-- AGENTHOS - POLICY MENU -->
                <div class="card-options">
                    <a href="" class="mr-2 text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-bars"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <div class="dropdown-plus-title">Acciones Disponibles</div>
                        <!-- AGENTHOS - GROUP DETAILS -->
                        <button type="button" class="dropdown-item" (click)="showModalGroupDetails()"><i class="fa fa-id-card-o mr-2"></i>Ver Detalles</button>
                        <!-- AGENTHOS - GROUP UPDATE -->
                        <button type="button" class="dropdown-item" (click)="showModalUpdateGroup()"><i class="fa fa-edit mr-2"></i>Actualizar Grupo</button>
                        <!-- AGENTHOS - GROUP ADD MEMBER -->
                        <button type="button" class="dropdown-item" ><i class="fa fa-user-plus mr-2"></i>Agregar Miembro</button>
                        <div class="dropdown-divider"></div>
                        <!-- AGENTHOS - GROUP DELETE -->
                        <button type="button" class="dropdown-item" ><i class="fa fa-exclamation-circle mr-2"></i>Eliminar Grupo</button>
                    </div>
                </div>
                <!-- //AGENTHOS - POLICY MENU -->
            </div>
            <!-- AGENTHOS - GROUP RESUME -->
            <div class="card-body pt-0" *ngIf="!!model.group; else groupEmpty">
                <div class="wideget-user">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wideget-user-desc d-flex pt-2">
                                <div class="wideget-user-img">
                                    <img class="" [src]="model.group.avatarUrl" width="88" alt="Agenthos Group Pic">
                                </div>
                                <div class="user-wrap">
                                    <!-- AGENTHOS - GROUP NAME -->
                                    <h3>{{model.group.name}}</h3>
                                    <!-- AGENTHOS - GROUP SOURCE --->
                                    <h4 class="text-muted font-weight-normal mb-3">Miembros: {{model.group.totalMembers}}</h4>
                                    <!-- AGENTHOS - GROUP PHONE -->
                                    <h4 class="text-muted font-weight-normal">Tipo: {{model.group.groupStatusName}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #groupEmpty>
                <agt-loading-content [isLoadingContent]="true" [height]="130"></agt-loading-content>
            </ng-template>
            <!-- //AGENTHOS - GROUP RESUME -->
            <!-- AGENTHOS - GROUP MENU -->
            <div class="card-footer pt-1 pb-1">
                <ul class="nav nav-pills nav-pills-circle" role="tablist">
                    <li class="nav-item">
                        <!-- AGENTHOS - GROUP RESUME -->
                        <a class="nav-link border p-3 m-2" [routerLink]="ROUTES_NAME.groupResume(groupId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-activity"></i> Resumen</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- AGENTHOS - GROUP MEMBERS -->
                        <a class="nav-link border p-3 m-2" [routerLink]="ROUTES_NAME.groupMembers(groupId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-activity"></i> Miembros</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- AGENTHOS - GROUP POLICIES -->
                        <a class="nav-link border p-3 m-2" [routerLink]="ROUTES_NAME.groupPolicies(groupId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-shield"></i> Pólizas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- AGENTHOS - GROUP SINISTERS -->
                        <a class="nav-link border p-3 m-2" [routerLink]="ROUTES_NAME.groupSinisters(groupId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-life-buoy"></i> Siniestros</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //AGENTHOS - GROUP MENU -->
        </div>
    </div>
    <!-- AGENTHOS - GROUP CARD -->
    <!-- AGENTHOS - GROUP WALLET -->
    <div class="col-lg-4">
        <agt-card-group-annual-wallet
            [groupId]="groupId"
        ></agt-card-group-annual-wallet>
    </div>
    <!-- //AGENTHOS - GROUP WALLET -->
</div>
<!-- //AGENTHOS - GROUP PANEL -->

<router-outlet></router-outlet>

<ng-container *ngIf="model.group">
    <agt-modal-show-group-details
        [modalId]="modalIdShowGroupDetails"
        [group]="model.group"
    ></agt-modal-show-group-details>
    <agt-modal-update-group
        [modalId]="modalIdUpdateGroup"
        [groupId]="groupId"
        [groupName]="model.group.name"
        (groupNameUpdated)="updateGroupName($event)"
    ></agt-modal-update-group>
</ng-container>
