<div class="card">
    <div class="card-body text-center">
        <i class="fa fa-exclamation-triangle text-warning fa-3x"></i>
        <h6 class="mt-4 mb-2">Siniestros Abiertos</h6>
        <h2 class="number-font"><span class="counter">{{cardKpiTotalOpenSinistersService.totalOpenSinisters}}</span></h2>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-block btn-secondary" (click)="goToListPendingSinisters()"><strong>VALIDAR SINIESTROS</strong></button>
    </div>
</div>
