<!-- AGENTHOS - PROFILE KPIS -->
<div class="row mt-5">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <agt-chart-contact-wallet-projection [contactId]="contactId"></agt-chart-contact-wallet-projection>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-card-wallet-global [contactId]="contactId"></agt-card-wallet-global>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-contact-active-coverages [contactId]="contactId"></agt-chart-contact-active-coverages>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-contact-preferred-insurers [contactId]="contactId"></agt-chart-contact-preferred-insurers>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-contact-global-balance [contactId]="contactId"></agt-chart-contact-global-balance>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <agt-chart-contact-renewal-progress
            [contactId]="contactId"
            [rangeStart]="rangeStart"
            [rangeEnd]="rangeEnd"
        ></agt-chart-contact-renewal-progress>
    </div>
</div>
<!-- AGENTHOS - PROFILE KPIS -->

<!-- AGENTHOS - PROFILE KPIS -->
<div class="row mt-3">
    <!-- AGENTHOS - PROTECTION RATE -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <agt-card-contact-protection-rate [contactId]="contactId"></agt-card-contact-protection-rate>
    </div>
    <!-- //AGENTHOS - PROTECTION RATE -->
    <!-- AGENTHOS - CONVERTION RATE -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <agt-card-contact-conversion-rate [contactId]="contactId"></agt-card-contact-conversion-rate>
    </div>
    <!-- //AGENTHOS - CONVERTION RATE -->
    <!-- AGENTHOS - RETENTION RATE -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header pt-2 pb-0 border-bottom-0">
                <h6 class="mb-0">Rate de<br>Retención</h6>
                <div class="card-options">
                    <i class="fe fe-help-circle fs-20 text-primary" data-toggle="popover" data-placement="left" data-content="Permite identificar la retención de pólizas para este asegurado." data-original-title=""></i>
                </div>
            </div>
            <div class="card-body pt-0">
                <h2 class="mb-2"><span class="number-font"><span class="counter">0</span> %</span></h2>
                <p class="text-muted mb-3"><span class="text-danger mr-1"><i class="fe fe-arrow-down ml-1 "></i>0%</span> Debajo del Promedio</p>
                <div class="progress h-2 mb-0">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-60" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - RETENTION RATE -->
    <!-- AGENTHOS - SINISTERS RATE -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <agt-card-contact-sinisters-rate [contactId]="contactId"></agt-card-contact-sinisters-rate>
    </div>
    <!-- //AGENTHOS - SINISTERS RATE -->

</div>
<!-- //AGENTHOS - PROFILE KPIS -->

<agt-modal-contact-saved [modalId]="modalIdContactSaved" [contactId]="contactId"></agt-modal-contact-saved>
