<div class="row mt-5">
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
		<agt-container-select-stats-period (statsPeriodSelected)="loadContent($event)"></agt-container-select-stats-period>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Generar Reporte</h3>
			</div>
			<div class="card-body">
				<ol class="breadcrumb1 mt-2">
					<li class="breadcrumb-item1">Genera un reporte inmediato de los <strong>Prospectos Activos</strong>.</li>
				</ol>
				<button type="button" class="btn btn-block btn-primary mt-5" disabled><strong>DESCARGAR REPORTE</strong></button>
			</div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
		<agt-menu-stats></agt-menu-stats>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="card">
					<div class="card-header pt-2 pb-0 border-bottom-0">
						<h3 class="card-title">Prospectos Generados</h3>
					</div>
					<div id="agt-stats-leads-leads-generated"></div>
					<agt-loading-content [isLoadingContent]="!canShowLeadsGeneratedStats" [height]="200"></agt-loading-content>
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header pt-2 pb-0 border-bottom-0">
						<h3 class="card-title">Canales de Adquisición</h3>
					</div>
					<div id="agt-stats-leads-contact-sources"></div>
					<agt-loading-content [isLoadingContent]="!canShowContactSourcesStats" [height]="200"></agt-loading-content>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header pt-2 pb-0 border-bottom-0">
						<h3 class="card-title">Insights</h3>
						<div class="card-options">
							<i class="fe fe-trending-up mr-1 text-primary fs-30"></i>
						</div>
					</div>
					<div class="card-body text-center">
						<ol class="breadcrumb1">
							<li class="breadcrumb-item1">Conoce el desempeño de los <strong>Canales de Adquisición</strong>.</li>
						</ol>
						<a [routerLink]="">
							<button type="button" class="btn btn-block btn-primary" disabled><strong>VER DETALLES</strong></button>
						</a>
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Indicadores de Canales</h3>
						</div>
					</div>
				</div>
				<!-- AGENTHOS - KPI CARD -->
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h6 class="mb-0">Canales<br>Activos</h6>
							<div class="card-options">
								<i class="fe fe-help-circle fs-20 text-primary" data-toggle="popover" data-placement="left" data-content="Permite identificar el número de canales activos." data-original-title=""></i>
							</div>
						</div>
						<div class="card-body">
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">8</span>
							<small class="text-green mb-0 number-font1"><i class="fe fe-arrow-up-circle"></i></small></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - CHANNELS RATE BAR -->
								<!-- (USED CHANNELS / TOTAL CHANNELS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">{{model.selectedPeriodRangeStart}} - {{model.selectedPeriodRangeEnd}}</p>
						</div>
						<div class="card-body">
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">888</span></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Comparación</strong></p>
							<p class="text-muted">{{model.comparedPeriodRangeStart}} - {{model.comparedPeriodRangeEnd}}</p>
						</div>
					</div>
				</div>
				<!-- //AGENTHOS - KPI CARD -->
				<!-- AGENTHOS - KPI CARD -->
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="card">
						<!-- AGENTHOS - KPI DESCRIPTION -->
						<div class="card-header">
							<h6 class="mb-0">Socios<br>Activos</h6>
							<div class="card-options">
								<i class="fe fe-help-circle fs-20 text-primary" data-toggle="popover" data-placement="left" data-content="Permite identificar el número de socios comerciales activos." data-original-title=""></i>
							</div>
						</div>
						<!-- //AGENTHOS - KPI DESCRIPTION -->
						<!-- AGENTHOS - SELECTED PERIOD -->
						<div class="card-body">
							<!-- AGENTHOS - KPIS SELECTED PERIOD -->
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">888</span>
							<small class="text-red mb-0 number-font1"><i class="fe fe-arrow-down-circle"></i></small></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - KPIS CONVERTION RATE BAR -->
								<!-- (ACTIVE PARTNERS / TOTAL PARTNERS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">01/08/2021 - 31/08/2021</p>
							<!-- //AGENTHOS - KPIS SELECTED PERIOD -->
						</div>
						<!-- //AGENTHOS - SELECTED PERIOD -->
						<!-- AGENTHOS - COMPRARED PERIOD -->
						<div class="card-body">
							<!-- AGENTHOS - KPIS COMPARED PERIOD -->
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">888</span></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - KPIS CONVERTION RATE BAR -->
								<!-- (ACTIVE PARTNERS / TOTAL PARTNERS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">01/08/2021 - 31/08/2021</p>
							<!-- //AGENTHOS - KPIS COMPARED PERIOD -->
						</div>
						<!-- //AGENTHOS - COMPARED PERIOD -->
					</div>
				</div>
				<!-- //AGENTHOS - KPI CARD -->
				<!-- AGENTHOS - KPI CARD -->
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="card">
						<!-- AGENTHOS - KPI DESCRIPTION -->
						<div class="card-header">
							<h6 class="mb-0">Prospectos<br>Generados</h6>
							<div class="card-options">
								<i class="fe fe-help-circle fs-20 text-primary" data-toggle="popover" data-placement="left" data-content="Permite identificar el número de prospectos generados." data-original-title=""></i>
							</div>
						</div>
						<!-- //AGENTHOS - KPI DESCRIPTION -->
						<!-- AGENTHOS - SELECTED PERIOD -->
						<div class="card-body">
							<!-- AGENTHOS - KPIS SELECTED PERIOD -->
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">88</span>
							<small class="text-red mb-0 number-font1"><i class="fe fe-arrow-down-circle"></i></small></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - KPIS CONVERTION RATE BAR -->
								<!-- (PERIOD LEADS / TOTAL LEADS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">01/08/2021 - 31/08/2021</p>
							<!-- //AGENTHOS - KPIS SELECTED PERIOD -->
						</div>
						<!-- //AGENTHOS - SELECTED PERIOD -->
						<!-- AGENTHOS - COMPRARED PERIOD -->
						<div class="card-body">
							<!-- AGENTHOS - KPIS COMPARED PERIOD -->
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">888</span></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - KPIS CONVERTION RATE BAR -->
								<!-- (PERIOD LEADS / TOTAL LEADS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">01/08/2021 - 31/08/2021</p>
							<!-- //AGENTHOS - KPIS COMPARED PERIOD -->
						</div>
						<!-- //AGENTHOS - COMPARED PERIOD -->
					</div>
				</div>
				<!-- //AGENTHOS - KPI CARD -->
				<!-- AGENTHOS - KPI CARD -->
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="card">
						<!-- AGENTHOS - KPI DESCRIPTION -->
						<div class="card-header">
							<h6 class="mb-0">Promedio<br>Diario</h6>
							<div class="card-options">
								<i class="fe fe-help-circle fs-20 text-primary" data-toggle="popover" data-placement="left" data-content="Permite identificar el promedio de prospectos generados al día." data-original-title=""></i>
							</div>
						</div>
						<!-- //AGENTHOS - KPI DESCRIPTION -->
						<!-- AGENTHOS - SELECTED PERIOD -->
						<div class="card-body">
							<!-- AGENTHOS - KPIS SELECTED PERIOD -->
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">888</span>
							<small class="text-green mb-0 number-font1"><i class="fe fe-arrow-up-circle"></i></small></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - KPIS CONVERTION RATE BAR -->
								<!-- (PERIOD LEADS / PERIOD DAYS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">01/08/2021 - 31/08/2021</p>
							<!-- //AGENTHOS - KPIS SELECTED PERIOD -->
						</div>
						<!-- //AGENTHOS - SELECTED PERIOD -->
						<!-- AGENTHOS - COMPRARED PERIOD -->
						<div class="card-body">
							<!-- AGENTHOS - KPIS COMPARED PERIOD -->
							<h3 class="font-weight-500 number-font1 mb-1"><span class="counter">888</span></h3>
							<div class="progress progress-md h-2 mt-2 mb-1">
								<!-- AGENTHOS - KPIS CONVERTION RATE BAR -->
								<!-- (PERIOD LEADS / PERIOD DAYS) -->
								<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-80"></div>
							</div>
							<p class="text-muted mb-0"><strong>Periodo Seleccionado</strong></p>
							<p class="text-muted">01/08/2021 - 31/08/2021</p>
							<!-- //AGENTHOS - KPIS COMPARED PERIOD -->
						</div>
						<!-- //AGENTHOS - COMPARED PERIOD -->
					</div>
				</div>
				<!-- //AGENTHOS - KPI CARD -->
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="card">
					<div class="card-header pt-2 pb-0 border-bottom-0">
						<h3 class="card-title">Cotizaciones Generadas</h3>
					</div>
					<div id="agt-stats-leads-quotations"></div>
					<agt-loading-content [isLoadingContent]="!canShowQuotationsStats" [height]="200"></agt-loading-content>
				</div>
			</div>
			<!-- AGENTHOS - DATA SUITE LEADS BEST CHANNELS -->
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header pt-2 pb-0 border-bottom-0">
						<h3 class="card-title">Canales con Mayor Conversión</h3>
					</div>
					<!-- AGENTHOS - DATA SUITE CHART -->
					<div id="agtDataSuiteLeadBestChannels"></div>
				</div>
			</div>
			<!-- //AGENTHOS - DATA SUITE LEADS BEST CHANNELS -->
			<!-- AGENTHOS - DATA SUITE LEADS WORST CHANNELS -->
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header pt-2 pb-0 border-bottom-0">
						<h3 class="card-title">Canales con Menor Conversión</h3>
					</div>
					<!-- AGENTHOS - DATA SUITE CHART -->
					<div id="agtDataSuiteLeadWorstChannels"></div>
				</div>
			</div>
			<!-- //AGENTHOS - DATA SUITE LEADS WORST CHANNELS -->
		</div>
	</div>
	<!-- //AGENTHOS - DATA SUITE STATS -->
</div>
<!-- //AGENTHOS - DATA SUITE CONSOLE -->
