<!-- AGENTHOS - POLICY UPDATE -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Navegador Incompatible</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify"><strong>Lo lamento mucho</strong></p>
						<p class="text-justify">Estás usando un navegador incompatible por el momento. <strong>Por favor utiliza Chrome, Edge o Safari en sus últimas versiones</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-block btn-secondary" (click)="onClickCloseModal()"><strong>SALIR</strong></button>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - POLICY UPDATE -->
