<!-- AGENTHOS NAVBAR -->
<div class="sticky">
	<div class="horizontal-main hor-menu clearfix ">
		<div class="horizontal-mainwrapper container clearfix">
			<nav class="horizontalMenu clearfix">
				<ul class="horizontalMenu-list">
					<!-- AGENTHOS - MARKETING -->
					<li aria-haspopup="true">
                        <a href="javascript://" class="sub-icon"><i class="fe fe-trending-up"></i> Digital Funnel <i class="fa fa-angle-down horizontal-icon"></i></a>
						<ul class="sub-menu">
							<li aria-haspopup="true"><a [routerLink]="ROUTES_NAME.listInvitations">Ciclo Conversión</a></li>
							<!--<li aria-haspopup="true"><a routerLink=".">Plan Referidos</a></li>
							<li aria-haspopup="true"><a routerLink=".">Redes Sociales</a></li>-->
						</ul>
					</li>
					<!-- AGENTHOS - PROSPECTOS -->
					<li aria-haspopup="true">
						<a href="javascript://" class="sub-icon"><i class="fe fe-user-check"></i> Lead Manager <i class="fa fa-angle-down horizontal-icon"></i></a>
						<ul class="sub-menu">
							<li aria-haspopup="true"><a [routerLink]="ROUTES_NAME.listLeads">Prospectos</a></li>
							<!--<li aria-haspopup="true"><a routerLink=".">Autoprospect</a></li>-->
						</ul>
					</li>
					<!-- AGENTHOS - CLIENTES -->
					<li aria-haspopup="true">
                        <a href="javascript://" class="sub-icon"><i class="fe fe-users"></i> Smart Wallet <i class="fa fa-angle-down horizontal-icon"></i></a>
						<!--<ul class="sub-menu">
							<li aria-haspopup="true"><a routerLink=".">Clientes</a></li>
							<li aria-haspopup="true"><a routerLink=".">Grupos</a></li>
						</ul>-->
					</li>
					<!-- AGENTHOS - FINANZAS -->
					<li aria-haspopup="true">
                        <a href="javascript://" class="sub-icon"><i class="fe fe-briefcase"></i> Pay Tracker <i class="fa fa-angle-down horizontal-icon"></i></a>
						<!--<ul class="sub-menu">
							<li aria-haspopup="true"><a routerLink=".">Cobranza</a></li>
							<li aria-haspopup="true"><a routerLink=".">Bonos</a></li>
							<li aria-haspopup="true"><a routerLink=".">Snapticket</a></li>
						</ul>-->
					</li>
					<!-- AGENTHOS - SINIESTROS -->
					<li aria-haspopup="true">
                        <a href="javascript://" class="sub-icon"><i class="fe fe-life-buoy"></i> Care Center <i class="fa fa-angle-down horizontal-icon"></i></a>
						<!--<ul class="sub-menu">
							<li aria-haspopup="true"><a routerLink=".">Reportes</a></li>
							<li aria-haspopup="true"><a routerLink=".">Siniestros</a></li>
						</ul>-->
					</li>
					<!-- AGENTHOS - APPS -->
					<li aria-haspopup="true">
                        <a href="javascript://" class="sub-icon"><i class="fe fe-smartphone"></i> App Gallery <i class="fa fa-angle-down horizontal-icon"></i></a>
						<!--<ul class="sub-menu">
							<li aria-haspopup="true"><a routerLink=".">Usuarios Activos</a></li>
							<li aria-haspopup="true"><a routerLink=".">Configurar App</a></li>
						</ul>-->
					</li>
					<!-- AGENTHOS - REPORTES -->
					<li aria-haspopup="true">
                        <a href="javascript://" class="sub-icon"><i class="fe fe-bar-chart-2"></i> Data Suite <i class="fa fa-angle-down horizontal-icon"></i></a>
						<ul class="sub-menu">
							<li aria-haspopup="true"><a [routerLink]="ROUTES_NAME.dashboard">Reporte Global</a></li>
							<!--<li aria-haspopup="true"><a routerLink=".">Generar Reporte</a></li>-->
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- //AGENTHOS NAVBAR -->
