<!-- AGENTHOS - BLOCKED PANEL -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Acceso Denegado</h3>
            </div>
            <!-- AGENTHOS - BLOCKED ALERT -->
            <div class="card-body">
                <ol class="breadcrumb1">
                    <li class="breadcrumb-item1">No tienes permisos para usar esta herramienta.</li>
                </ol>
            </div>
            <!-- AGENTHOS - BLOCKED ALERT -->
        </div>
    </div>
</div>
<!-- AGENTHOS - BLOCKED PANEL -->
