<!-- AGENTHOS - HUB -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agenthos Hub</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify"><strong>¿Deseas visitar Agenthos Hub?</strong></p>
						<p class="text-justify">Saldrás de tu espacio de trabajo y visitarás la comunidad online de Agenthos. <strong>Por favor confirma si deseas continuar</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn agt-btn-secondary-outline" data-dismiss="modal"><i class="fe fe-x-square mr-2"></i>CANCELAR</button>
				<button type="button" class="btn agt-btn-primary" (click)="confirmAction()"><i class="fe fe-check-square mr-2"></i>CONFIRMAR</button>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - HUB -->