<!-- AGENTHOS - CONTACT DUPLICATED -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contacto Duplicado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify"><strong>Se ha detectado una posible duplicidad de información.</strong> Existen contactos registrados con altas coincidencias.</p>
                    </div>
                    <div class="col-md-12 mt-3">
                        <p class="text-justify">Si lo deseas, puedes ignorar esta advertencia y guardar este contacto nuevo.</p>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary btn-block mt-5" (click)="onClickViewMatches()"><strong>VER COINCIDENCIAS</strong></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"><strong>CANCELAR</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AGENTHOS - CONTACT DUPLICATED -->
