<!-- AGENTHOS HEADER -->
<div class="header top-header hor-topheader">
    <div id="particles-js" class="zindex1"></div>
    <div class="container">
        <div class="d-flex header-nav">
            <a id="horizontal-navtoggle" class="animated-arrow hor-toggle"><span></span></a>
            <!-- AGENTHOS LOGO -->
            <div class="color-headerlogo">
                <a class="header-desktop" [routerLink]="ROUTES_NAME.dashboard"></a>
                <a class="header-mobile" [routerLink]="ROUTES_NAME.dashboard"></a>
            </div>
            <agt-speech-recognition></agt-speech-recognition>
            <a class="header-brand header-brand2 d-none d-lg-block  align-items-center justify-content-center" href="#">
                <a class="header-desktop" [routerLink]="ROUTES_NAME.dashboard"></a>
            </a>
            <div class="d-flex order-lg-2 ml-auto header-right-icons header-search-icon">
                <div class="dropdown  search-icon">
                    <a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch">
                        <i class="fe fe-mic"></i>
                    </a>
                </div>
                <div class="dropdown  header-fullscreen">
                    <a [routerLink]="" class="nav-link icon full-screen-link nav-link-bg" (click)="showFullScreen()">
                        <i class="fe fe-minimize" ></i>
                    </a>
                </div>
                <div class="dropdown header-user">
                    <a href="#" class="nav-link icon" data-toggle="dropdown">
                        <!-- ATOM ID - USER PICTURE -->
                        <span><img [src]="(!!headerService.user) ? headerService.user.avatarUrl : ''" alt="" class="avatar brround cover-image mb-0 ml-0"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <div class=" dropdown-header noti-title text-center border-bottom p-3" *ngIf="!!headerService.user">
                            <div class="header-usertext">
                                <!-- ATOM ID - SHORT NAME -->
                                <h5 class="mb-1">{{headerService.user.shortName}}</h5>
                                <!-- AGENTHOS USER ROLE -->
                                <p class="mb-0">{{headerService.user.roleName}}</p>
                            </div>
                        </div>
                        <a class="dropdown-item" [href]="atomAccountUrl" target="_blank">
                            <i class="mdi mdi-account-outline mr-2"></i> <span>Atom Account</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="" (click)="onClickLogout()">
                            <i class="mdi  mdi-logout-variant mr-2"></i> <span>Salir</span>
                        </a>
                    </div>
                </div><!-- SIDE-MENU -->
                <div class="dropdown  header-fullscreen">
                    <a class="nav-link icon sidebar-right-mobile" data-toggle="sidebar-right" data-target=".sidebar-right">
                        <i class="fe fe-align-right" ></i>
                    </a>
                </div><!-- Side menu -->
            </div>
        </div>
    </div>
</div>
<!-- HEADER END -->
