<div class="card">
    <div class="card-body text-center">
        <i class="fa fa-area-chart text-danger fa-3x"></i>
        <h6 class="mt-4 mb-2">Últimas Cancelaciones</h6>
        <h2 class="number-font"><span class="counter">{{cardKpiTotalLastCancelledPoliciesService.totalLastCancelledPolicies}}</span></h2>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-block btn-secondary" (click)="goToListCancelledPoliciesByRange()"><strong>RECTIFICAR CANCELACIONES</strong></button>
    </div>
</div>
