<div class="card" *ngIf="insured != null">
    <!-- AGENTHOS - POLICY HEADER -->
    <div class="card-header">
        <!-- AGENTHOS - INSURANCE COMPANY -->
        <img [src]="insured.insurerImageUrl" width="38px"> 
        <!-- AGENTHOS - POLICY MENU -->
        <div class="card-options">
            <a href="" class="mr-2 text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-bars"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div class="dropdown-plus-title">Acciones Disponibles</div>
                <!-- AGENTHOS - POLICY UPDATE CERTIFICATE -->
                <button type="button" class="dropdown-item" (click)="_updateInsured()"><i class="fa fa-edit mr-2"></i>Actualizar</button>
                <ng-container *ngIf="insured.insuredStatusId == POLICY_INSURED_STATUS.CURRENT">
                    <!-- AGENTHOS - POLICY CANCEL CERTIFICATE -->
                   <div class="dropdown-divider"></div>
                   <button type="button" class="dropdown-item" (click)="_cancelInsured()"><i class="fa fa-exclamation-circle mr-2"></i>Cancelar</button>
                </ng-container>
                <div class="dropdown-divider"></div>
                <!-- AGENTHOS - POLICY DELETE CERTIFICATE -->
                <button type="button" class="dropdown-item" (click)="_deleteInsured()"><i class="fa fa-trash mr-2"></i>Eliminar</button>
            </div>				
        </div>
        <!-- //AGENTHOS - POLICY MENU -->
    </div>
    <!-- //AGENTHOS - POLICY HEADER -->
    <!-- AGENTHOS - POLICY BODY -->
    <div class="card-body">
        <!-- AGENTHOS - POLICY COVER -->
        <div class="d-flex clearfix"> 
            <div class="text-left">
                <!-- AGENTHOS - POLICY STATUS -->
                <div class="badge badge-{{insured.insuredStatusBackground}} mr-1 mb-3">{{insured.insuredStatusName | uppercase}}</div>
                <!-- AGENTHOS - POLICY TYPE -->
                <h6><span class="text-primary"><i class="fe fe-shield mr-2"></i></span>{{insured.insuranceName | uppercase}}</h6>
                <!-- AGENTHOS - POLICY PLAN -->
                <h6><span class="text-primary"><i class="fe fe-credit-card mr-2"></i></span>CERTIFICADO</h6>
                <!-- AGENTHOS - POLICY TYPE -->
                <h6><span class="text-primary"><i class="fe fe-globe mr-2"></i></span>{{insured.insuranceTypeName | uppercase}}</h6>
            </div> 
            <div class="ml-auto"> 
                <span class="{{insured.insuranceBackground}} icon-service"><i class="{{insured.insuranceIcon}}"></i></span> 
            </div>
        </div>
        <!-- //AGENTHOS - POLICY COVER -->
        <!-- AGENTHOS - TOTAL PAY -->
        <h6 class="mt-3">Prima Total ({{insured.currencyName}})</h6>
        <h6 class="number-font">$<span class="counter">{{insured.totalAmount | currency: '' : '' : '0.2-2'}}</span></h6>
        <h6 class="mb-2">{{insured.coveredProperty}}</h6>
        <!-- AGENTHOS - POLICY NUMBER -->
        <h6><span class="text-primary"><i class="fe fe-file-text mr-2"></i></span>{{insured.certificate}}</h6>
        <!-- AGENTHOS - POLICY LIVE -->
        <div class="progress progress-sm mt-2">
            <div class="progress-bar {{insured.insuranceBackground}}" [ngStyle]="{'width': insured.lifeTime+'%'}"></div>
        </div>
        <!-- //AGENTHOS - POLICY LIVE -->
    </div>
    <!-- //AGENTHOS - POLICY BODY -->
    <!-- AGENTHOS - POLICY FOOTER -->
    <div class="card-footer">
        <div class="row">
            <!-- AGENTHOS - POLICY DETAILS -->
            <div class="col-9 text-left">
                <button type="button" class="btn btn-block btn-primary" (click)="_showInsuredFile()" [disabled]="!(!!insured.policyUrl)"><strong>VER CERTIFICADO</strong></button>
            </div>
            <!-- AGENTHOS - POLICY VIEW -->
            <div class="col-3 text-right">
                <button type="button" class="btn btn-icon btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Ver Póliza" (click)="_showPolicyFile()" [disabled]="!(!!insured.fatherPolicyUrl)"><i class="fa fa-file-text-o"></i></button>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - POLICY FOOTER -->
</div> 