<div class="col-12" *ngIf="model.addedEndorsements > 0">
    <div class="alert alert-avatar alert-primary alert-dismissible mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Business Intelligence</strong> <hr class="message-inner-separator">
        <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
        <p><strong>Alerta:</strong> Hay <strong>{{model.addedEndorsements}}</strong> endosos que modifican la prima de manera inusual, verifica que los cambios en las coberturas beneficien al titular.</p>
    </div>
</div>
