<div class="page h-100">
    <div class="">
        <!-- AGENTHOS - LOGO -->
        <agt-logo-agenthos-dark></agt-logo-agenthos-dark>
        <!-- //AGENTHOS - LOGO -->

        <!-- AGENTHOS - WORKSPACE ACTIVATION ACTIVATION -->
        <div class="container-login100">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="h3 mt-3 mb-3">Cuenta inactiva</h3>
                        <p class="card-text">
                            Lo sentimos, tu cuenta a sido desactivada por el
                            Administrador global de tu espacio de trabajo.
                        </p>
                        <p class="card-text">
                            <strong
                                >Por favor contacta a tu Administrador para más
                                detalles.</strong
                            >
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <button
                            type="button"
                            class="btn btn-primary btn-block"
                            (click)="onClickExit()"
                        >
                            <strong>SALIR</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- AGENTHOS - WORKSPACE ACTIVATION ACTIVATION -->
    </div>
</div>
