<!-- AGENTHOS - ATOM PASS VALIDATION -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="modalActivateWorkspaceService.licenseForm" (submit)="onSubmitActivateWorkspace()">
                <div class="modal-header">
                    <h5 class="modal-title">Ingresar Licencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - ATOM PASS CODE * -->
                                <label class="form-label">Atom Pass (Código de Licencia)</label>
                                <input type="text" class="form-control {{getValidationClass('licenseCode')}}" placeholder="Ingresa un Atom Pass para Agenthos." formControlName="licenseCode">
                                <div class="invalid-feedback">{{getErrorMessage('licenseCode')}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-justify"><strong>El código de tu Atom Pass debe contener 16 dígitos. Por seguridad no lo compartas con nadie.</strong></p>

                            <p class="text-judtify">¿No Tienes Licencia?<br/>
                            Apunta con tu cámara al código inteligente y obtén un Atom Pass para Agenthos.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-center">
                                <agt-qrcode-go-agenthos-shop></agt-qrcode-go-agenthos-shop>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <!-- AGENTHOS - START ACTIVATION -->
                        <button type="submit" class="btn btn-primary btn-block"><strong>ACTIVAR LICENCIA</strong></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- //AGENTHOS - ATOM PASS VALIDATION -->
