<div class="row">
    <div class="col-12">
        <agt-card-content-title
            title="Canales Digitales"
            description="Configuración de canales digitales."
        ></agt-card-content-title>
    </div>
</div>

<!-- AGENTHOS - WORKSPACE MODULES -->
<div class="row">
    <!-- AGENTHOS - CONTACT CENTER -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-module
            title="Contact Center"
            subtitle="Datos de Contacto"
            description="para enlazar a prospectos y clientes."
            icon="fa-comments-o"
            [route]="ROUTES_NAME.contactCenterResume"
            [isCompleted]="model.contactCenterIsCompleted"
        ></agt-card-module>
    </div>
    <!-- //AGENTHOS - CONTACT CENTER -->
    <!-- AGENTHOS - APP CREATOR -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-module
            title="App Creator"
            subtitle="Wallet de Pólizas"
            description="para que tus prospectos y clientes puedan instalarla."
            icon="fa-mobile"
            [route]="ROUTES_NAME.appCreatorResume"
            [isCompleted]="model.appCreatorIsCompleted"
        ></agt-card-module>
    </div>
    <!-- //AGENTHOS - APP CREATOR -->
    <!-- AGENTHOS - SITE CREATOR -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        
    </div>
    <!-- //AGENTHOS - SITE CREATOR -->
    <!-- AGENTHOS - ADS STUDIO -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        
    </div>
    <!-- //AGENTHOS - ADS STUDIO -->
</div>
<!-- //AGENTHOS - WORKSPACE MODULES -->