<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            <form [formGroup]="model.form" (submit)="updateSinisterTracking()" >
    			<div class="modal-header">
    				<h5 class="modal-title">Actualizar Siniestro</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
    				<div class="row">
    					<div class="col-md-6">
    						<div class="form-group">
    							<!-- AGENTHOS - SINISTER INCIDENT DATE * -->
    							<label class="form-label">Fecha Notificación</label>
    							<div class="input-group">
    								<div class="input-group-prepend">
    									<div class="input-group-text">
    										<i class="fe fe-calendar tx-16 lh-0 op-6"></i>
    									</div>
    								</div>
    								<input [id]="calendarIdNotificationDate" class="form-control fc-datepicker {{getValidationClass('notificationDate')}}" type="text" formControlName="notificationDate">
                                    <div class="invalid-feedback">{{getErrorMessage('notificationDate')}}</div>
                                </div>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="form-group">
    							<!-- AGENTHOS - SINISTER NOTIFICATION DATE * -->
    							<label class="form-label">Fecha Siniestro</label>
    							<div class="input-group">
    								<div class="input-group-prepend">
    									<div class="input-group-text">
    										<i class="fe fe-calendar tx-16 lh-0 op-6"></i>
    									</div>
    								</div>
    								<input [id]="calendarIdSinisterDate" class="form-control fc-datepicker {{getValidationClass('sinisterDate')}}" type="text" formControlName="sinisterDate">
                                    <div class="invalid-feedback">{{getErrorMessage('sinisterDate')}}</div>
                                </div>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="form-group">
    							<!-- AGENTHOS - SINISTER APPROXIMATE DATE * -->
    							<label class="form-label">Resolución Estimada</label>
    							<div class="input-group">
    								<div class="input-group-prepend">
    									<div class="input-group-text">
    										<i class="fe fe-calendar tx-16 lh-0 op-6"></i>
    									</div>
    								</div>
    								<input [id]="calendarIdEstimatedResolutionDate" class="form-control fc-datepicker {{getValidationClass('estimatedResolutionDate')}}" type="text" formControlName="estimatedResolutionDate">
                                    <div class="invalid-feedback">{{getErrorMessage('estimatedResolutionDate')}}</div>
                                </div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="modal-footer text-center">
    				<div class="col-12">
    					<!-- AGENTHOS - SINISTER SAVE CHANGES -->
    					<button type="submit" class="btn btn-block btn-primary"><strong>ACTUALIZAR SINIESTRO</strong></button>
    				</div>
    			</div>
            </form>
		</div>
	</div>
</div>
