<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Resumen del Grupo</h3>
            </div>
        </div>
    </div>

    <agt-alert-group-unusual-wallet-decrease
        class="agt-width-100"
        [groupId]="groupId"
    ></agt-alert-group-unusual-wallet-decrease>
    <agt-alert-group-unusual-cancelled-policies
        class="agt-width-100"
        [groupId]="groupId"
    ></agt-alert-group-unusual-cancelled-policies>
    <agt-alert-group-unusual-applied-renewals
        class="agt-width-100"
        [groupId]="groupId"
        [rangeStart]="rangeStart"
        [rangeEnd]="rangeEnd"
    ></agt-alert-group-unusual-applied-renewals>
    <agt-alert-group-unusual-applied-payments
        class="agt-width-100"
        [groupId]="groupId"
        [rangeStart]="rangeStart"
        [rangeEnd]="rangeEnd"
    ></agt-alert-group-unusual-applied-payments>

    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <agt-chart-group-wallet-projection [groupId]="groupId"></agt-chart-group-wallet-projection>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-card-group-wallet-global [groupId]="groupId"></agt-card-group-wallet-global>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-group-active-coverages [groupId]="groupId"></agt-chart-group-active-coverages>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-group-preferred-insurers [groupId]="groupId"></agt-chart-group-preferred-insurers>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-group-global-balance [groupId]="groupId"></agt-chart-group-global-balance>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <agt-chart-group-renewal-progress
            [groupId]="groupId"
            [rangeStart]="rangeStart"
            [rangeEnd]="rangeEnd"
        ></agt-chart-group-renewal-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <agt-card-group-renewal-reports
            [groupId]="groupId"
            [rangeStart]="rangeStart"
            [rangeEnd]="rangeEnd"
        ></agt-card-group-renewal-reports>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <agt-chart-group-payment-progress
            [groupId]="groupId"
            [rangeStart]="rangeStart"
            [rangeEnd]="rangeEnd"
        ></agt-chart-group-payment-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <agt-card-group-payment-reports
            [groupId]="groupId"
            [rangeStart]="rangeStart"
            [rangeEnd]="rangeEnd"
        ></agt-card-group-payment-reports>
    </div>
</div>
