<!-- AGENTHOS - INCOMPLETE POLICIES -->
<!-- (JUST IF INCOMPLETE POLICIES DETECTED) -->
<div class="row mt-3" *ngIf="model.policies.length > 0">

    <div class="col-12">
        <agt-card-content-title
            title="Pólizas Pendientes"
            description="Mostrando pólizas cargadas con información pendiente."
        ></agt-card-content-title>
    </div>

    <!-- AGENTHOS - POLICY CARD -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let policy of model.policies">
        <agt-card-policy
            [policy]="policy"
            (updatePolicy)="showModalToConfirmUpdatePolicy($event)"
            (renewPolicy)="showModalToConfirmRenewPolicy($event)"
            (reissuePolicy)="showModalToConfirmReissuePolicy($event)"
            (showHistoryPolicy)="showModalToConfirmShowPolicyHistory($event)"
            (showPaymentHistory)="showModalToConfirmShowPolicyPaymentHistory($event)"
            (showPolicySinisters)="showModalToConfirmShowPolicySinisterHistory($event)"
            (showPolicyDetails)="showModalToConfirmShowPolicyDetails($event)"
            (showPolicy)="showModalToConfirmShowPolicy($event)"
        ></agt-card-policy>
    </div>
    <!-- AGENTHOS - POLICY CARD -->

    <!-- AGENTHOS - SHOW MORE -->
    <div class="col-12" *ngIf="model.totalPolicies > 4">
        <div class="card">
            <div class="card-body">
                <!-- AGENTHOS - LOAD MORE (ONLY IF PENDING ITEMS) -->
                <div class="btn-list text-center">
                    <button type="button" class="btn btn-block btn-primary" (click)="goToWorkspacePoliciesPending()"><strong>MOSTRAR TODAS</strong></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - SHOW MORE -->
</div>
<!-- AGENTHOS - INCOMPLETE POLICIES -->

<agt-modal-confirm-show-history-policy
    [modalId]="modalIdConfirmShowPolicyHistory"
    [contactId]="selectedContactId"
    [policyId]="selectedPolicyId">
</agt-modal-confirm-show-history-policy>
<agt-modal-show-policy-details
    [modalId]="modalIdShowPolicyDetails"
    [contactId]="selectedContactId"
    [policyId]="selectedPolicyId"
    [isHistoryContent]="false"
    (showPolicy)="showModalToConfirmShowPolicy($event)"
></agt-modal-show-policy-details>
<agt-modal-show-policy
    [modalId]="modalIdShowPolicy"
    [contactId]="selectedContactId"
    [policyId]="selectedPolicyId"
></agt-modal-show-policy>
<agt-modal-confirm-update-policy 
    [modalId]="modalIdConfirmUpdatePolicy" 
    [contactId]="selectedContactId" 
    [policyId]="selectedPolicyId"
></agt-modal-confirm-update-policy>
<agt-modal-confirm-renew-policy 
    [modalId]="modalIdConfirmRenewPolicy" 
    [contactId]="selectedContactId" 
    [policyId]="selectedPolicyId" 
    (actionTypeSelected)="showModalToSelectContactType($event)"
></agt-modal-confirm-renew-policy>
<agt-modal-confirm-reissue-policy 
    [modalId]="modalIdConfirmReissuePolicy" 
    [contactId]="selectedContactId" 
    [policyId]="selectedPolicyId" 
    (actionTypeSelected)="showModalToSelectContactType($event)"
></agt-modal-confirm-reissue-policy>
<agt-modal-select-contact-type 
    [modalId]="modalIdSelectContactType" 
    [actionType]="selectedActionType" 
    [contactId]="selectedContactId" 
    [policyId]="selectedPolicyId"
></agt-modal-select-contact-type>
<agt-modal-confirm-show-payment-history 
    [modalId]="modalIdConfirmShowPolicyPaymentHistory" 
    [contactId]="selectedContactId" 
    [policyId]="selectedPolicyId" 
    [paymentId]="selectedPaymentId"
></agt-modal-confirm-show-payment-history>
<agt-modal-confirm-show-policy-sinisters 
    [modalId]="modalIdConfirmShowPolicySinisterHistory" 
    [policyData]="selectedPolicyData"
></agt-modal-confirm-show-policy-sinisters>
    
