<ng-container *ngIf="!isLoadingContent && contentResultData.loadedItems === contentResultData.totalItems && !!query">
    <div class="col-sm-12">
        <div class="card">
            <!-- AGENTHOS - RETURN BUTTON -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-block btn-primary" (click)="onClickBack()"><strong>REGRESAR</strong></button>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - RETURN BUTTON -->
        </div>
    </div>
</ng-container>
