<ng-container *ngIf="!!sinisterData">
    <agt-container-contact-details [contactId]="sinisterData.contactId" [message]="contactDetailsMessage"></agt-container-contact-details>

    <!-- AGENTHOS - SINISTER DETAILS -->
    <div class="row" *ngIf="!!finalizeSinisterService.sinister">
        <div class="col-md-4">
            <!-- AGENTHOS - CANCELATION RESUME -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Evidencia de Resolución</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- AGENTHOS - SINISTER EVIDENCE -->
                            <button type="button" class="btn btn-block btn-primary" *ngIf="!!finalizeSinisterService.f.evidenceFile.value; else uploadEvidence" (click)="onClickUploadEvidence()"><strong>ACTUALIZAR EVIDENCIA</strong></button>
                            <ng-template #uploadEvidence>
                                <button type="button" class="btn btn-block btn-secondary" (click)="onClickUploadEvidence()"><strong>ADJUNTAR EVIDENCIA</strong></button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - CANCELATION RESUME -->
            <!-- AGENTHOS - POLICY RESUME -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Bien Asegurado</label>
                                    <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.coveredProperty" disabled="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">No. Póliza</label>
                                    <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.policyNumber" disabled="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">No. Cliente</label>
                                    <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.clientNumber" disabled="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Aseguradora</label>
                                    <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.insurerName | uppercase" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY RESUME -->
        </div>

        <div class="col-md-8">
            <!-- AGENTHOS - SINISTER RESOLUTION -->
            <form [formGroup]="finalizeSinisterService.sinisterForm" (submit)="onSubmitFinalizeSinister()">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Resolución del Siniestro</h3>
                    </div>
                    <div class="card-body">
                        <div class="block-content">
                            <div class="form-group row">
                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Resolución de Siniestro</label>
                                        <select class="form-control custom-select {{getValidationClass('sinisterResolutionId')}}" formControlName="sinisterResolutionId">
                                            <option [value]="sinisterResolution.sinisterResolutionId" *ngFor="let sinisterResolution of finalizeSinisterService.sinisterResolutions">{{sinisterResolution.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">{{getErrorMessage('sinisterResolutionId')}}</div>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Fecha de Resolución</label>
                                        <input [id]="calendarIdResolutionDate" class="form-control fc-datepicker {{getValidationClass('resolutionDate')}}" type="text" formControlName="resolutionDate">
                                        <div class="invalid-feedback">{{getErrorMessage('resolutionDate')}}</div>
                                    </div>
                                </div>
                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Indemnización Total</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('indemnificationAmount')}}" formControlName="indemnificationAmount">
                                            <div class="invalid-feedback">{{getErrorMessage('indemnificationAmount')}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Moneda</label>
                                        <select class="form-control custom-select {{getValidationClass('currencyId')}}" formControlName="currencyId">
                                            <option [value]="currency.currencyId" *ngFor="let currency of finalizeSinisterService.currencies">{{currency.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">{{getErrorMessage('currencyId')}}</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER RESOLUTION -->
                <!-- AGENTHOS - SINISTER DETAILS -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detalles del Siniestro</h3>
                    </div>
                    <div class="card-body">
                        <div class="block-content">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SINISTER DATE -->
                                        <label class="form-label">Fecha del Siniestro</label>
                                        <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.sinisterDate" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SINISTER NUMBER -->
                                        <label class="form-label">No. de Siniestro</label>
                                        <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.sinisterNumber" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SINISTER INVOICE -->
                                        <label class="form-label">No. de Folio</label>
                                        <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.invoice" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SINISTER CERTIFICATE -->
                                        <label class="form-label">No. de Certificado</label>
                                        <input type="text" class="form-control" [placeholder]="finalizeSinisterService.sinister.certificate" readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER DETAILS -->
                <!-- AGENTHOS - SINISTER CLOSE -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- ACTION TARGET: AGTVIEW0022-1 -->
                                <button type="submit" class="btn btn-block btn-primary"><strong>FINALIZAR SINIESTRO</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CLOSE -->
            </form>
        </div>
    </div>
    <!-- AGENTHOS - SINISTER DETAILS -->
</ng-container>

<agt-modal-select-evidence [modalId]="modalIdUploadEvidence" [data]="modalSelectFileData" (fileSelected)="onFileSelected($event)"></agt-modal-select-evidence>
