<!-- AGENTHOS - SOCIAL CONNECT NEW TWITTER -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Crear Perfil</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify"><strong>¿Aún no tienes perfil de Twitter?</strong></p>
						<p class="text-justify">Agenthos te ayudará a crear un perfil de Twitter. <strong>Por favor crea un perfil de Twitter para continuar</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<a href="https://www.twitter.com/signup" target="_blank">
					    <button type="button" class="btn btn-block agt-btn-primary" (click)="closeModal()"><strong>CREAR PERFIL DE TWITTER</strong></button>
                    </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - SOCIAL CONNECT NEW TWITTER -->