<div class="card">
    <div class="card-body text-center">
        <i class="fa {{icon}} agt-icon-primary fa-3x"></i>
        <h6 class="mt-3 mb-3">{{title}}</h6>
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1">Configura tus <strong>{{subtitle}}</strong> {{description}}</li>
        </ol>
    </div>
    <div class="card-footer" *ngIf="isCompleted !== null">
        <a [routerLink]="'/' + route">
            <button type="button" class="btn btn-block {{buttonClass}}"><i class="fe {{buttonIcon}} mr-2"></i><strong>{{buttonLabel}}</strong></button>
        </a>
    </div>
</div>