<div class="card">
    <div class="card-header">
        <h3 class="card-title">Generar Reporte</h3>
    </div>
    <!-- AGENTHOS - DATA SUITE REPORT GENERATOR -->
    <div class="card-body">
        <ol class="breadcrumb1 mt-2">
            <li class="breadcrumb-item1">Genera un reporte de <strong>Pólizas Vigentes</strong>.</li>
        </ol>
        <button type="button" class="btn btn-block btn-primary mt-5" (click)="downloadReport()"><strong>DESCARGAR REPORTE</strong></button>
    </div>
    <!-- //AGENTHOS - DATA SUITE REPORT GENERATOR -->
</div>
