<!-- AGENTHOS - SINISTER NEW -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form [formGroup]="modalCreateSinisterService.sinisterForm" (submit)="onSubmitCreateSinister()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reportar Siniestro</h5>
                    <button type="button" class="close" (click)="onClickCloseModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">No. Reporte</label>
                                <input type="text" class="form-control {{getValidationClass('reportNumber')}}" formControlName="reportNumber">
                                <div class="invalid-feedback">{{getErrorMessage('reportNumber')}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Ejecutivo Asignado</label>
                                <input type="text" class="form-control {{getValidationClass('manager')}}" formControlName="manager">
                                <div class="invalid-feedback">{{getErrorMessage('manager')}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">No. Siniestro</label>
                                <input type="text" class="form-control {{getValidationClass('sinisterNumber')}}" placeholder="Ingresa el no. de siniestro." formControlName="sinisterNumber">
                                <div class="invalid-feedback">{{getErrorMessage('sinisterNumber')}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">No. Folio</label>
                                <input type="text" class="form-control {{getValidationClass('invoice')}}" placeholder="Ingresa el no. de folio." formControlName="invoice">
                                <div class="invalid-feedback">{{getErrorMessage('invoice')}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Fecha Siniestro</label>
                                <input [id]="calendarIdSinisterDate" type="text" class="form-control fc-datepicker {{getValidationClass('sinisterDate')}}" placeholder="08/09/2020" formControlName="sinisterDate">
                                <div class="invalid-feedback">{{getErrorMessage('sinisterDate')}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Resolución Estimada</label>
                                <input [id]="calendarIdResolutionDate" type="text" class="form-control fc-datepicker {{getValidationClass('resolutionDate')}}" placeholder="08/09/2020" formControlName="resolutionDate">
                                <div class="invalid-feedback">{{getErrorMessage('resolutionDate')}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Tipo de Siniestro</label>
                                <select class="form-control custom-select {{getValidationClass('sinisterTypeId')}}" formControlName="sinisterTypeId">
                                    <option [value]="sinisterType.sinisterTypeId" *ngFor="let sinisterType of modalCreateSinisterService.sinisterTypes">{{sinisterType.name}}</option>
                                </select>
                                <div class="invalid-feedback">{{getErrorMessage('sinisterTypeId')}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Ubicación del Siniestro</label>
                                <input type="text" class="form-control {{getValidationClass('location')}}" placeholder="Dirección del Siniestro" formControlName="location">
                                <div class="invalid-feedback">{{getErrorMessage('location')}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-block btn-primary"><strong>REPORTAR SINIESTRO</strong></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- //AGENTHOS - SINISTER NEW -->
