<!-- AGENTHOS - CREATE NEW CONTACT -->
<div class="row">
    <div class="col-sm-12">
        <agt-content-search-engine [contentType]="contentType" [contentTypeName]="contentTypeName" [actionType]="actionType" [originContactId]="contactId" [originPolicyId]="policyId"></agt-content-search-engine>
    </div>
</div>
<!-- AGENTHOS - CREATE NEW CONTACT -->

<!-- AGENTHOS - CREATE NEW CONTACT -->
<div class="row mt-3">
    <div class="col-sm-12">
        <agt-container-create-contact [contactTypeId]="contactTypeId" (contactCreated)="onContactCreated($event)"></agt-container-create-contact>
    </div>
</div>
