<!-- AGENTHOS - PROFILE PANEL -->
<div class="row" *ngIf="!!contactProfileService.contact">
    <!-- AGENTHOS - PROFILE CARD -->
    <div class="col-lg-8">
        <div class="card ">
            <div class="card-header pt-0 pb-0 border-bottom-0">
                <h3 class="card-title">Perfil de Contacto</h3>
                <!-- AGENTHOS - CONTACT MENU -->
                <div class="card-options">
                    <a href="" class="mr-2 text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-bars"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <div class="dropdown-plus-title">Acciones Disponibles</div>
                        <button type="button" class="dropdown-item" (click)="showModalContactDetails()"><i class="fa fa-id-card-o mr-2"></i>Ver Detalles</button>
                        <button type="button" class="dropdown-item" (click)="goToUpdateContact()"><i class="fa fa-edit mr-2"></i>Actualizar Contacto</button>
                        <button type="button" class="dropdown-item" (click)="goToSelectInsurer()"><i class="fa fa-file-text-o mr-2"></i>Agregar Póliza</button>
                        <ng-container *ngIf="canDeleteContact">
                            <div class="dropdown-divider"></div>
                            <!-- AGENTHOS - CONTACT DELETE -->
                            <button type="button" class="dropdown-item" (click)="showModalConfirmDeleteContact()"><i class="fa fa-exclamation-circle mr-2"></i>Eliminar Contacto</button>
                        </ng-container>
                    </div>
                </div>
                <!-- //AGENTHOS - CONTACT MENU -->
            </div>
            <!-- AGENTHOS - PROFILE RESUME -->
            <div class="card-body pt-0">
                <div class="media">
					<img class="avatar avatar-xl bradius mr-3" [src]="contactProfileService.contact.avatarUrl" alt="Agenthos Contact Pic">
					<div class="media-body">
						<div class="d-md-flex align-items-center">
							<div>
								<h3 class="mb-0">{{contactProfileService.contact.contactName}}</h3>
								<p class="mb-0 fs-13 text-muted">Origen: {{contactProfileService.contact.contactSourceTypeName}}</p>
								<p class="mb-0 fs-13 text-muted">Teléfono: {{contactProfileService.contact.phoneNumber | phoneNumberFormat: contactProfileService.contact.phoneCode}}</p>
							</div>
						</div>
					</div>
				</div>
            </div>
            <!-- //AGENTHOS - PROFILE RESUME -->
            <!-- AGENTHOS - PROFILE MENU -->
            <div class="card-footer pt-1 pb-1">
                <ul class="nav nav-pills nav-pills-circle" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link border agt-btn-nav p-3 m-2" [routerLink]="ROUTES_NAME.contactResume(contactId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-activity"></i> Resumen</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border agt-btn-nav p-3 m-2" [routerLink]="ROUTES_NAME.listContactQuotations(contactId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-bookmark"></i> Cotizaciones</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border agt-btn-nav p-3 m-2" [routerLink]="ROUTES_NAME.listContactPolicies(contactId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-shield"></i> Pólizas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border agt-btn-nav p-3 m-2" [routerLink]="ROUTES_NAME.listContactSinisters(contactId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-life-buoy"></i> Siniestros</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border agt-btn-nav p-3 m-2" [routerLink]="ROUTES_NAME.showContactData(contactId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-smartphone"></i> Contacto</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border agt-btn-nav p-3 m-2" [routerLink]="ROUTES_NAME.listContactFiles(contactId)" routerLinkActive="active">
                            <span class="nav-link-icon d-block"><i class="fe fe-download-cloud"></i> Expediente</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //AGENTHOS - PROFILE MENU -->
        </div>
    </div>
    <!-- AGENTHOS - PROFILE CARD -->

    <!-- AGENTHOS - PROFILE WALLET -->
    <div class="col-lg-4">
        <agt-card-contact-annual-wallet
            [contactId]="contactId"
            [pageType]="pageType"
        ></agt-card-contact-annual-wallet>
    </div>
</div>
<!-- //AGENTHOS - PROFILE PANEL -->

<router-outlet></router-outlet>

<agt-modal-show-contact-details
    [modalId]="modalIdShowContactDetails"
    [contact]="contactProfileService.contact"
></agt-modal-show-contact-details>
<agt-modal-confirm-delete-contact
    [modalId]="modalIdConfirmDeleteContact"
    (actionConfirmed)="deleteContact()"
></agt-modal-confirm-delete-contact>
