<!-- AGENTHOS - PAYMENT CHECKPOINT -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Aplicar Pago</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify"><strong>¿Deseas aplicar el pago?</strong></p>
						<p class="text-justify">Por favor selecciona cómo deseas registrar la aplicación de este pago.</p>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-block btn-primary mt-5" (click)="onClickPreauthorizePayment()"><strong>PAGO PREAUTORIZADO</strong></button>
						<button type="button" class="btn btn-block btn-primary mt-5" (click)="onClickApplyPayment()"><strong>PAGO DEFINITIVO</strong></button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-block btn btn-secondary" data-dismiss="modal">CANCELAR</button>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - PAYMENT CHECKPOINT -->
