<!-- AGENTHOS - CONTENT HEADER -->
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Prospectos Nuevos</h3>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - CONTENT HEADER -->
<!-- AGENTHOS - CONTENT LIST -->
<div class="row">
    <div class="col-md-3 col-xl-3" *ngFor="let content of contentListService.contents">
        <agt-card-lead [lead]="content" (showContactData)="onShowContactData($event)"></agt-card-lead>
    </div>
</div>
<!-- //AGENTHOS - CONTENT LIST -->

<agt-loading-content [isLoadingContent]="isLoadingContent"></agt-loading-content>


<!-- AGENTHOS - CONTENT ACTIONS -->
<ng-container *ngIf="contentType === CONTENT_TYPES.LEAD">
    <agt-modal-show-contact-data [modalId]="showContactDataModalId" [contactId]="selectedContactId"></agt-modal-show-contact-data>
</ng-container>
<!-- //AGENTHOS - CONTENT ACTIONS -->
