<agt-container-incomplete-policies *ngIf="contentType === CONTENT_TYPES.CONTACT_POLICY.ID" [contactId]="contactId" [contentTypeName]="contentTypeName" (policyDeleted)="onPolicyDeleted()"></agt-container-incomplete-policies>

<!-- AGENTHOS - CONTENT HEADER -->
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{contentTypeName | pluralNameFormat}} {{contentSubtypeName | pluralNameFormat}}</h3>
            </div>
            <div class="card-body" *ngIf="canShowTotalResults">
                <agt-content-total-results [query]="query" [totalResults]="totalResults"></agt-content-total-results>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - CONTENT HEADER -->
<!-- AGENTHOS - CONTENT LIST -->
<div class="row">
    <div class="col-md-3 col-xl-3" *ngFor="let content of contentListService.contents">
        <ng-container [ngSwitch]="contentType">
            <agt-card-contact *ngSwitchCase="CONTENT_TYPES.CONTACT.ID"
                [contact]="content"
                (showContactData)="onShowContactData($event)"
                (contactSelected)="onContactSelected($event)"
            ></agt-card-contact>
            <agt-card-lead *ngSwitchCase="CONTENT_TYPES.LEAD.ID" [lead]="content" (showContactData)="onShowContactData($event)"></agt-card-lead>
            <agt-card-client *ngSwitchCase="CONTENT_TYPES.CLIENT.ID" [client]="content" (showContactData)="onShowContactData($event)"></agt-card-client>
            <agt-card-quotation *ngSwitchCase="CONTENT_TYPES.CONTACT_QUOTATION.ID" [quotation]="content" (showQuotationDetails)="onShowQuotationDetails($event)" (acceptQuotation)="onAcceptQuotation($event)" (rejectQuotation)="onRejectQuotation($event)"></agt-card-quotation>
            <agt-card-policy *ngSwitchCase="CONTENT_TYPES.CONTACT_POLICY.ID"
                [policy]="content"
                (showPolicyDetails)="onShowPolicyDetails($event)"
                (showPolicy)="onShowPolicy($event)"
                (updatePolicy)="onUpdatePolicy($event)"
                (endorsePolicy)="onEndorsePolicy($event)"
                (cancelPolicy)="onCancelPolicy($event)"
                (renewPolicy)="onRenewPolicy($event)"
                (reissuePolicy)="onReissuePolicy($event)"
            ></agt-card-policy>
        </ng-container>
    </div>
</div>
<!-- //AGENTHOS - CONTENT LIST -->

<agt-loading-content [isLoadingContent]="isLoadingContent"></agt-loading-content>
<agt-content-results [isLoadingContent]="isLoadingContent" [contentResultData]="contentListService.contentResultData" [contentTypeName]="contentTypeName" [contentSubtypeName]="contentSubtypeName" (loadMoreContents)="onLoadMoreContents()"></agt-content-results>
<agt-content-suggestions [isLoadingContent]="isLoadingContent" [contentResultData]="contentListService.contentResultData" [contentType]="contentType" [contentTypeName]="contentTypeName"></agt-content-suggestions>

<!-- AGENTHOS - CONTENT ACTIONS -->
<ng-container *ngIf="contentType === CONTENT_TYPES.CONTACT.ID || contentType === CONTENT_TYPES.LEAD.ID || contentType === CONTENT_TYPES.CLIENT.ID">
    <agt-modal-show-contact-data [modalId]="modalIdShowContactData" [contactId]="selectedContactId"></agt-modal-show-contact-data>
    <agt-modal-select-contact [modalId]="modalIdSelectContact" [contactId]="selectedContactId"></agt-modal-select-contact>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.CONTACT_QUOTATION.ID">
    <agt-modal-show-quotation-details [modalId]="modalIdShowQuotationDetails" [contactId]="contactId" [quotationId]="selectedQuotationId"></agt-modal-show-quotation-details>
    <agt-modal-confirm-accept-quotation [modalId]="modalIdAcceptQuotation" [contactId]="contactId" [quotationId]="selectedQuotationId"></agt-modal-confirm-accept-quotation>
    <agt-modal-confirm-reject-quotation [modalId]="modalIdRejectQuotation" [contactId]="contactId" [quotationId]="selectedQuotationId"></agt-modal-confirm-reject-quotation>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.CONTACT_POLICY.ID">
    <agt-modal-show-policy-details [modalId]="modalIdShowPolicyDetails" [contactId]="contactId" [policyId]="selectedPolicyId" (showPolicy)="onShowPolicy($event)"></agt-modal-show-policy-details>
    <agt-modal-show-policy [modalId]="modalIdShowPolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-show-policy>
    <agt-modal-confirm-update-policy [modalId]="modalIdConfirmUpdatePolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-update-policy>
    <agt-modal-confirm-endorse-policy [modalId]="modalIdConfirmEndorsePolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-endorse-policy>
    <agt-modal-confirm-cancel-policy [modalId]="modalIdConfirmCancelPolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-cancel-policy>
    <agt-modal-confirm-renew-policy [modalId]="modalIdConfirmRenewPolicy" [contactId]="contactId" [policyId]="selectedPolicyId" (actionTypeSelected)="onActionTypeSelected($event)"></agt-modal-confirm-renew-policy>
    <agt-modal-confirm-reissue-policy [modalId]="modalIdConfirmReissuePolicy" [contactId]="contactId" [policyId]="selectedPolicyId" (actionTypeSelected)="onActionTypeSelected($event)"></agt-modal-confirm-reissue-policy>
    <agt-modal-select-contact-type [modalId]="modalIdSelectContactType" [actionType]="selectedActionType" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-select-contact-type>
</ng-container>
<!-- //AGENTHOS - CONTENT ACTIONS -->
