<!-- AGENTHOS - CONTENT HEADER -->
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{contentTypeName | pluralNameFormat}} {{contentSubtypeName | pluralNameFormat}}</h3>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - CONTENT HEADER -->
<!-- AGENTHOS - CONTENT LIST -->
<div class="row">
    <div class="col-md-3 col-xl-3" *ngFor="let content of contentListService.contents">
        <ng-container [ngSwitch]="contentType">
            <agt-card-lead *ngSwitchCase="CONTENT_TYPES.LEAD.ID" [lead]="content" (showContactData)="onShowContactData($event)"></agt-card-lead>
            <agt-card-quotation *ngSwitchCase="CONTENT_TYPES.CONTACT_QUOTATION.ID" [quotation]="content" (showQuotationDetails)="onShowQuotationDetails($event)" (acceptQuotation)="onAcceptQuotation($event)"></agt-card-quotation>
        </ng-container>
    </div>
</div>
<!-- //AGENTHOS - CONTENT LIST -->

<agt-loading-content [isLoadingContent]="isLoadingContent"></agt-loading-content>
<agt-content-results [isLoadingContent]="isLoadingContent" [contentResultData]="contentListService.contentResultData" [contentTypeName]="contentTypeName" [contentSubtypeName]="contentSubtypeName" (loadMoreContents)="onLoadMoreContents()"></agt-content-results>
<agt-content-suggestions [isLoadingContent]="isLoadingContent" [contentResultData]="contentListService.contentResultData" [contentType]="contentType" [contentTypeName]="contentTypeName"></agt-content-suggestions>

<!-- AGENTHOS - CONTENT ACTIONS -->
<ng-container *ngIf="contentType === CONTENT_TYPES.LEAD.ID">
    <agt-modal-show-contact-data [modalId]="showContactDataModalId" [contactId]="selectedContactId"></agt-modal-show-contact-data>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.CONTACT_QUOTATION.ID">
    <agt-modal-show-quotation-details [modalId]="showQuotationDetailsModalId" [contactId]="contactId" [quotationId]="selectedQuotationId"></agt-modal-show-quotation-details>
    <agt-modal-accept-quotation [modalId]="acceptQuotationModalId" [contactId]="contactId" [quotationId]="selectedQuotationId"></agt-modal-accept-quotation>
</ng-container>
<!-- //AGENTHOS - CONTENT ACTIONS -->
