<agt-container-policy-details
    [contactId]="contactId"
    [policyId]="policyId">
</agt-container-policy-details>

<agt-container-payments-manager
    *ngIf="contentType == CONTENT_TYPES.PAYMENT_HISTORY.ID"
    [contactId]="contactId"
    [policyId]="policyId"
    [paymentId]="paymentId">
</agt-container-payments-manager>

<agt-container-policy-manager
    *ngIf="contentType == CONTENT_TYPES.HISTORY_POLICY.ID"
    [contactId]="contactId"
    [policyId]="policyId">
</agt-container-policy-manager>

<agt-container-policy-endorsements-manager
    *ngIf="contentType == CONTENT_TYPES.POLICY_ENDORSEMENTS_HISTORY.ID"
    [contactId]="contactId"
    [policyId]="policyId">
</agt-container-policy-endorsements-manager>

<agt-content-list
    [contentType]="contentType"
    [contentTypeName]="contentTypeName"
    [contactId]="contactId"
    [policyId]="policyId"
    [paymentId]="paymentId"
    [contentSubtype]="contentSubtype"
    [contentSubtypeName]="contentSubtypeName">
</agt-content-list>
