<agt-container-policy-details [contactId]="contactId" [policyId]="policyId"></agt-container-policy-details>
<agt-container-payments-manager *ngIf="contentType == CONTENT_TYPES.PAYMENT_HISTORY.ID" [paymentId]="paymentId"></agt-container-payments-manager>
<agt-content-list [contentType]="contentType" [contentTypeName]="contentTypeName" [contactId]="contactId" [policyId]="policyId" [paymentId]="paymentId" [contentSubtype]="contentSubtype" [contentSubtypeName]="contentSubtypeName"></agt-content-list>
