<div class="row mt-5">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Gestión de Pagos</h3>
			</div>
			<ng-container *ngIf="!!model.payment; else loadingContent">
                <div class="card-body">
    				<ol class="breadcrumb1 mb-0" *ngIf="!!model.payment.paymentDate; else noPendingReceipts">
    					<li class="breadcrumb-item1">El siguiente pago para esta póliza es el <strong>{{model.payment.paymentDate | date: 'dd/MM/yyyy'}}</strong>.</li>
    				</ol>
    			</div>
    			<div class="card-footer">
    				<div class="btn-list mt-3">
    					<button type="button" class="btn btn-secondary" (click)="showPolicy()"><strong>VER PÓLIZA</strong></button>
                        <ng-container *ngIf="!!model.payment.paymentDate">
                            <button type="button" class="btn btn-primary" (click)="showModalToChangePaymentDate()"><strong>CAMBIAR FECHA</strong></button>
                            <button type="button" class="btn btn-primary" *ngIf="model.payment.policyStatusId == POLICY_STATUS.CURRENT" (click)="confirmSuspendPayments()"><strong>SUSPENDER PAGOS</strong></button>
        					<button type="button" class="btn btn-primary" *ngIf="model.payment.policyStatusId == POLICY_STATUS.SUSPENDED" (click)="confirmActivatePayments()"><strong>ACTIVAR PAGOS</strong></button>
        					<button type="button" class="btn btn-primary" *ngIf="canShowPendingReceipts; else paymenHistory" (click)="goToPendingReceipts()"><strong>RECIBOS PENDIENTES</strong></button>
        					<ng-template #paymenHistory>
								<button type="button" class="btn btn-primary" (click)="goToPaymentHistory()"><strong>PAGOS APLICADOS</strong></button>
							</ng-template>
						</ng-container>
                    </div>
    			</div>
            </ng-container>
		</div>
	</div>
</div>

<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true" [height]="174"></agt-loading-content>
</ng-template>

<ng-template #noPendingReceipts>
    <ol class="breadcrumb1 mb-0">
        <li class="breadcrumb-item1"><strong>Sin recibos pendientes</strong>. Esta póliza ya cuenta con todos los recibos pagados.</li>
    </ol>
</ng-template>
<ng-container *ngIf="!!model.payment">
    <agt-modal-show-policy-file [modalId]="modalIdShowPolicyFile" [policyUrl]="model.payment.policyUrl"></agt-modal-show-policy-file>
    <agt-modal-change-payment-date [modalId]="modalIdChangePaymentDate" [paymentId]="paymentId" (paymenDateUpdated)="updatePaymentDate($event)"></agt-modal-change-payment-date>
	<agt-modal-confirm-suspend-payments [modalId]="modalIdConfirmSuspendPayments" (actionConfirmed)="suspendPayments()"></agt-modal-confirm-suspend-payments>
	<agt-modal-confirm-activate-payments [modalId]="modalIdConfirmActivatePayments" (actionConfirmed)="activatePayments()"></agt-modal-confirm-activate-payments>
</ng-container>
