<!-- AGENTHOS - PAYMENTS CONTROL -->
<div class="row mt-5">
	<!-- AGENTHOS - POLICY OWNER -->
	<div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
		<div class="card">
			<!-- AGENTHOS - PAYMENTS CONTROL HEADER -->
			<div class="card-header">
				<h3 class="card-title">Detalles de Póliza</h3>
			</div>
			<!-- AGENTHOS - PAYMENTS CONTROL HEADER -->
			<!-- AGENTHOS - PAYMENTS CONTROL BODY -->
			<div class="card-body">
				<div class="btn-list">
					<!-- AGENTHOS - POLICY DETAILS -->
					<button type="button" class="btn btn-block btn-primary" (click)="goToPolicyHistory()"><strong>VER DETALLES</strong></button>
				</div>
			</div>
			<!-- //AGENTHOS - PAYMENTS CONTROL BODY -->
		</div>
	</div>
	<!-- //AGENTHOS - POLICY OWNER -->
	<div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
		<div class="card">
			<!-- AGENTHOS - PAYMENTS CONTROL HEADER -->
			<div class="card-header">
				<h3 class="card-title">Gestión de Pagos</h3>
			</div>
			<!-- AGENTHOS - PAYMENTS CONTROL HEADER -->
			<!-- AGENTHOS - PAYMENTS CONTROL BODY -->
			<div class="card-body">
				<div class="btn-list">
					<!-- AGENTHOS - POLICY PAYMENTS RECORD -->
					<button type="button" class="btn {{(selectedPaymentAction === PAYMENT_ACTIONS.SHOW_HISTORY) ? 'btn-secondary' : 'btn-outline-primary' }}" (click)="showModalToConfirmShowPaymentHistory()"><strong>VER HISTORIAL</strong></button>
					<!-- AGENTHOS - POLICY PAYMENTS APPLIED -->
					<button type="button" class="btn {{(selectedPaymentAction === PAYMENT_ACTIONS.RECEIPTS_PAID) ? 'btn-secondary' : 'btn-outline-primary' }}" (click)="showModalToConfirmShowReceiptsPaid()"><strong>RECIBOS PAGADOS</strong></button>
					<!-- AGENTHOS - POLICY PAYMENTS PENDING -->
					<button type="button" class="btn {{(selectedPaymentAction === PAYMENT_ACTIONS.PENDING_RECEIPTS) ? 'btn-secondary' : 'btn-outline-primary' }}" (click)="showModalToConfirmShowPendingReceipts()"><strong>RECIBOS PENDIENTES</strong></button>
					<!-- AGENTHOS - PAYMENT PAUSE -->
					<ng-container *ngIf="model.payment !== null">
						<!-- (JUST IF PAYMENTS ACTIVATED) -->
						<button type="button" class="btn btn-outline-primary" *ngIf="model.payment.policyStatusId == POLICY_STATUS.CURRENT" (click)="confirmSuspendPayments()"><strong>SUSPENDER PAGOS</strong></button>
						<!-- AGENTHOS - PAYMENT ACTIVE -->
						<!-- (JUST IF PAYMENTS PAUSED) -->
						<button type="button" class="btn btn-outline-primary" *ngIf="model.payment.policyStatusId == POLICY_STATUS.SUSPENDED" (click)="confirmActivatePayments()"><strong>ACTIVAR PAGOS</strong></button>
					</ng-container>
				</div>
			</div>
			<!-- //AGENTHOS - PAYMENTS CONTROL BODY -->
		</div>
	</div>
</div>
<!-- //AGENTHOS - PAYMENTS CONTROL -->

<ng-container *ngIf="!!model.payment">
    <agt-modal-confirm-suspend-payments [modalId]="modalIdConfirmSuspendPayments" (actionConfirmed)="suspendPayments()"></agt-modal-confirm-suspend-payments>
	<agt-modal-confirm-activate-payments [modalId]="modalIdConfirmActivatePayments" (actionConfirmed)="activatePayments()"></agt-modal-confirm-activate-payments>
</ng-container>

<agt-modal-confirm-show-pending-payments
	[modalId]="modalIdConfirmShowPendingReceipts"
	[contactId]="contactId"
    [policyId]="policyId"
    [paymentId]="paymentId"
></agt-modal-confirm-show-pending-payments>

<agt-modal-confirm-show-payment-history
	[modalId]="modalIdConfirmShowPaymentHistory"
	[contactId]="contactId"
    [policyId]="policyId"
    [paymentId]="paymentId"
></agt-modal-confirm-show-payment-history>

<agt-modal-confirm-show-policy-receipts-paid
	[modalId]="modalIdConfirmShowReceiptsPaid"
	[contactId]="contactId"
    [policyId]="policyId"
    [paymentId]="paymentId"
></agt-modal-confirm-show-policy-receipts-paid>
