/* -- AGENTHOS - LOADER -- */
#global-loader {
  position: fixed;
  z-index: 50000;
  background: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%; 
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.loader-img {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 28%;
  margin: 0 auto; }

@keyframes ld-coin-h
{
  0% {
    animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.ld.ld-coin-h,.ld.ld-coin {
  animation: ld-coin-h 2s infinite linear; ; 
}


/* -- AGENTHOS - HEADER -- */
.header.top-header{
	background:linear-gradient(to right,#ff6b0b,#ff6b0b);
}


/* --  AGENTHOS - LOGO -- */
@media (max-width: 575.98px){
	.color-headerlogo .header-mobile{
		background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_app_light.png);
		background-repeat: no-repeat;
        background-size: contain;
        width: 48px;
        height: 48px;
    }
}
@media (max-width: 767.98px) and (min-width: 567px){
	.header-desktop{
		background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_white.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 148px;
	}
}
@media (max-width: 992px) and (min-width: 667px){
	.header-desktop{
		background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_white.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 148px;
	}
}
@media (max-width: 992px) and (min-width: 767px){
    .header-desktop{
        background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_white.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 148px;
    }
}
@media (max-width: 992px) and (min-width: 867px){
    .header-desktop{
        background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_white.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 148px;
    }
}
@media (min-width: 992px){
	.header-desktop{
		background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_white.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 148px;
	}
}
@media (min-width: 1024px){
    .header-desktop{
        background: url(https://webkit.atombits.xyz/agenthos/logo/agenthos_white.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 188px;
    }
}


/* -- AGENTHOS - SEARCH BAR -- */
@media (max-width: 879px) and (min-width: 768px){
    .header .form-inline .form-control{
        width: 308px !important;
        margin-left: 8px;
    }
}
@media (max-width: 942px) and (min-width: 879px){
	.header .form-inline .form-control{
    	width: 408px !important;
    	margin-left: 8px;
	}
}
@media (min-width: 1024px){
    .hor-topheader.header .form-inline .form-control {
    width: 268px;
    }
}

.header .form-inline .form-control {
    border: 1px solid rgba(258, 258, 258, 0.1);
    padding-left: 28px;
    width: 508px;
    padding-right: 48px;
    background: #fff;
    color: #536d98 !important;
    border-radius: 8px;
}


/*-- AGENTHOS - MENU --*/
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a.active {
    color: #002e71 !important;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: #fc4278;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a.active {
    color: #002e71;
}
.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a.active{
	color: #002e71;
}
.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
	color: #002e71;
    background: #fbfbfb;
}
.hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover{
	color: #fc4278;
    background: #fbfbfb;
}
.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active:hover{
	color: #fc4278;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	color: #fc4278;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{
	color:#fc4278;
}
.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover{
	color:#fc4278;
}
.horizontal-main2.horizontal-main {
    background: #002e71;
}
.horizontal-main1.horizontal-main {
    background: #002e71;
}
@media only screen and (max-width: 991px) {
	.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu li:hover>a {
		color: #fc4278 !important;
	}
	.horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:#fc4278;
	}
	.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
		background: #002e71 !important;
	}
	.hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover{
		background: #fc4278 !important;
	}
	.horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:#fc4278;
	}
}

/* -- AGENTHOS - FONT LIBRARY -- */
.agt-text-dark {
    color: #536d98;
}

.agt-text-light {
    color: #fbfbfb;
}

.agt-text-success {
    color: #2eb678 !important;
}

.agt-text-warning {
    color: #f5a628 !important;
}

.agt-text-danger {
    color: #ff1a18 !important;
}

/* -- AGENTHOS - CARD LIBRARY -- */
.card-header:before, .resp-tabs-list li.active:before{
	background: #002e71 !important;
}

.agt-card-primary {
    color: #757fe8;
	background: #d6e0f8;
    border-style: solid;
    border-color: #c6d4f8;
    box-sizing: border-box;
}

.agt-card-secondary {
    color: #3f4658;
    background: #e4e7e8;
    border-style: solid;
    border-color: #d9dde8;
    box-sizing: border-box;
}

.agt-card-info {
    color: #73B8D8 !important;
    background: #E1F0F8;
    border-style: solid;
    border-color: #73B8D8;
    box-sizing: border-box;
}

.agt-card-success {
    color: #92D268 !important;
    background: #E6F2E8;
    border-style: solid;
    border-color: #92D268;
    box-sizing: border-box;
}

.agt-card-warning {
    color: #E6AA68 !important;
    background: #F8F0E8;
    border-style: solid;
    border-color: #E6AA68;
    box-sizing: border-box;
}

.agt-card-danger {
    color: #b02a38 !important;
    background: #f8d7d8;
    border-style: solid;
    border-color: #f1aeb8;
    box-sizing: border-box;
}

/* -- AGENTHOS - BUTTON LIBRARY -- */
.agt-btn-default {
  color: #282828;
  background: #e6e9f8 !important;
  border-color: #eef1f8; }
.agt-btn-default:hover {
    color: #ffffff;
    background-color: #b8c4e8 !important;
    border-color: #b8c4e8; }
.agt-btn-default:focus, .agt-btn-default.focus {
    box-shadow: 0 0 0 2px #744f88; }

.agt-btn-primary {
  color: #fbfbfb;
  background: #002e71 !important;
  border-color: #744f88; }
.agt-btn-primary:hover {
    color: #ffffff;
    background-color: #744f88 !important;
    border-color: #744f88; }
.agt-btn-primary:focus, .agt-btn-primary.focus {
    box-shadow: 0 0 0 2px #744f88; }

.agt-btn-secondary {
  color: #fbfbfb;
  background: #ff6b0b !important;
  border-color: #ff6b0b; }
.agt-btn-secondary:hover {
    color: #ffffff;
    background-color: #ff6b0b !important;
    border-color: #ff6b0b; }
.agt-btn-secondary:focus, .agt-btn-secondary.focus {
    box-shadow: 0 0 0 2px #ff6b0b; }

.agt-btn-delete {
  color: #fbfbfb;
  background: #fd2e68 !important;
  border-color: #f60248; }
.agt-btn-delete:hover {
    color: #ffffff;
    background-color: #f60248 !important;
    border-color: #f60248; }
.agt-btn-delete:focus, .agt-btn-delete.focus {
    box-shadow: 0 0 0 2px #f60248; }

.agt-btn-primary-outline {
  color: #002e71;
  background: #fbfbfb !important;
  border-color: #744f88; }
.agt-btn-primary-outline:hover {
    color: #ffffff;
    background-color: #744f88 !important;
    border-color: #744f88; }
.agt-btn-primary-outline:focus, .agt-btn-primary-outline.focus {
    box-shadow: 0 0 0 2px #744f88; }

.agt-btn-secondary-outline {
  color: #ff6b0b;
  background: #fbfbfb !important;
  border-color: #ff6b0b; }
.agt-btn-secondary-outline:hover {
    color: #ffffff;
    background-color: #ff6b0b !important;
    border-color: #ff6b0b; }
.agt-btn-secondary-outline:focus, .agt-btn-secondary-outline.focus {
    box-shadow: 0 0 0 2px #ff6b0b; }

.agt-btn-success-light {
  color: #149c38;
  background: #b1f4c3 !important;
  border-color: #a7f4bc; }
.agt-btn-success-light:hover {
    color: #fff;
    background-color: #2eb67d !important;
    border-color: #25931f; }
.agt-btn-success-light:focus, .agt-btn-success-light.focus {
    box-shadow: 0 0 0 2px #1dc64a; }

.agt-btn-info-light {
  color: #26c2f7;
  background: #ecf6fe;
  border-color: #e5f7fc; }
.agt-btn-info-light:hover {
    color: #fff;
    background-color: #26c2f7;
    border-color: #1da9d8; }
.agt-btn-info-light:focus, .agt-btn-info-light.focus {
    box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.9); }

.agt-btn-warning-light {
  color: #e0a01b;
  background: #f8e8c6 !important;
  border-color: #f8e8c6; }
.agt-btn-warning-light:hover {
    color: #fff;
    background-color: #f5a623 !important;
    border-color: #e5a623; }
.agt-btn-warning-light:focus, .agt-btn-warning-light.focus {
    box-shadow: 0 0 0 2px rgba(229, 175, 4, 0.9); }

.agt-btn-danger-light {
  color: #ff1a1a;
  background: #f8ccd3 !important;
  border-color: #f8ccd3; }
.agt-btn-danger-light:hover {
    color: #fff;
    background-color: #ff1a1a !important;
    border-color: #ed314c; }
.agt-btn-danger-light:focus, .agt-btn-danger-light.focus {
    box-shadow: 0 0 0 2px rgba(245, 51, 79, 0.9); }

.agt-btn-default-light {
  color: #292828;
  background: #e5e6f1;
  border-color: #e5e6f1; }
.agt-btn-default-light:hover {
    color: #292828;
    background-color: #dde8f2 !important;
    border-color: #dde8f2; }
.agt-btn-default-light:focus, .agt-btn-default-light.focus {
    box-shadow: 0 0 0 2px #f6f9fc; }


/* -- AGENTHOS - PULSE LIBRARY -- */
.agt-pulse-success {
  transition: background-color 0.4s ease-in-out;
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(58, 218, 178, 0.8);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 28px rgba(58, 218, 178, 0);
    }
    
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(58, 218, 178, 0);
    }
}


/* -- AGENTHOS - CALENDAR BUTTON LIBRARY -- */
.agt-btn-apple-calendar {
    color: #ffffff;
    background: #000000 !important;
    border-color: #000000; }
.agt-btn-apple-calendar:hover {
    color: #ffffff;
    background: #000000 !important;
    border-color: #000000; }
.agt-btn-apple-calendar:focus, .agt-btn-apple-calendar.focus {
    box-shadow: 0 0 0 2px #744f88; }

.agt-btn-google-calendar {
    color: #ffffff;
    background: #dc4e41 !important;
    border-color: #dc4e41; }
.agt-btn-google-calendar:hover {
    color: #ffffff;
    background: #dc4e41 !important;
    border-color: #dc4e41; }
.agt-btn-google-calendar:focus, .agt-btn-google-calendar.focus {
    box-shadow: 0 0 0 2px #744f88; }

.agt-btn-outlook-calendar {
    color: #ffffff;
    background: #0067b8 !important;
    border-color: #0067b8; }
.agt-btn-outlook-calendar:hover {
    color: #ffffff;
    background: #0067b8 !important;
    border-color: #0067b8; }
.agt-btn-outlook-calendar:focus, .agt-btn-outlook-calendar.focus {
    box-shadow: 0 0 0 2px #744f88; }


/* -- AGETHOS - SOCIAL BUTTON LIBRARY -- */
.agt-btn-whatsapp {
  color: #fbfbfb;
  background: linear-gradient(to right,#36cf18,#62f408);
  border-color: #2ec208; }
.agt-btn-whatsapp:hover {
    color: #ffffff;
    background-color: #45dd18 !important;
    border-color: #45dd18; }
.agt-btn-whatsapp:focus, .agt-btn-whatsapp.focus {
    box-shadow: 0 0 0 2px #45dd18; }

.agt-btn-mail {
  color: #fbfbfb;
  background: linear-gradient(to right,#0c3ba8,#1973d8);
  border-color: #061998; }
.agt-btn-mail:hover {
    color: #ffffff;
    background-color: #135cc8 !important;
    border-color: #135cc8; }
.agt-btn-mail:focus, .agt-btn-mail.focus {
    box-shadow: 0 0 0 2px #135cc8; }


/* -- AGENTHOS - PROGRESS BAR LIBRARY -- */
.agt-progress-bar-success {
    background: linear-gradient(to right,#9be158,#00e3a8);
}

.agt-progress-bar-warning {
    background: linear-gradient(to right,#fda088,#f6d368);
}

.agt-progress-bar-danger {
    background: linear-gradient(to right,#ff0f78,#f77068);
}


/* -- AGENTHOS - HELP MARK LIBRARY -- */
.agt-help-mark {
	color: #c471f8 !important;
}
.agt-help-mark:hover, .agt-help-mark:focus {
	color: #fa71c8 !important;
}


/* -- AGENTHOS - ICON LIBRARY -- */
.agt-icon-primary {
	color: #002e71 !important
}


/* -- AGENTHOS - BADGE LIBRARY -- */
.agt-badge-default {
    color: #fbfbfb;
    background-color: #343a48;
}
.agt-badge-primary-gradient {
	color: #fbfbfb;
    background: linear-gradient(to bottom right,#720b98,#c636f8) !important;
}

.agt-badge-info-gradient {
	color: #fbfbfb;
    background: linear-gradient(to bottom right,#4481e8,#04bef8) !important;
}

.agt-badge-success-gradient {
	color: #fbfbfb;
    background: linear-gradient(to bottom right,#1fa808,#3ce208) !important;
}

.agt-badge-warning-gradient {
	color: #fbfbfb;
    background: linear-gradient(to bottom right,#f58028,#f5c848) !important;
}

.agt-badge-danger-gradient {
	color: #fbfbfb;
    background: linear-gradient(to bottom right,#ba1d58,#ff0548) !important;
}


/* -- AGENTHOS - GRADIENT LIBRARY -- */
.agt-primary-gradient {
    color: #fbfbfb;
    background: linear-gradient(to bottom right,#720b98,#c636f8) !important;
}

.agt-info-gradient {
    color: #fbfbfb;
    background: linear-gradient(to bottom right,#4481e8,#04bef8) !important;
}

.agt-success-gradient {
    color: #fbfbfb;
    background: linear-gradient(to bottom right,#1fa808,#3ce208) !important;
}

.agt-warning-gradient {
    color: #fbfbfb;
    background: linear-gradient(to bottom right,#f58028,#f5c848) !important;
}

.agt-danger-gradient {
    color: #fbfbfb;
    background: linear-gradient(to bottom right,#ba1d58,#ff0548) !important;
}


/* -- AGENTHOS - ALERT LIBRARY -- */
.agt-alert-primary {
    color: #313788 !important;
    background-color: #dcdef8 !important;
    border-color: #cbcef8 !important;
}

.agt-alert-info {
    olor: #376288 !important;
    background-color: #deedf8 !important;
    border-color: #cee4f8 !important;
}

.agt-alert-success {
    color: #157658 !important;
    background-color: #d3f3e8 !important;
    border-color: #bdeed8 !important;
}

.agt-alert-warning {
    color: #8f6a28 !important;
    background-color: #fcefd8 !important;
    border-color: #fae8c8 !important;
}

.agt-alert-danger {
    color: #912f28 !important;
    background-color: #fcdcd8 !important;
    border-color: #fbcac8 !important;
}


/* -- AGENTHOS - DEVICE LIBRARY -- */
.device-iphone-14-pro {
    margin-top: -88px;
    margin-bottom: -58px;
    position: relative;
    transform: scale(0.8);
    z-index: 0;
}

.device-macbook-pro {
    margin-top: -18px;
    margin-bottom: -18px;
    margin-left: -48px;
    transform: scale(0.8);
    z-index: 0;
}