<agt-container-contact-details [contactId]="contactId" [message]="message"></agt-container-contact-details>

<form *ngIf="cancelPolicyService.policy; else loadingContent" [formGroup]="cancelPolicyService.cancellationForm" (submit)="onSubmitCancelPolicy()">
    <!-- AGENTHOS - POLICY DETAILS -->
    <div class="row">
        <div class="col-md-4">
            <!-- AGENTHOS - POLICY FILE -->
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Carátula de Póliza</h6>
                    <div class="card-options">
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="card-order">
                        <h6 class="mb-2">
                            <span class="badge badge-primary-gradient  mr-1 mb-1 mt-1">{{cancelPolicyService.policy.policyStatusName | uppercase}}</span>
                        </h6>
                        <h6 class="mb-2">
                            <span class="text-primary"><i class="fe fe-shield mr-2 fs-20"></i></span>{{cancelPolicyService.policy.insuranceName | uppercase}}
                        </h6>
                        <h6 class="mb-2">
                            <span class="text-primary"><i class="fe fe-file-text mr-2 fs-20"></i></span>{{cancelPolicyService.policy.insuranceTypeName | uppercase}}
                        </h6>
                    </div>
                    <div class="ml-auto">
                        <!-- AGENTHOS - INSURANCE TYPE -->
                        <span class="{{cancelPolicyService.policy.insuranceBackground}} icon-service">
                            <i class="fa {{cancelPolicyService.policy.insuranceIcon}} fs-2"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <!-- AGENTHOS - VIEW POLICY (JUST IF UPLOADED) -->
                        <button type="button" class="btn btn-block btn-primary" (click)="onClickShowPolicy()"><strong>VER PÓLIZA</strong></button>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY FILE -->
            <!-- AGENTHOS - CANCELATION RESUME -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cancelar Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- ENDORSEMENT TYPE * -->
                                    <label class="form-label">Motivo de Cancelación</label>
                                    <select [id]="selectIdPolicyCancellationReason" class="form-control select2 custom-select {{getValidationClass('policyCancellationReasonId')}}" formControlName="policyCancellationReasonId">
                                        <option [value]="policyCancellationReason.policyCancellationReasonId" *ngFor="let policyCancellationReason of cancelPolicyService.policyCancellationReasons">{{policyCancellationReason.name}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('policyCancellationReasonId')}}</div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <!-- AGENTHOS - UPDATE POLICY -->
                                <button type="button" class="btn btn-block btn-primary mt-5" *ngIf="!!cancelPolicyService.f.evidenceFile.value; else selectFile"  (click)="onClickSelectFile()"><strong>ACTUALIZAR EVIDENCIA</strong></button>
                                <ng-template #selectFile>
                                    <button type="button" class="btn btn-block btn-secondary mt-5"  (click)="onClickSelectFile()"><strong>ADJUNTAR EVIDENCIA</strong></button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - CANCELATION RESUME -->
            <!-- AGENTHOS - POLICY RESUME -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Bien Asegurado</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.coveredProperty" disabled="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">No. Póliza</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.policyNumber" disabled="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">No. Cliente</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.clientNumber" disabled="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Aseguradora</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.insurerName | uppercase" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY RESUME -->
        </div>

        <div class="col-md-8">
            <!-- AGENTHOS - POLICY OWNER -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Titular de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY NAME * -->
                                    <label class="form-label">Nombre del Titular</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.titularName" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY RFC * -->
                                    <label class="form-label">RFC</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.titularRfc" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY CP * -->
                                    <label class="form-label">Código Postal</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.titularPostalCode" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PHONE * -->
                                    <label class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" [placeholder]="cancelPolicyService.policy.titularPhoneNumber" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY OWNER -->
            <!-- AGENTHOS - POLICY VALIDITY -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vigencia de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-4">
                                <!-- AGENTHOS - EMISSION DATE * -->
                                <label class="form-label">Fecha de Emisión</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker" [placeholder]="(!!cancelPolicyService.policy.emissionDate) ? (cancelPolicyService.policy.emissionDate | date: 'dd/MM/yyyy') : ''" type="text" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- AGENTHOS - VALIDITY INI * -->
                                <label class="form-label">Inicio de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker" [placeholder]="(!!cancelPolicyService.policy.validityStartDate) ? (cancelPolicyService.policy.validityStartDate | date: 'dd/MM/yyyy') : ''" type="text" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- AGENTHOS - VALIDITY END * -->
                                <label class="form-label">Fin de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker" [placeholder]="(!!cancelPolicyService.policy.validityEndDate) ? (cancelPolicyService.policy.validityEndDate | date: 'dd/MM/yyyy') : ''" type="text" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY VALIDITY -->
            <!-- AGENTHOS - POLICY PAYMENT -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Prima de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - TOTAL PAYMENT * -->
                                    <label class="form-label">Prima Total</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="{{cancelPolicyService.policy.policyAmount | currency: '': '': '0.2-2'}}" disabled="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY CURRENCY * -->
                                    <label class="form-label">Moneda</label>
                                    <input type="text" class="form-control" placeholder="{{cancelPolicyService.policy.currencyName}}" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY METHOD * -->
                                    <label class="form-label">Forma de Pago</label>
                                    <input type="text" class="form-control" placeholder="{{cancelPolicyService.policy.paymentMethodName}}" disabled="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY PLAN * -->
                                    <label class="form-label">Tipo de Plan</label>
                                    <input type="text" class="form-control" placeholder="{{cancelPolicyService.policy.paymentPlanName}}" disabled="">
                                </div>
                            </div>
                            <!-- TOTAL TICKETS -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY BILLS * -->
                                    <label class="form-label">Recibos Totales</label>
                                    <input type="text" class="form-control" placeholder="{{cancelPolicyService.policy.bills}}" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY PAYMENT -->
            <!-- AGENTHOS - UPDATE INFO -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- ACTION TARGET: AGTVIEW0010 -->
                            <button type="submit" class="btn btn-block btn-primary"><strong>CANCELAR PÓLIZA</strong></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - UPDATE INFO -->
        </div>
    </div>
    <!-- AGENTHOS - POLICY DETAILS -->
</form>

<agt-modal-show-policy [modalId]="modalIdShowPolicy" [contactId]="contactId" [policyId]="policyId"></agt-modal-show-policy>
<agt-modal-select-evidence [modalId]="modalIdSelectFile" [data]="modalSelectFileData" (fileSelected)="onFileSelected($event)"></agt-modal-select-evidence>
<agt-modal-confirm-apply-cancellation [modalId]="modalIdConfirmAction" (actionConfirmed)="onActionConfirmed()"></agt-modal-confirm-apply-cancellation>

<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true"></agt-loading-content>
</ng-template>
