<!-- AGENTHOS - CONTACT SOURCES -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="modalSelectContactSourceService.contactSourceForm" (submit)="onSubmitSelectContactSource()">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccionar Origen de Prospecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Asigna un Origen de Prospecto</label>
                        <select name="agtContactSource" class="form-control" formControlName="contactSourceId">
                            <option [value]="contactSource.contactSourceId" *ngFor="let contactSource of modalSelectContactSourceService.contactSources">{{contactSource.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Origen de Prospecto:</label>
                        <p>Indica el canal de captación de este nuevo prospecto. Al seleccionarlo te permitirá gestionar mejor tus canales de atracción.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                    <button type="submit" class="btn btn-primary">CONFIRMAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- //AGENTHOS - CONTACT SOURCES -->
