<!-- AGENTHOS - CONTENT MAIN ACTION -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{getHeaderTitle()}}</h3>
    </div>
    <div class="card-body">
        <!-- AGENTHOS - CREATE CONTACT -->
        <button type="button" class="btn btn-block btn-secondary" (click)="onClickDoAction()"><strong>{{getButtonTitle()}}</strong></button>
    </div>
</div>
<!-- //AGENTHOS - CONTENT MAIN ACTION -->

<agt-modal-select-contact-type [modalId]="selectContactTypeModalId"></agt-modal-select-contact-type>
