<!-- AGENTHOS - CONTENT MAIN ACTION -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{getHeaderTitle()}}</h3>
    </div>
    <div class="card-body">
        <!-- AGENTHOS - CREATE CONTACT -->
        <button type="button" class="btn btn-block btn-secondary" (click)="onClickDoAction()"><strong>{{getButtonTitle() | uppercase}}</strong></button>
    </div>
</div>
<!-- //AGENTHOS - CONTENT MAIN ACTION -->

<ng-container *ngIf="contentType === CONTENT_TYPES.LEAD.ID || contentType === CONTENT_TYPES.CLIENT.ID">
    <agt-modal-select-contact-type [modalId]="selectContactTypeModalId"></agt-modal-select-contact-type>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.CONTACT_QUOTATION.ID">
    <agt-modal-select-quotation-status [modalId]="selectQuotationStatusModalId" [contentTypeName]="contentTypeName" [contentSubtype]="contentSubtype" (contentSubtypeNameSelected)="onContentSubtypeNameSelected($event)"></agt-modal-select-quotation-status>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.CONTACT_POLICY.ID || contentType === CONTENT_TYPES.GROUP_POLICY.ID">
    <agt-modal-select-policy-status [modalId]="selectPolicyStatusModalId" [contentTypeName]="contentTypeName" [contentSubtype]="contentSubtype" (contentSubtypeNameSelected)="onContentSubtypeNameSelected($event)"></agt-modal-select-policy-status>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.GROUP.ID">
    <agt-modal-create-group
        [modalId]="modalIdCreateGroup"
        (hasCoincidences)="showModalGroupHasCoincidences()">
    </agt-modal-create-group>
    <agt-modal-duplicate-group [modalId]="modalIdGroupHasCoincidences"></agt-modal-duplicate-group>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.PARTNER.ID">
    <agt-modal-create-partner
        [modalId]="modalIdCreatePartner"
        (hasCoincidences)="showModalPartnerHasCoincidences()">
    </agt-modal-create-partner>
    <agt-modal-duplicate-partner [modalId]="modalIdPartnerHasCoincidences"></agt-modal-duplicate-partner>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.PAYMENT.ID">
    <agt-modal-search-payment
        [modalId]="modalIdSearchPayment"
        (paymentFound)="applyPayment($event)">
    </agt-modal-search-payment>
</ng-container>
<ng-container *ngIf="contentType === CONTENT_TYPES.SINISTER.ID">
    <agt-modal-search-policy [modalId]="modalIdSearchPolicy" [message]="searchPolicyMessage" (policyFound)="onPolicyFound($event)"></agt-modal-search-policy>
    <agt-modal-create-sinister [modalId]="modalIdCreateSinister" [policy]="selectedPolicy" (sinisterCreated)="onSinisterCreated()"></agt-modal-create-sinister>
</ng-container>
<ng-container
    *ngIf="contentType === CONTENT_TYPES.CONTACT_SINISTER.ID ||
    contentType === CONTENT_TYPES.GROUP_SINISTER.ID">
    <agt-modal-select-sinister-status
        [modalId]="modalIdSelectSinisterStatus"
        [contentTypeName]="contentTypeName"
        [contentSubtype]="contentSubtype"
        (contentSubtypeNameSelected)="onContentSubtypeNameSelected($event)">
    </agt-modal-select-sinister-status>
</ng-container>
