<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-workspace-quotations-opened
            [rangeData]="rangeData"
        ></agt-card-kpi-workspace-quotations-opened>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-workspace-renewals-pending
            [rangeData]="rangeData"
        ></agt-card-kpi-workspace-renewals-pending>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-workspace-receipts-pending
            [rangeData]="rangeData"
        ></agt-card-kpi-workspace-receipts-pending>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-workspace-sinisters-opened
            [rangeData]="rangeData"
        ></agt-card-kpi-workspace-sinisters-opened>
    </div>
</div>