<!-- AGENTHOS - SINISTER UPDATE -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document" *ngIf="!!modalUpdateSinisterService.sinister">
		<div class="modal-content">
            <form [formGroup]="modalUpdateSinisterService.sinisterForm" (submit)="onSubmitUpdateSinister()" >
    			<div class="modal-header">
    				<h5 class="modal-title">Actualizar Siniestro</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
    				<div class="row">
    					<div class="col-md-6">
    						<div class="form-group">
    							<label class="form-label">No. Reporte</label>
    							<input type="text" class="form-control {{getValidationClass('reportNumber')}}" formControlName="reportNumber">
                                <div class="invalid-feedback">{{getErrorMessage('reportNumber')}}</div>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="form-group">
    							<label class="form-label">Ejecutivo Asignado</label>
    							<input type="text" class="form-control {{getValidationClass('manager')}}" formControlName="manager">
                                <div class="invalid-feedback">{{getErrorMessage('manager')}}</div>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="form-group">
    							<label class="form-label">No. Siniestro</label>
    							<input type="text" class="form-control {{getValidationClass('sinisterNumber')}}" formControlName="sinisterNumber">
                                <div class="invalid-feedback">{{getErrorMessage('sinisterNumber')}}</div>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="form-group">
    							<label class="form-label">No. Folio</label>
    							<input type="text" class="form-control {{getValidationClass('invoice')}}" formControlName="invoice">
                                <div class="invalid-feedback">{{getErrorMessage('invoice')}}</div>
    						</div>
    					</div>
                        <div class="col-md-6">
    						<div class="form-group">
    							<label class="form-label">Fecha Siniestro</label>
    							<input [id]="calendarIdSinisterDate" type="text" class="form-control fc-datepicker {{getValidationClass('sinisterDate')}}" formControlName="sinisterDate">
                                <div class="invalid-feedback">{{getErrorMessage('sinisterDate')}}</div>
    						</div>
    					</div>
                        <div class="col-md-6">
    						<div class="form-group">
    							<label class="form-label">Resolución Estimada</label>
    							<input [id]="calendarIdEstimatedResolutionDate" type="text" class="form-control fc-datepicker {{getValidationClass('estimatedResolutionDate')}}" formControlName="estimatedResolutionDate">
                                <div class="invalid-feedback">{{getErrorMessage('estimatedResolutionDate')}}</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="modal-footer text-center">
    				<div class="col-12">
    					<!-- AGENTHOS - SINISTER SAVE CHANGES -->
    					<button type="submit" class="btn btn-block btn-primary"><strong>ACTUALIZAR SINIESTRO</strong></button>
    				</div>
    			</div>
            </form>
		</div>
	</div>
</div>
<!-- //AGENTHOS - SINISTER UPDATE -->
