<!-- AGENTHOS - CONTACT TYPE -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol class="breadcrumb1" *ngIf="!!description">
                    <li class="breadcrumb-item1">{{description}} <strong *ngIf="!!message">{{message}}</strong></li>
                </ol>
                <div class="row">
                    <!-- AGENTHOS - PERSONAL CLIENT -->
                    <div class="col-md-12 mt-3">
                        <button type="button" class="btn btn-block agt-btn-default" (click)="onClickCreateContact(CONTACT_TYPES.PERSON)"><i class="fa fa-user mr-2"></i><strong>PERSONA</strong></button>
                    </div>
                    <!-- AGENTHOS - COMPANY CLIENT -->
                    <div class="col-md-12 mt-3">
                        <button type="button" class="btn btn-block agt-btn-default" (click)="onClickCreateContact(CONTACT_TYPES.COMPANY)"><i class="fa fa-industry mr-2"></i><strong>EMPRESA</strong></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block agt-btn-secondary-outline" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - CONTACT TYPE -->
