<!-- AGENTHOS - SINISTER CONTROL -->
<div class="row mt-3" *ngIf="!!containerManageSinisterService.sinister">
    <div class="col-lg-12">
        <div class="card">
            <!-- AGENTHOS - SINISTER CONTROL HEADER -->
            <div class="card-header">
                <h3 class="card-title">Gestión de Siniestro</h3>
            </div>
            <!-- //AGENTHOS - SINISTER CONTROL HEADER -->
            <!-- AGENTHOS - SINISTER CONTROL BODY -->
            <div class="card-body">
                <!-- AGENTHOS - SINISTER CONTROL DETAILS -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - SINISTER DATE -->
                            <label class="form-label">Fecha del Siniestro</label>
                            <input type="text" class="form-control" placeholder="{{containerManageSinisterService.sinister.sinisterDate | date: 'dd/MM/yyyy'}}" readonly="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - SINISTER NUMBER -->
                            <label class="form-label">No. de Siniestro</label>
                            <input type="text" class="form-control" [placeholder]="containerManageSinisterService.sinister.sinisterNumber" readonly="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - SINISTER INVOICE -->
                            <label class="form-label">No. de Folio</label>
                            <input type="text" class="form-control" [placeholder]="containerManageSinisterService.sinister.invoice" readonly="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- AGENTHOS - SINISTER CERTIFICATE -->
                            <label class="form-label">No. de Certificado</label>
                            <input type="text" class="form-control" [placeholder]="containerManageSinisterService.sinister.certificate" readonly="">
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL DETAILS -->
            </div>
            <!-- //AGENTHOS - SINISTER CONTROL BODY -->
            <!-- AGENTHOS - SINISTER CONTROL FOOTER -->
            <div class="card-footer">
                <div class="btn-list">
                    <button type="button" class="btn btn-secondary" (click)="onClickUpdateSinister()"><strong>ACTUALIZAR</strong></button>
                    <button type="button" class="btn btn-primary" *ngIf="containerManageSinisterService.sinister.sinisterStatusId === SINISTER_STATUS.FINISHED; else finalizeSinister" (click)="onClickReactivateSinister()"><strong>REACTIVAR</strong></button>
                    <ng-template #finalizeSinister>
                        <button type="button" class="btn btn-primary" (click)="onClickFinalizeSinister()"><strong>FINALIZAR</strong></button>
                    </ng-template>
                </div>
            </div>
            <!-- //AGENTHOS - SINISTER CONTROL FOOTER -->
        </div>
    </div>
</div>
<!-- //AGENTHOS - SINISTER CONTROL -->

<agt-modal-update-sinister [modalId]="modalIdUpdateSinister" [sinisterData]="sinisterData"></agt-modal-update-sinister>
<agt-modal-confirm-finalize-sinister [modalId]="modalIdConfirmFinalizeSinister" [sinisterData]="sinisterData"></agt-modal-confirm-finalize-sinister>
<agt-modal-confirm-reactivate-sinister [modalId]="modalIdConfirmReactivateSinister" [sinisterData]="sinisterData"></agt-modal-confirm-reactivate-sinister>
