<!-- AGENTHOS - TRACKER CONTROL -->
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <!-- AGENTHOS - TRACKER CONTROL HEADER -->
            <div class="card-header">
                <h3 class="card-title">Gestión de Renovaciones</h3>
            </div>
            <!-- AGENTHOS - TRACKER CONTROL HEADER -->
            <!-- AGENTHOS - TRACKER CONTROL BODY -->
            <div class="card-body">
                <div class="btn-list">
                    <!-- AGENTHOS - POLICY VIEW -->
                    <button type="button" class="btn btn-secondary" (click)="showPolicy()" [disabled]="model.policy == null"><strong>VER PÓLIZA</strong></button>
                    <!-- AGENTHOS - POLICY RECORD -->
                    <button type="button" class="btn btn-primary" (click)="confirmShowPolicyHistory()"><strong>VER HISTORIAL</strong></button>
                    <!-- AGENTHOS - POLICY ENDORSEMENT -->
                    <button type="button" class="btn btn-primary" (click)="confirmLinkPolicy()"><strong>ENLAZAR PÓLIZA</strong></button>
                </div>
            </div>
            <!-- //AGENTHOS - TRACKER CONTROL BODY -->
        </div>
    </div>
</div>
<!-- //AGENTHOS - TRACKER CONTROL -->

<ng-container *ngIf="!!model.policy">
    <agt-modal-show-policy-file [modalId]="modalIdShowPolicyFile" [policyUrl]="model.policy.policyUrl"></agt-modal-show-policy-file>
    <agt-modal-confirm-link-policy
        [modalId]="modalIdConfirmLinkPolicy"
        [contactId]="contactId"
        [insuranceId]="model.policy.insuranceId"
        [insuranceTypeId]="model.policy.insuranceTypeId"
        [tracker]="model.policy.tracker"
        >
    </agt-modal-confirm-link-policy>

    <agt-modal-confirm-show-history-policy
        [modalId]="modalIdConfirmShowPolicyHistory"
        [contactId]="contactId"
        [policyId]="policyId"
    ></agt-modal-confirm-show-history-policy>
</ng-container>
