<div class="row">
    <!-- AGENTHOS - QUOTES ACTIVE -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-quotes (quoteInsuranceRequested)="showModalToSelectContactType()"></agt-card-kpi-total-quotes>
    </div>
    <!-- //AGENTHOS - QUOTES ACTIVE -->
    <!-- AGENTHOS - POLICIES ACTIVE -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-active-policies (uploadPolicyRequested)="showModalToSelectContactType()"></agt-card-kpi-total-active-policies>
    </div>
    <!-- //AGENTHOS - POLICIES ACTIVE -->
</div>

<!-- AGENTHOS - LEADS / CLIENTS PANEL -->
<div class="row">
    <!-- AGENTHOS - LEADS ACTIVE -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-leads></agt-card-kpi-total-leads>
    </div>
    <!-- //AGENTHOS - LEADS ACTIVE -->
    <!-- AGENTHOS - CLIENTS ACTIVE -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-active-clients></agt-card-kpi-total-active-clients>
    </div>
    <!-- //AGENTHOS - CLIENTS ACTIVE -->
</div>
<!-- //AGENTHOS - LEADS / CLIENTS PANEL -->

<!-- AGENTHOS - QUICK ACCESS PANEL -->
<div class="row mt-3">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-last-renewals></agt-card-kpi-total-last-renewals>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-pending-payments></agt-card-kpi-total-pending-payments>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-open-sinisters></agt-card-kpi-total-open-sinisters>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <agt-card-kpi-total-last-cancelled-policies></agt-card-kpi-total-last-cancelled-policies>
    </div>
</div>
<!-- //AGENTHOS - QUICK ACCESS PANEL -->

<agt-modal-select-contact-type [modalId]="modalIdSelectContactType"></agt-modal-select-contact-type>
