<agt-container-workspace-kpis></agt-container-workspace-kpis>

<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Indicadores de Cartera</h3>
                <div class="card-options">
                    <i data-toggle="popover" data-placement="left" class="fe fe-help-circle fs-20 agt-help-mark" data-content="Indicadores de los últimos 30 días."></i>
                </div>
            </div>
        </div>
    </div>
</div>

<agt-container-wallet-kpis></agt-container-wallet-kpis>
