<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Cliente</h5>
                <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="closeModal()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (submit)="validateForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb1">
                                <li class="breadcrumb-item1">
                                    Ingresa el nombre de la persona o empresa.
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - CONTACT NAME * -->
                                <label class="form-label"
                                    >Nombre del Cliente</label
                                >
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i
                                                class="fa fa-user tx-16 lh-0 op-6"
                                            ></i>
                                        </div>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control {{
                                            getValidationClass('query')
                                        }}"
                                        formControlName="query"
                                    />
                                    <div class="invalid-feedback">
                                        {{ getErrorMessage("query") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <button
                                type="submit"
                                class="btn btn-block agt-btn-default"
                            >
                                🔍 <strong>BUSCAR CLIENTE</strong>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-block agt-btn-secondary-outline"
                    (click)="closeModal()"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>
