.iconInsurance{
	font-size: 38px;
	display: inline-flex;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* AUTOS & MOVILIDAD */
.carInsurance{
	background-color: #f40768;
	color: #fbfbfb;
}
.carInsurancePolicy{
	background: linear-gradient(to right, #f9ab88 0, #f40758 100%);
}

.pickupInsurance{
	background-color: #f40768;
	color: #fbfbfb;
}
.pickupInsurancePolicy{
	background: linear-gradient(to right, #f9ab88 0, #f40758 100%);
}

.scooterInsurance{
	background-color: #f40768;
	color: #fbfbfb;
}
.scooterInsurancePolicy{
	background: linear-gradient(to right, #f9ab88 0, #f40758 100%);
}

.bikeInsurance{
	background-color: #f40768;
	color: #fbfbfb;
}
.bikeInsurancePolicy{
	background: linear-gradient(to right, #f9ab88 0, #f40758 100%);
}


/* SALUD & BIENESTAR */

.healthInsurance{
	background-color: #04aef8;
	color: #fbfbfb;
}
.healthInsurancePolicy{
	background: linear-gradient(to right, #04dff8 0, #448ce8 100%);
}

.dentalInsurance{
	background-color: #04aef8;
	color: #fbfbfb;
}
.dentalInsurancePolicy{
	background: linear-gradient(to right, #04dff8 0, #448ce8 100%);
}

.illnessInsurance{
	background-color: #04aef8;
	color: #fbfbfb;
}
.illnesInsurancePolicy{
	background: linear-gradient(to right, #04dff8 0, #448ce8 100%);
}

.accidentInsurance{
	background-color: #04aef8;
	color: #fbfbfb;
}
.accidentInsurancePolicy{
	background: linear-gradient(to right, #04dff8 0, #448ce8 100%);
}


/* VIDA & PLANES DE AHORRO */

.lifeInsurance{
	background-color: #7464e8;
	color: #fbfbfb;
}
.lifeInsurancePolicy{
	background: linear-gradient(to right, #d397f8 0, #8364e8 100%);
}

.retireInsurance{
	background-color: #7464e8;
	color: #fbfbfb;
}
.retireInsurancePolicy{
	background: linear-gradient(to right, #d397f8 0, #8364e8 100%);
}

.educationInsurance{
	background-color: #7464e8;
	color: #fbfbfb;
}
.educationInsurancePolicy{
	background: linear-gradient(to right, #d397f8 0, #8364e8 100%);
}

.savingInsurance{
	background-color: #7464e8;
	color: #fbfbfb;
}
.savingInsurancePolicy{
	background: linear-gradient(to right, #d397f8 0, #8364e8 100%);
}


/* HOGAR & PROPIEDADES INMOBILIARIAS */

.homeInsurance{
	background-color: #ff9d88;
	color: #fbfbfb;
}
.homeInsurancePolicy{
	background: linear-gradient(to right, #ffeda8 0, #ffa588 100%);
}

.buildingInsurance{
	background-color: #ff9d88;
	color: #fbfbfb;
}
.buildingInsurancePolicy{
	background: linear-gradient(to right, #ffeda8 0, #ffa588 100%);
}

.comercialInsurance{
	background-color: #ff9d88;
	color: #fbfbfb;
}
.comercialInsurancePolicy{
	background: linear-gradient(to right, #ffeda8 0, #ffa588 100%);
}

.landInsurance{
	background-color: #ff9d88;
	color: #fbfbfb;
}
.landInsurancePolicy{
	background: linear-gradient(to right, #ffeda8 0, #ffa588 100%);
}


/* MASCOTAS & PROTECCIÓN PATRIMONIAL */

.petInsurance{
	background-color: #e0b078;
	color: #fbfbfb;
}
.petInsurancePolicy{
	background: linear-gradient(to right, #ead8a8 0, #dba368 100%);
}

.deviceInsurance{
	background-color: #e0b078;
	color: #fbfbfb;
}
.deviceInsurancePolicy{
	background: linear-gradient(to right, #ead8a8 0, #dba368 100%);
}

.objectsInsurance{
	background-color: #e0b078;
	color: #fbfbfb;
}
.objectsInsurancePolicy{
	background: linear-gradient(to right, #ead8a8 0, #dba368 100%);
}

.crisisInsurance{
	background-color: #e0b078;
	color: #fbfbfb;
}
.crisisInsurancePolicy{
	background: linear-gradient(to right, #ead8a8 0, #dba368 100%);
}


/* VIAJES & SERVICIOS COMPLEMENTARIOS */

.travelInsurance{
	background-color: #32bac8;
	color: #fbfbfb;
}
.travelInsurancePolicy{
	background: linear-gradient(to right, #8de9d8 0, #32c4c8 100%);
}

.deadInsurance{
	background-color: #32bac8;
	color: #fbfbfb;
}
.deadInsurancePolicy{
	background: linear-gradient(to right, #8de9d8 0, #32c4c8 100%);
}

.unemploymentInsurance{
	background-color: #32bac8;
	color: #fbfbfb;
}
.unemploymentInsurancePolicy{
	background: linear-gradient(to right, #8de9d8 0, #32c4c8 100%);
}

.legalInsurance{
	background-color: #32bac8;
	color: #fbfbfb;
}
.legalInsurancePolicy{
	background: linear-gradient(to right, #8de9d8 0, #32c4c8 100%);
}


/* TARJETAS & PRODUCTOS FINANCIEROS */

.cardInsurance{
	background-color: #38d108;
	color: #fbfbfb;
}
.cardInsurancePolicy{
	background: linear-gradient(to right, #d1f528 0, #59d108 100%);
}

.cashInsurance{
	background-color: #38d108;
	color: #fbfbfb;
}
.cashInsurancePolicy{
	background: linear-gradient(to right, #d1f528 0, #59d108 100%);
}

.creditInsurance{
	background-color: #38d108;
	color: #fbfbfb;
}
.creditInsurancePolicy{
	background: linear-gradient(to right, #d1f528 0, #59d108 100%);
}

.warrantyInsurance{
	background-color: #38d108;
	color: #fbfbfb;
}
.warrantyInsurancePolicy{
	background: linear-gradient(to right, #d1f528 0, #59d108 100%);
}


/* CAMIONES & TRANSPORTES PESADOS */

.truckInsurance{
	background-color: #bc1b58;
	color: #fbfbfb;
}
.truckInsurancePolicy{
	background: linear-gradient(to right, #d39898 0, #bc1b68 100%);
}

.busInsurance{
	background-color: #bc1b58;
	color: #fbfbfb;
}
.busInsurancePolicy{
	background: linear-gradient(to right, #d39898 0, #bc1b68 100%);
}

.navyInsurance{
	background-color: #bc1b58;
	color: #fbfbfb;
}
.navyInsurancePolicy{
	background: linear-gradient(to right, #d39898 0, #bc1b68 100%);
}

.aeroInsurance{
	background-color: #bc1b58;
	color: #fbfbfb;
}
.aeroInsurancePolicy{
	background: linear-gradient(to right, #d39898 0, #bc1b68 100%);
}


/* SEGUROS FINANCIEROS */

.deliveryInsurance{
	background-color: #8047a8;
	color: #fbfbfb;
}
.deliveryInsurancePolicy{
	background: linear-gradient(to right, #bd9dd8 0, #653888  100%);
}

.radioactiveInsurance{
	background-color: #8047a8;
	color: #fbfbfb;
}
.radioactiveInsurancePolicy{
	background: linear-gradient(to right, #bd9dd8 0, #653888  100%);
}

.containerInsurance{
	background-color: #8047a8;
	color: #fbfbfb;
}
.containerInsurancePolicy{
	background: linear-gradient(to right, #bd9dd8 0, #653888  100%);
}

.trailerInsurance{
	background-color: #8047a8;
	color: #fbfbfb;
}
.trailerInsurancePolicy{
	background: linear-gradient(to right, #bd9dd8 0, #653888  100%);
}


/* ACTIVIDADES & RIESGOS LABORALES */
.technicalInsurance{
	background-color: #fc6438;
	color: #fbfbfb;
}
.technicalInsurancePolicy{
	background: linear-gradient(to right, #fda088 0, #e93208  100%);
}

.profesionalInsurance{
	background-color: #fc6438;
	color: #fbfbfb;
}
.profesionalInsurancePolicy{
	background: linear-gradient(to right, #fda088 0, #e93208  100%);
}

.constructionInsurance{
	background-color: #fc6438;
	color: #fbfbfb;
}
.constructionInsurancePolicy{
	background: linear-gradient(to right, #fda088 0, #e93208  100%);
}

.machineInsurance{
	background-color: #fc6438;
	color: #fbfbfb;
}
.machineInsurancePolicy{
	background: linear-gradient(to right, #fda088 0, #e93208  100%);
}


/* CAUCIONES & FIANZAS */
.cautionInsurance{
	background-color: #103f88;
	color: #fbfbfb;
}
.cautionInsurancePolicy{
	background: linear-gradient(to right,#9bafd8 0, #103788  100%);
}
.fianceInsurance{
	background-color: #103f88;
	color: #fbfbfb;
}
.fianceInsurancePolicy{
	background: linear-gradient(to right,#9bafd8 0, #103788  100%);
}


/* SEGUROS AGRÍCOLA Y GANADO */
.farmInsurance{
	background-color: #0b4b68;
	color: #fbfbfb;
}
.farmInsurancePolicy{
	background: linear-gradient(to right, #95f9c8 0, #0b3868  100%);
}

