<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Lector Inteligente</h5>
			</div>
			<div class="modal-body">
				<div class="row agt-loader-center">
					<div class="la-ball-grid-pulse la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
					<div class="col-md-12 mt-5">
						<p class="text-center"><strong>Escaneando Documento</strong></p>
						<ol class="breadcrumb1">
							<li class="breadcrumb-item1">El lector inteligente se encuentra analizando todo el contenido.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
