<!-- AGENTHOS - ENDORSEMENT DECREMENT (IF LESS PAY AMMOUNT) -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Decremento de Prima</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify"><strong>Se ha detectado un decremento de prima</strong>.</p>
						<p class="text-justify">
						La prima actual de <strong>{{policyAmount | currency: '': '$': '0.2-2'}} {{currencyName}}</strong> decrementará a <strong>{{policyAmount - endorsementAmountConverted | currency: '': '$': '0.2-2'}} {{currencyName}}</strong>.</p>
						<p class="text-justify">
						El plan de pagos <strong>{{paymentPlanName}}</strong> hará un ajuste de cobranza para los recibos pendientes de la póliza. <strong>Por favor confirma si deseas continuar</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
				<!-- AGENTHOS - DATA TARGET (AGTVIEW0018) -->
				<button type="button" class="btn btn-primary" (click)="confirmAction()">CONFIRMAR</button>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - ENDORSEMENT DECREMENT -->
