<div class="card" *ngIf="!!client">
    <!-- AGENTHOS - CLIENT CARD HEADER -->
    <div class="card-header">
        <!-- AGENTHOS - CONTACT PIC -->
        <img class="avatar brround" [src]="client.avatarUrl" width="38px">
        <!-- AGENTHOS - CLIENT STATUS -->
        <div class="card-options">
            <div class="badge badge-{{client.clientStatusBackground}} mr-1">{{client.clientStatusName | uppercase}}</div>
        </div>
    </div>
    <!-- //AGENTHOS - CLIENT CARD HEADER -->
    <!-- AGENTHOS - CLIENT CARD BODY -->
    <div class="card-body">
        <!-- AGENTHOS - CONTACT NAME -->
        <h4 class="h4">{{client.contactName}}</h4>
        <!-- AGENTHOS - CONTACT SOURCE -->
        <p class="mb-2">
            <i class="fe fe-globe mr-1"></i>{{client.contactSourceTypeName}}
            <span class="float-right"><i class="fe fe-award mr-1"></i>{{client.contactScoreName}}</span>
        </p>
        <!-- AGENTHOS - CONTACT WALLET -->
        <p class="mb-0">
            <i class="fe fe-credit-card mr-1"></i>{{ client.totalGlobalWallet | currency: '': '$': '0.2-2'}} {{client.currencyName}}
            <span class="float-right"><i class="fe fe-file-text mr-1"></i>{{client.totalActivePolicies}} P</span>
        </p>
    </div>
    <!-- //AGENTHOS - CLIENT CARD BODY -->
    <!-- AGENTHOS - CLIENT CARD FOOTER -->
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-9 col-9 text-left">
                <a routerLink="/{{ROUTES_NAME.contactResume(client.contactId)}}">
                    <button type="button" class="btn btn-block btn-primary"><strong>VER PERFIL</strong></button>
                </a>
            </div>
            <div class="col-sm-3 col-3 text-right">
                <button type="button" class="btn btn-icon btn-secondary" (click)="requestDeleteGroupMember(client.contactId)"><i class="fe fe-trash-2"></i></button>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - CLIENT CARD FOOTER -->
</div>
