<!-- AGENTHOS - LAST CONTACTS PANEL -->
<div class="row mt-3" *ngIf="containerLastContactsService.lastContacts.length > 0">
    <div class="col-12">
        <agt-card-content-title
            title="Contactos Recientes"
            description="Últimos contactos registrados."
        ></agt-card-content-title>
    </div>
    <!-- AGENTHOS - CLIENT CARD -->
    <div *ngFor="let contact of containerLastContactsService.lastContacts" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <agt-card-contact
            [contact]="contact"
            buttonLabel="VER PERFIL"
            [canDeleteContact]="true"
            (contactSelected)="goToContactProfile($event)"
            (showContactData)="showContactDataModal($event)"
            (deleteContactRequested)="showModalToConfirmDeleteContact($event)"
        ></agt-card-contact>
    </div>
    <!-- //AGENTHOS - CLIENT CARD -->
    <!-- AGENTHOS - SHOW MORE -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- AGENTHOS - LOAD MORE (ONLY IF PENDING ITEMS) -->
                <div class="btn-list text-center">
                    <button type="button" class="btn btn-block btn-primary" (click)="goToListContacts()"><strong>MOSTRAR TODOS</strong></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - SHOW MORE -->
</div>
<!-- //AGENTHOS - LAST CONTACTS PANEL -->
<agt-modal-show-contact-data
    [modalId]="modalIdShowContactData"
    [contactId]="selectedContactId"
></agt-modal-show-contact-data>


<agt-modal-confirm-delete-contact
    [modalId]="modalIdConfirmDeleteContact"
    (actionConfirmed)="deleteContact()">
</agt-modal-confirm-delete-contact>
