<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <!-- AGENTHOS - SINISTERS CONTROL HEADER -->
            <div class="card-header">
                <h3 class="card-title">Gestión de Siniestros</h3>
            </div>
            <!-- AGENTHOS - SINISTERS CONTROL HEADER -->
            <!-- AGENTHOS - SINISTERS CONTROL BODY -->
            <div class="card-body">
                <div class="btn-list">
                    <!-- AGENTHOS - POLICY VIEW -->
                    <button type="button" class="btn btn-secondary" (click)="showModalToShowPolicyFile()"><strong>VER PÓLIZA</strong></button>
                    <!-- AGENTHOS - POLICY RECORD -->
                    <button type="button" class="btn btn-primary" (click)="showModalToConfirmShowPolicyHistory()"><strong>VER HISTORIAL</strong></button>
                    <!-- AGENTHOS - POLICY SINISTER -->
                    <button type="button" class="btn btn-primary" (click)="showModalToReportSinister()"><strong>REPORTAR SINIESTRO</strong></button>
                </div>
            </div>
            <!-- //AGENTHOS - SINISTERS CONTROL BODY -->
        </div>
    </div>
</div>

<agt-modal-show-policy-file
    [modalId]="modalIdShowPolicyFile"
    [contactId]="contactId"
    [policyId]="policyId"
></agt-modal-show-policy-file>
<agt-modal-confirm-show-history-policy
    [modalId]="modalIdConfirmShowHistoryPolicy"
    [contactId]="contactId"
    [policyId]="policyId"
></agt-modal-confirm-show-history-policy>
<agt-modal-create-sinister
    [modalId]="modalIdReportSinister"
    [policyId]="policyId"
    [contactId]="contactId"
></agt-modal-create-sinister>
