<agt-container-policy-details [contactId]="contactId" [policyId]="policyId"></agt-container-policy-details>
<agt-container-manage-sinister [sinisterData]="sinisterData"></agt-container-manage-sinister>
<agt-container-report-event [sinisterData]="sinisterData"></agt-container-report-event>
<agt-content-list [contentType]="CONTENT_TYPES.SINISTER_HISTORY.ID" [contentTypeName]="CONTENT_TYPES.SINISTER_HISTORY.NAME" [contactId]="contactId" [policyId]="policyId" [sinisterId]="sinisterId" [contentSubtype]="CONTENT_TYPES.SINISTER_HISTORY.CONTENT_SUBTYPE" [contentSubtypeName]="CONTENT_TYPES.SINISTER_HISTORY.CONTENT_SUBTYPE_NAME"></agt-content-list>
