<agt-container-policy-details [contactId]="contactId" [policyId]="policyId"></agt-container-policy-details>
<!--<agt-container-manage-sinister [sinisterData]="sinisterData"></agt-container-manage-sinister>-->
<ng-container *ngIf="!!model.sinister">
    <!-- AGENTHOS - SINISTER CONTROL -->
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="card">
                <!-- AGENTHOS - SINISTER CONTROL HEADER -->
                <div class="card-header">
                    <h3 class="card-title">Gestión de Siniestro</h3>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL HEADER -->
                <!-- AGENTHOS - SINISTER CONTROL FOOTER -->
                <div class="card-footer">
                    <div class="btn-list">
                        <!-- AGENTHOS - SINISTER REACTIVATE (JUST IF STATUS: INACTIVE) -->
                        <button type="button" class="btn btn-primary" *ngIf="model.sinister.sinisterStatusId === SINISTER_STATUS.FINISHED; else finalizeSinister" (click)="confirmReactivateSinister()"><strong>REACTIVAR SINIESTRO</strong></button>
                        <ng-template #finalizeSinister>
                            <!-- AGENTHOS - SINISTER FINISH (JUST IF STATUS: ACTIVE) -->
                            <button type="button" class="btn btn-primary" (click)="confirmFinalizeSinister()"><strong>FINALIZAR SINIESTRO</strong></button>
                        </ng-template>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL FOOTER -->
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - SINISTER CONTROL -->

    <!-- AGENTHOS - SINISTER FOLLOW UP -->
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="card">
                <!-- AGENTHOS - SINISTER CONTROL HEADER -->
                <div class="card-header">
                    <h3 class="card-title">Seguimiento del Siniestro</h3>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL HEADER -->
                <!-- AGENTHOS - SINISTER CONTROL DETAILS -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER REPORT DATE -->
                                <label class="form-label">Fecha del Siniestro</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.sinisterDate | date: 'dd/MM/yyyy'" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER RESOLUTION DATE -->
                                <label class="form-label">Resolución Estimada</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.estimatedResolutionDate | date: 'dd/MM/yyyy'" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER NUMBER -->
                                <label class="form-label">Días Estimados</label>
                                <input type="text" class="form-control" [placeholder]="estimatedDays" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER INVOICE -->
                                <label class="form-label">Días Transcurridos</label>
                                <input type="text" class="form-control" [placeholder]="elapsedDays" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER MANAGER -->
                                <label class="form-label">Ejecutivo Asignado</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.manager" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER REPORT -->
                                <label class="form-label">No. Reporte</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.reportNumber" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER NUMBER -->
                                <label class="form-label">No. Siniestro</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.sinisterNumber" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER INVOICE -->
                                <label class="form-label">No. Folio</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.invoice" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL DETAILS -->
                <!-- AGENTHOS - SINISTER CONTROL FOOTER -->
                <div class="card-footer">
                    <div class="btn-list">
                        <!-- AGENTHOS - SINISTER UPDATE -->
                        <button type="button" class="btn btn-secondary" (click)="showModalToUpdateSinister()"><strong>ACTUALIZAR</strong></button>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL FOOTER -->
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - SINISTER FOLLOW UP -->

    <!-- AGENTHOS - SINISTER DETAILS -->
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="card">
                <!-- AGENTHOS - SINISTER CONTROL HEADER -->
                <div class="card-header">
                    <h3 class="card-title">Detalles del Siniestro</h3>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL HEADER -->
                <!-- AGENTHOS - SINISTER CONTROL DETAILS -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER TYPE -->
                                <label class="form-label">Tipo Siniestro</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.sinisterTypeName" readonly="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER COVERAGE TYPE -->
                                <label class="form-label">Cobertura Afectada</label>
                                <input type="text" class="form-control" [placeholder]="(!!model.sinister.affectedCoverage) ? model.sinister.affectedCoverage : ''" readonly="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER LOCATION -->
                                <label class="form-label">Ubicación Siniestro</label>
                                <input type="text" class="form-control" [placeholder]="model.sinister.location" readonly="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - SINISTER AFFECTED NAME -->
                                <!-- (JUST FOR CAR, MOTO, BIKE) -->
                                <label class="form-label">Nombre Conductor</label>
                                <input type="text" class="form-control" [placeholder]="(!!model.sinister.affectedName) ? model.sinister.affectedName : ''" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL DETAILS -->
                <!-- AGENTHOS - SINISTER CONTROL FOOTER -->
                <div class="card-footer">
                    <div class="btn-list">
                        <!-- AGENTHOS - SINISTER UPDATE -->
                        <button type="button" class="btn btn-secondary" (click)="showModalToUpdateSinisterDetails()"><strong>ACTUALIZAR</strong></button>
                    </div>
                </div>
                <!-- //AGENTHOS - SINISTER CONTROL FOOTER -->
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - SINISTER DETAILS -->
</ng-container>
<agt-container-report-event [sinisterData]="sinisterData"></agt-container-report-event>
<agt-content-list
    [contentType]="CONTENT_TYPES.SINISTER_HISTORY.ID"
    [contentTypeName]="CONTENT_TYPES.SINISTER_HISTORY.NAME"
    [contactId]="contactId"
    [policyId]="policyId"
    [sinisterId]="sinisterId"
    [contentSubtype]="CONTENT_TYPES.SINISTER_HISTORY.CONTENT_SUBTYPE"
    [contentSubtypeName]="CONTENT_TYPES.SINISTER_HISTORY.CONTENT_SUBTYPE_NAME"
></agt-content-list>

<agt-modal-confirm-finalize-sinister [modalId]="modalIdConfirmFinalizeSinister" [sinisterData]="sinisterData"></agt-modal-confirm-finalize-sinister>
<agt-modal-confirm-reactivate-sinister [modalId]="modalIdConfirmReactivateSinister" [sinisterData]="sinisterData"></agt-modal-confirm-reactivate-sinister>
<agt-modal-update-sinister [modalId]="modalIdUpdateSinister" [sinisterData]="sinisterData"></agt-modal-update-sinister>
<agt-modal-update-sinister-details [modalId]="modalIdUpdateSinisterDetails" [sinisterData]="sinisterData"></agt-modal-update-sinister-details>
