<!-- AGENTHOS - PANEL -->
<div class="row mt-5">
    <div class="col-md-8 col-lg-8">
        <agt-content-search-engine [contentType]="contentType" [contentTypeName]="contentTypeName"></agt-content-search-engine>
    </div>
    <div class="col-md-4 col-lg-4">
        <agt-content-main-action [contentType]="contentType" [contentSubtype]="contentSubtype" (contentSubtypeNameSelected)="onContentSubtypeNameSelected($event)"></agt-content-main-action>
    </div>
</div>
<!-- AGENTHOS - PANEL -->
<agt-content-list [contentType]="contentType" [contentTypeName]="contentTypeName" [contentSubtype]="contentSubtype" [contentSubtypeName]="contentSubtypeName" [contactId]="contactId"></agt-content-list>
