<div class="card" *ngIf="!!contactFile">
    <!-- AGENTHOS - FILECARD HEADER -->
    <div class="card-header">
        <!-- AGENTHOS - FILE IMAGE -->
        <img class="avatar brround" src="https://webkit.agenthos.com/workspace/agenthos_file_icon.png" width="38px">
        <!-- AGENTHOS - FILECARD MENU -->
        <div class="card-options">
            <a href="" class="mr-2 text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-bars"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div class="dropdown-plus-title">Acciones Disponibles</div>
                <!-- AGENTHOS - FILE EDIT -->
                <button type="button" class="dropdown-item" (click)="onClickUpdateFile()"><i class="fa fa-edit mr-2"></i>Actualizar Documento</button>
                <div class="dropdown-divider"></div>
                <!-- AGENTHOS - FILE DELETE -->
                <button type="button" class="dropdown-item" (click)="onClickDeleteFile()"><i class="fa fa-trash mr-2"></i>Eliminar Documento</button>
            </div>
        </div>
        <!-- //AGENTHOS - FILECARD MENU -->
    </div>
    <!-- //AGENTHOS - FILECARD HEADER -->
    <div class="card-header border-bottom-0">
        <div class="text-left">
            <!-- AGENTHOS - FILECARD SOURCE -->
            <div class="badge agt-badge-primary-gradient mr-1 mt-3">
                Documento
            </div>
            <!-- AGENTHOS - FILECARD STATUS -->
            <div class="badge agt-badge-{{contactFile.background}} mr-1 mt-3">
                {{ contactFile.contactFileStatusName }}
            </div>
            <!-- AGENTHOS - FILECARD LOAD TYPE -->
            <p class="text-muted mt-3">
                <span class="agt-text-warning fs-13">
                    <i data-toggle="popover" data-placement="left" class="fe fe-upload mr-2" data-content="El documento se cargó de forma manual."></i>
                </span>
                {{ contactFile.fileLoadName }}
            </p>
        </div>
        <div class="card-options">
            <button 
                type="button" 
                class="btn" 
                [ngClass]="[getFileClass(contactFile.fileExtension), 'mr-3']">
                <i class="fa {{ fileIcon }} mb-0"></i>
            </button>
        </div>
    </div>
    <!-- AGENTHOS - FILECARD BODY -->
    <div class="card-body pt-0">
        <div class="row">
            <div class="col-8">
                <span class="text-muted">Fecha Carga</span>
                <h6>
                    <span class="agt-icon-primary"><i class="fe fe-calendar mr-2"></i></span>
                    {{ contactFile.createdAt | date: 'dd/MM/yyyy' }}
                </h6>
            </div>
            <div class="col-4">
                <span class="text-muted">Tipo</span>
                <h6 class="text-justify">
                    <span class="agt-icon-primary"><i class="fe fe-file mr-2"></i></span>
                    {{ contactFile.fileExtension | uppercase }}
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <span class="text-muted">Fecha Vigencia</span>
                <h6 class="text-justify">
                    <span class="agt-icon-primary"><i class="fe fe-calendar mr-2"></i></span>
                    {{ contactFile.expiredAt | date: 'dd/MM/yyyy' }}
                </h6>
            </div>
            <div class="col-4" *ngIf="contactFile.expiredAt !== null">
                <span class="text-muted">{{ spanText }}</span>
                <h6 class="text-justify">
                    <span class="agt-icon-primary"><i class="fe fe-clock mr-2"></i></span>
                    <span *ngIf="spanText === 'Restante'">
                        {{ daysRemaining }} {{ daysRemaining === 1 ? 'día' : 'días' }}
                    </span>
                    <span *ngIf="spanText === 'Expiró'">
                        Hace {{ daysRemaining }} {{ daysRemaining === 1 ? 'día' : 'días' }}
                    </span>
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="text-muted">Nombre</span>
                <h6>{{ contactFile.fileName }}</h6>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - FILECARD BODY -->
    <!-- AGENTHOS - FILECARD FOOTER -->
    <div class="card-footer">
        <div class="row">
            <!-- AGENTHOS - FILE DOWNLOAD -->
            <div class="col-sm-9 col-9 text-left">
                <button type="button" class="btn btn-block btn-primary" (click)="onClickShowDetails()"><strong>VER DETALLES</strong></button>
            </div>
            <!-- AGENTHOS - FILE TRANSFER -->
            <div class="col-sm-3 col-3 text-right">
                <button type="button" class="btn btn-icon btn-secondary" title="Transferir Archivo" (click)="onClickTransferFile()"><i class="fa fa-qrcode"></i></button>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - FILECARD FOOTER -->
</div>
