<!-- AGENTHOS - SINISTER EVIDENCE -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Ver Evidencia</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-8">
						<p class="text-justify"><strong>¿Quieres ver la evidencia de cancelación?</strong></p>
						<p class="text-justify">
						Apunta con la cámara de tu Smartphone al código inteligente y la evidencia será transferida automáticamente a tu dispositivo.</p>
						<p class="text-justify">También puedes ver y guardar la evidencia de manera directa.</p>
					</div>
					<div class="col-md-4">
						<div class="form-group text-center">
							<ng-container *ngIf="!!modalShowCancellationEvidenceService.evidenceUrl">
                                <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="modalShowCancellationEvidenceService.evidenceUrl"></ngx-qrcode>
                            </ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center">
				<div class="col-12">
					<a [href]="modalShowCancellationEvidenceService.evidenceUrl" target="_blank">
						<button type="button" class="btn btn-primary btn-block" (click)="onClickCloseModal()" [disabled]="!(!!modalShowCancellationEvidenceService.evidenceUrl)"><strong>DESCARGAR EVIDENCIA</strong></button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - SINISTER EVIDENCE -->
