<div class="input-group-prepend">
    <div class="dropdown" *ngIf="dropdownSelectPhoneCodeService.phoneCodes.length > 0">
        <button type="button" class="btn btn-default-light dropdown-toggle" data-toggle="dropdown">
            <i id="flag-02" class="flag mr-1 {{dropdownSelectPhoneCodeService.phoneCodes[selectedPhoneCodePosition].flag}}" data-toggle="tooltip" [attr.data-original-title]="dropdownSelectPhoneCodeService.phoneCodes[selectedPhoneCodePosition].name"></i>
        </button>
        <div class="dropdown-menu">
            <ng-container *ngFor="let phoneCode of dropdownSelectPhoneCodeService.phoneCodes; let index = index">
                <div class="dropdown-item" (click)="onClickSelectPhoneCode(index)" *ngIf="index !== selectedPhoneCodePosition">
                    <i class="flag mr-1 {{phoneCode.flag}}"></i>
                    {{phoneCode.abbreviation}} +{{phoneCode.code}}
                </div>
            </ng-container>
        </div>
    </div>
</div>
