<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seguimiento de Pago</h5>
                <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="closeModal()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="form" (submit)="validateForm()">
                <div class="modal-body">
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item1">
                            Ingresa los detalles para programar el seguimiento.
                        </li>
                    </ol>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - PAYTRACKER PAYMENT FOLLOW DATE * -->
                                <label class="form-label">Fecha</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i
                                                class="fa fa-calendar-check-o tx-16 lh-0 op-6"
                                            ></i>
                                        </div>
                                    </div>
                                    <input
                                        [id]="calendarIdDate"
                                        type="text"
                                        class="form-control fc-datepicker {{
                                            getValidationClass('date')
                                        }}"
                                        formControlName="date"
                                    />
                                    <div class="invalid-feedback">
                                        {{ getErrorMessage("date") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - PAYTRACKER PAYMENT FOLLOW PRIORITY * -->
                                <label class="form-label">Hora</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i
                                                class="fa fa-clock-o tx-16 lh-0 op-6"
                                            ></i>
                                        </div>
                                    </div>
                                    <input
                                        [id]="timerIdTime"
                                        class="form-control fc-timepicker {{
                                            getValidationClass('time')
                                        }}"
                                        type="text"
                                        formControlName="time"
                                    />
                                    <div class="invalid-feedback">
                                        {{ getErrorMessage("time") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - PAYTRACKER PAYMENT FOLLOW COMMENTS * -->
                                <label class="form-label">Comentarios</label>
                                <textarea
                                    class="form-control {{
                                        getValidationClass('comment')
                                    }}"
                                    rows="3"
                                    formControlName="comment"
                                >
                                </textarea>
                                <div class="invalid-feedback">
                                    {{ getErrorMessage("comment") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <button
                                type="submit"
                                class="btn btn-block agt-btn-default"
                            >
                                <i class="fa fa-calendar-plus-o mr-2"></i
                                ><strong>AGENDAR SEGUIMIENTO</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-block agt-btn-secondary-outline"
                    (click)="closeModal()"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>
