<!-- AGENTHOS - PROFILE RESUME -->
<div class="row" *ngIf="!!containerContactDetailsService.contact; else loadingContactDetails">
    <div class="col-sm-12">
        <div class="card">
            <!-- AGENTHOS - CARD HEADER -->
            <div class="card-header border-bottom-0">
                <!-- AGENTHOS - CONTACT PIC -->
                <img class="avatar brround" [src]="containerContactDetailsService.contact.avatarUrl" width="38px">
                <div class="card-options">
                    <div class="badge badge-primary-gradient mr-1">{{containerContactDetailsService.contact.contactTypeName | uppercase}}</div>
                </div>
            </div>
            <!-- //AGENTHOS - CARD HEADER -->
            <!-- AGENTHOS - CARD BODY -->
            <div class="card-body">
                <!-- AGENTHOS - CONTACT NAME -->
                <a routerLink="/{{contactProfileRoute}}"><h3 class="h3">{{containerContactDetailsService.contact.contactName}}</h3></a>
                <!-- AGENTHOS - CONTACT SOURCE -->
                <p class="mb-3">
                    <i class="fe fe-globe mr-1"></i>{{containerContactDetailsService.contact.contactSourceTypeName}}
                    <span class="float-right"><i class="fe fe-award mr-1"></i>{{containerContactDetailsService.contact.contactScoreName}}</span>
                </p>
                <ol class="breadcrumb1">
                    <li class="breadcrumb-item1">{{message}} <strong>{{containerContactDetailsService.contact.contactName}}</strong>.</li>
                </ol>
            </div>
            <!-- //AGENTHOS - CARD BODY -->
        </div>
    </div>
</div>

<ng-template #loadingContactDetails>
    <div class="card">
        <agt-loading-content
            [isLoadingContent]="true"
            [height]="218"
        ></agt-loading-content>
    </div>
</ng-template>

<!-- //AGENTHOS - PROFILE RESUME -->
