<div class="col-12" *ngIf="model.appliedRenewalsRate > -1">
    <div class="alert alert-avatar alert-primary alert-dismissible mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Business Intelligence</strong> <hr class="message-inner-separator">
        <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
        <p><strong>Alerta:</strong> El contacto tiene <strong>{{model.appliedRenewalsRate}}%</strong> en rate de renovación, brinda seguimiento inmediato a las renovaciones pendientes de sus pólizas.</p>
    </div>
</div>
