<div class="col-12">        
    <div class="alert alert-avatar agt-alert-primary alert-dismissible mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> 
        <strong>Agenthos Intelligence</strong> <hr class="message-inner-separator"> 
        <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
        <p><strong>Alerta:</strong> Hay <strong>{{model.totalWorkspacePoliciesPending}}</strong> pólizas que se encuentran pendientes. <strong>Aplica sus recibos pendientes o finaliza sus siniestros abiertos</strong>.</p>
    </div> 
</div>
