<div class="card">
    <div class="card-header pt-2 pb-0 border-bottom-0">
        <h3 class="card-title">Prima Emitida ({{year}})</h3>
        <div class="card-options">
            <i class="fe fe-shield mr-1 text-primary fs-30"></i>
        </div>
    </div>
    <div class="card-body pt-0">
        <h2 class="mb-0 number-font">$<span class="counter">888,888.88</span> MXN</h2>
        <div class="row mt-3 dash1">
            <div class="col  border-right">
                <h6 class="font-weight-500 number-font1 mb-0">8</h6>
                <span class="text-muted">Pólizas<br/>Nuevas</span>
            </div>
            <div class="col  border-right">
                <h6 class="font-weight-500 number-font1 mb-0">8</h6>
                <span class="text-muted">Pólizas<br/>Renovadas</span>
            </div>
            <div class="col ">
                <p class="font-weight-500 number-font1 mb-0">A+</p>
                <span class="text-muted">Score<br/>de Socio</span>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="button" name="agtReportDownload" class="btn btn-block btn-primary" data-toggle="modal" data-target="#agtReportDownload"><strong>DESCARGAR REPORTE</strong></button>
    </div>
</div>
