<!-- AGENTHOS - APPLY PAYMENT -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ng-container *ngIf="!!modalApplyPaymentService.payment; else loading">
                <form [formGroup]="modalApplyPaymentService.paymentForm" (submit)="onSubmitApplyPayment()">
                    <div class="modal-header">
                        <!-- AGENTHOS - POLICY NUMBER -->
                        <h5 class="modal-title">Aplicar Pago</h5>
                        <button type="button" class="close" (click)="onClickCloseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY NO. -->
                                    <label class="form-label">No. Póliza</label>
                                    <input type="text" class="form-control" [placeholder]="modalApplyPaymentService.payment.policyNumber" readonly="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PAYPLAN -->
                                    <label class="form-label">Plan de Pagos</label>
                                    <input type="text" class="form-control" [placeholder]="modalApplyPaymentService.payment.paymentPlanName" readonly="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY INI. -->
                                    <label class="form-label">Inicio Vigencia</label>
                                    <input type="text" class="form-control" placeholder="{{modalApplyPaymentService.payment.validityStartDate | date: 'dd/MM/yyyy'}}" readonly="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY END. -->
                                    <label class="form-label">Fin Vigencia</label>
                                    <input type="text" class="form-control" placeholder="{{modalApplyPaymentService.payment.validityEndDate | date: 'dd/MM/yyyy'}}" readonly="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAID AMOUNT * -->
                                    <label class="form-label">Monto Pagado (MXN)</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-credit-card tx-16 lh-0 op-6"></i>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control {{getValidationClass('amount')}}" formControlName="amount">
                                                <div class="invalid-feedback">{{getErrorMessage('amount')}}</div>
                                            </div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Monto total que debe aplicarse para el registro de este pago." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAID TICKETS * -->
                                    <label class="form-label">Recibos Pagados</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <input type="text" class="form-control {{getValidationClass('receipts')}}" formControlName="receipts">
                                            <div class="invalid-feedback">{{getErrorMessage('receipts')}}</div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Número de recibos que deben aplicarse en este pago." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY DATE * -->
                                    <label class="form-label">Fecha Aplicación</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                    </div>
                                                </div>
                                                <input [id]="calendarIdApplicationDate" class="form-control fc-datepicker {{getValidationClass('applicationDate')}}" type="text" formControlName="applicationDate">
                                                <div class="invalid-feedback">{{getErrorMessage('applicationDate')}}</div>
                                            </div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Fecha en la que debe registrarse el movimiento de pago." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- AGENTHOS - NEXT PAY * -->
                                    <label class="form-label">Siguiente Pago</label>
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                    </div>
                                                </div>
                                                <input [id]="calendarIdNextPaymentDate" class="form-control fc-datepicker {{getValidationClass('nextPaymentDate')}}" type="text" formControlName="nextPaymentDate">
                                                <div class="invalid-feedback">{{getErrorMessage('nextPaymentDate')}}</div>
                                            </div>
                                        </div>
                                        <span class="col-auto align-self-center">
                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="Fecha de pago programada para el siguiente recibo." data-original-title="">?</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-block btn-primary"><strong>APLICAR PAGO</strong></button>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>
<!-- //AGENTHOS - APPLY PAYMENT -->

<agt-modal-confirm-apply-payment-with-balance-outstanding [modalId]="modalIdConfirmApplyPaymentWithBalanceOutstanding" [balanceOutstanding]="modalApplyPaymentService.balanceOutstanding" [currencyName]="(!!modalApplyPaymentService.payment) ? modalApplyPaymentService.payment.currencyName : ''" (paymentApplicationCancelled)="onPaymentApplicationCancelled()" (paymentApplicationConfirmed)="onPaymentApplicationConfirmed()"></agt-modal-confirm-apply-payment-with-balance-outstanding>
<agt-modal-confirm-apply-payment-with-balance-remaining [modalId]="modalIdConfirmApplyPaymentWithBalanceRemaining" [balanceRemaining]="modalApplyPaymentService.balanceRemaining" [currencyName]="(!!modalApplyPaymentService.payment) ? modalApplyPaymentService.payment.currencyName : ''" (paymentApplicationCancelled)="onPaymentApplicationCancelled()" (paymentApplicationConfirmed)="onPaymentApplicationConfirmed()"></agt-modal-confirm-apply-payment-with-balance-remaining>

<ng-template #loading>
    <agt-loading-content [isLoadingContent]="true"></agt-loading-content>
</ng-template>
