<router-outlet></router-outlet>
<agt-loading></agt-loading>
<agt-scanning></agt-scanning>
<agt-modal-voice-control-talking></agt-modal-voice-control-talking>
<agt-modal-voice-control-processing-request></agt-modal-voice-control-processing-request>
<agt-modal-voice-control-contact-results></agt-modal-voice-control-contact-results>
<agt-modal-voice-control-not-supported></agt-modal-voice-control-not-supported>
<agt-modal-voice-control-command-not-found></agt-modal-voice-control-command-not-found>
<agt-modal-voice-control-no-results></agt-modal-voice-control-no-results>
<agt-modal-user-role-updated modalId="modal-user-role-updated"></agt-modal-user-role-updated>
