<!-- AGENTHOS - ENDORSEMENT INCREMENT (IF MORE PAY AMMOUNT) -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Incremento de Prima</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify"><strong>Se ha detectado un incremento en la prima total</strong>.</p>
						<p class="text-justify">
						Hay un incremento de <strong>{{endorsementAmount | currency: '': '$': '0.2-2'}} {{currencyName}}</strong> en la prima de la póliza. <strong>Por favor selecciona la forma de pago para continuar</strong>.</p>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-primary btn-block mt-5" (click)="selectMethod(ENDORSEMENT_PAYMENT_METHODS.POLICY_RECEIPTS)"><strong>RECIBOS DE PÓLIZA</strong></button>
					</div>
					<div class="col-md-12">
						<!-- AGENTHOS - SELF TICKETS TARGET -->
						<button type="button" class="btn btn-primary btn-block mt-5" (click)="selectMethod(ENDORSEMENT_PAYMENT_METHODS.INDEPENDENT_RECEIPTS)"><strong>RECIBOS INDEPENDIENTES</strong></button>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-block btn-secondary" data-toggle="modal" data-dismiss="modal"><strong>CANCELAR</strong></button>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - ENDORSEMENT INCREMENT -->
