<!-- AGENTHOS - SINISTER RECORD -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Historial de Siniestro</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify">El historial de siniestro te permite verificar todos los movimientos registrados para este siniestro. <strong> Por favor confirma si deseas continuar</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
				<button type="button" class="btn btn-primary" (click)="onClickConfirmAction()">CONFIRMAR</button>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - SINISTER RECORD -->
