<agt-container-contact-details
    [contactId]="contactId"
    [policyId]="policyId"
    message="Valida el historial de renovaciones de la póliza"
></agt-container-contact-details>

<!-- AGENTHOS - POLICY INSIGHTS HEADER -->
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <!-- AGENTHOS - POLICY INSIGHTS TITLE -->
            <div class="card-header">
                <h3 class="card-title">Desempeño de Renovaciones</h3>
            </div>
            <!-- AGENTHOS - TRACKER CONTROL HEADER -->
        </div>
    </div>
    <agt-alert-unusual-policy-increase
        class="agt-width-100"
        [contactId]="contactId"
        [policyId]="policyId"
    ></agt-alert-unusual-policy-increase>
</div>
<!-- //AGENTHOS - POLICY INSIGHTS HEADER -->

<!-- AGENTHOS - POLICY INSIGHTS -->
<div class="row">
    <!-- AGENTHOS - POLICY TRACKER INSURERS -->
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
        <agt-chart-policy-renewals
            [contactId]="contactId"
            [policyId]="policyId"
        ></agt-chart-policy-renewals>
    </div>
    <!-- //AGENTHOS - POLICY TRACKER INSURERS -->
    <!-- AGENTHOS - POLICY LIFETIME AMOUNTS -->
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
        <agt-chart-policy-tracker-amounts
            [contactId]="contactId"
            [policyId]="policyId"
        ></agt-chart-policy-tracker-amounts>
    </div>
    <!-- //AGENTHOS - POLICY LIFETIME AMOUNTS -->
</div>
<!-- //AGENTHOS - POLICY INSIGHTS -->

<agt-container-policy-renewal-manager
    [contactId]="contactId"
    [policyId]="policyId">
</agt-container-policy-renewal-manager>

<agt-content-list
    [contentType]="CONTENT_TYPES.POLICY_TRACKER.ID"
    [contentTypeName]="CONTENT_TYPES.POLICY_TRACKER.NAME"
    [contactId]="contactId"
    [policyId]="policyId"
    [contentSubtype]="DEFAULT_CONTENT_FILTER_ID"
    contentSubtypeName="Aplicada">
</agt-content-list>
