<agt-payments-kpis></agt-payments-kpis>

<div class="row mt-5">
    <div class="col-xl-9 col-lg-6 col-md-6 col-sm-12">
        <agt-card-content-search-engine
            title="Localizar Recibo"
            placeholder="Buscador de Recibos"
            (searchContent)="searchContent($event)"
        ></agt-card-content-search-engine>
    </div>
    <!-- AGENTHOS - PAYTRACKER ACTIONS -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Gestionar Cobranza</h3>
            </div>
            <div class="card-body">
                <button
                    type="button"
                    name="agtPayTrackerActions"
                    class="btn btn-block agt-btn-secondary"
                    data-toggle="modal"
                    data-target="#agtPayTrackerActions"
                >
                    <strong>ACCIONES DISPONIBLES</strong>
                </button>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - PAYTRACKER ACTIONS -->
</div>

<div class="row mt-3">
    <div class="col-12">
        <agt-card-content-title
            title="Recibos {{paymentStatusId | paymentStatusName | plural}}"
        ></agt-card-content-title>
    </div>
</div>

<agt-workspace-payment-list></agt-workspace-payment-list>
