<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalData?.title }}</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1">
                                {{ modalData?.description }}
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-12 mt-3">
                        <!-- AGENTHOS - SMARTWALLET POLICY REISSUE SAME OWNER -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="createPolicy()"
                        >
                            🗄️ <strong>MISMO CONTRATANTE</strong>
                        </button>
                    </div>
                    <div class="col-md-12 mt-3">
                        <!-- AGENTHOS - SMARTWALLET POLICY REISSUE NEW OWNER -->
                        <button
                            type="button"
                            name="agtSmartWalletPolicyLauncher"
                            class="btn btn-block agt-btn-default"
                            data-toggle="modal"
                            data-target="#agtSmartWalletPolicyLauncher"
                            data-dismiss="modal"
                        >
                            📇 <strong>CAMBIAR CONTRATANTE</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- AGENTHOS - CANCEL UPLOAD -->
                <button
                    type="button"
                    class="btn btn-block agt-btn-secondary-outline"
                    data-dismiss="modal"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>
