<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Error en Lectura</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 text-center">
						<i class="fe fe-help-circle text-warning fa-5x"></i>
						<p class="text-justify mt-5">El lector de pólizas no logró extraer los detalles de manera automática. <strong>Pero hemos detectado que existe una póliza predecesora y hemos extraido su información. Valida que sea correcta</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><strong>CONTINUAR</strong></button>
				</div>
			</div>
		</div>
	</div>
</div>
