<!-- AGENTHOS TOP VIEW -->
<div class="page-header" *ngIf="!!model.workspace">
	<div class="media mb-3">
		<!-- AGENTHOS - AGENTE LOGO -->
		<img class="avatar-lg rounded-circle mr-3" [src]="model.workspace.avatarUrl" alt="Orp Seguros">
		<div class="media-body">
			<div class="d-flex align-items-center">
				<div class="mt-1">
					<!-- AGENTHOS - AGENTE NOMBRE -->
					<h5 class="mb-0">{{model.workspace.brandName}}</h5>
					<!-- AGENTHOS - ID AGENTE -->
					<p class="mb-0 fs-13 text-muted">ID: {{(!!model.user) ? model.user.shortName : ''}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ml-auto">
		<a [routerLink]="ROUTES_NAME.dashboard"><button class="btn btn-block btn-outline-success"><i class="fe fe-activity mr-2"></i><strong>DASHBOARD</strong></button></a>
	</div>
</div>
<!-- AGENTHOS TOP VIEW END -->
