<div class="card">
    <div class="card-header pt-2 pb-0 border-bottom-0">
        <h3 class="card-title">Endosos</h3>
        <div class="card-options">
            <i data-toggle="popover" data-placement="left" class="fe fe-help-circle fs-20 text-primary" data-content="Endosos aplicados a la póliza." data-original-title="" title=""></i>
        </div>
    </div>
    <!-- AGENTHOS - POLICY ENDORSEMENTS -->
    <div id="agt-record-policy-endorsements"></div>
    <agt-loading-content [isLoadingContent]="!canShowChart" [height]="200"></agt-loading-content>
    <div class="card-footer" *ngIf="!!canShowFooter">
        <div class="row">
            <div class="col-12 text-left">
                <button type="button" class="btn btn-block btn-primary" (click)="confirmAction()"><strong>VER ENDOSOS</strong></button>
            </div>
        </div>
    </div>
</div>
