<!-- AGENTHOS - MAIN VIEW -->
<div class="page h-100" *ngIf="welcomeService.user !== null">
    <div class="">
        <!-- AGENTHOS - LOGO -->
        <div class="col col-login mx-auto">
            <div class="text-center">
                <img src="https://webkit.atombits.xyz/agenthos/logo/agenthos_dark.png" class="header-brand-img" alt="Agenthos Logo">
            </div>
        </div>
        <!-- //AGENTHOS - LOGO -->

        <!-- AGENTHOS - LOGED ACCOUNT -->
        <div class="container-login100">
            <div class="col-md-6 col-xl-6">
                <div class="card ">
                    <div class="card-body text-center">
                        <!-- ATOM ACCOUNT - USER PIC -->
                        <img class="avatar avatar-xxl brround cover-image" [src]="welcomeService.user.avatarUrl">
                        <!-- ATOM ACCOUNT - SHORT NAME -->
                        <h4 class="h4 mb-0 mt-3">{{welcomeService.user.shortName}}</h4>
                        <p class="card-text mt-2">Bienvenido</p>
                        <p class="card-text mt-3">Crea un espacio de trabajo para comenzar a administrar tu cartera de clientes.</p>
                    </div>
                    <div class="card-footer text-center">
                        <!-- AGENTHOS - START ACTIVATION -->
                        <button type="button" class="btn btn-primary btn-block" (click)="onClickGoToCreateWorkspace()"><strong>COMENZAR</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- //AGENTHOS - LOGED ACCOUNT -->
    </div>
</div>
<!-- //AGENTHOS - MAIN VIEW -->
