<!-- AGENTHOS - CONTENT SEARCH ENGINE -->
<form [formGroup]="contentSearchEngineService.searchForm" (submit)="onSubmitSearchContent()">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Localizar {{contentTypeName}}</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row gutters-xs">
                    <div class="col">
                        <input type="search" class="form-control" placeholder="Buscador Inteligente" formControlName="query">
                    </div>
                    <span class="col-auto">
                        <button type="submit" class="btn btn-primary">
                            <i class="fe fe-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <agt-content-total-results *ngIf="!!totalResults" [query]="query" [totalResults]="totalResults"></agt-content-total-results>
        </div>
    </div>
</form>
<!-- //AGENTHOS - CONTENT SEARCH ENGINE -->
