<!-- AGENTHOS - CONTENT SEARCH ENGINE -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Localizar Prospecto</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row gutters-xs">
                    <div class="col">
                        <input type="text" class="form-control" name="agtSearchQuery" placeholder="Buscador Inteligente">
                    </div>
                    <span class="col-auto">
                        <a href="results.php" title="Buscar Prospecto">
                        <button type="button" name="agtSmartSearch" class="btn btn-primary"><i class="fe fe-search"></i></button></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
<!-- //AGENTHOS - CONTENT SEARCH ENGINE -->
