<div class="col-12" *ngIf="model.appliedPaymentsRate > -1">
    <div class="alert alert-avatar alert-primary alert-dismissible mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Business Intelligence</strong> <hr class="message-inner-separator">
        <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
        <p><strong>Alerta:</strong> El grupo tiene <strong>{{model.appliedPaymentsRate}}%</strong> en rate de cobranza, brinda seguimiento inmediato a los recibos pendientes de los miembros.</p>
    </div>
</div>
