<!-- AGENTHOS - UPGRADE PRO -->
<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agenthos {{ licenseName }}</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">
                            <strong
                                >¿Deseas tener Agenthos
                                {{ licenseName }}?</strong
                            >
                        </p>
                        <p class="text-justify">
                            Un especialista te ayudará a activar Agenthos
                            {{ licenseName }}.
                            <strong
                                >Por favor contacta a un especialista para
                                continuar</strong
                            >.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <a
                        href="https://wa.me/525587645020?text=Hola soy {{
                            model.username
                        }} de {{
                            model.workspaceName
                        }}, deseo hablar con un especialista para mejorar mi cuenta y activar Agenthos {{
                            licenseName
                        }}."
                        target="_blank"
                    >
                        <button
                            type="button"
                            class="btn btn-block agt-btn-primary"
                            (click)="closeModal()"
                        >
                            <strong>ENVIAR MENSAJE</strong>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - UPGRADE PRO -->
