<!-- AGENTHOS - SMART SUGGESTION -->
<div class="col-sm-12 col-md-12" *ngIf="!isLoadingContent && contentResultData.loadedItems === contentResultData.totalItems">
    <div class="alert alert-avatar alert-primary alert-dismissible mt-5 mb-5">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ng-container [ngSwitch]="contentType">
            <ng-container *ngSwitchCase="CONTENT_TYPES.CONTACT.ID">
                <ng-container *ngTemplateOutlet="contactSuggestion"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="CONTENT_TYPES.LEAD.ID">
                <ng-container *ngTemplateOutlet="leadSuggestion"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="CONTENT_TYPES.CLIENT.ID">
                <ng-container *ngTemplateOutlet="leadSuggestion"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="CONTENT_TYPES.CONTACT_QUOTATION.ID">
                <ng-container *ngTemplateOutlet="contactQuotationSuggestion"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="CONTENT_TYPES.CONTACT_POLICY.ID">
                <ng-container *ngTemplateOutlet="contactPolicySuggestion"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
<!-- AGENTHOS - SMART SUGGESTION -->

<ng-template #contactSuggestion>
    <strong>¿No encuentras al {{contentTypeName | lowercase}}?</strong> <hr class="message-inner-separator">
    <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
    <p>Intenta ingresando otros términos de búsqueda para lozalizar al contacto.</p>
</ng-template>

<ng-template #leadSuggestion>
    <strong>¿No encuentras al {{contentTypeName | lowercase}}?</strong> <hr class="message-inner-separator">
    <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
    <p>Intenta localizarlo con el <strong>Buscador Inteligente</strong>.</p>
</ng-template>

<ng-template #contactQuotationSuggestion>
    <strong>¿No encuentras la {{contentTypeName | lowercase}}?</strong> <hr class="message-inner-separator">
    <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
    <p>Intenta explorar el <strong>Historial de {{contentTypeName | pluralNameFormat}}</strong>.</p>
</ng-template>

<ng-template #contactPolicySuggestion>
    <strong>¿No encuentras la {{contentTypeName | lowercase}}?</strong> <hr class="message-inner-separator">
    <agt-image-agenthos-assistant></agt-image-agenthos-assistant>
    <p>Intenta explorar el <strong>Historial de {{contentTypeName | pluralNameFormat}}</strong>.</p>
</ng-template>
