<agt-content-kpis
    *ngIf="canShowKpis"
    [contentType]="contentType"
    [contentTypeName]="contentTypeName"
    [contentSubtype]="contentSubtype"
    [canReloadContent]="canReloadContent"
    (contentSubtypeNameSelected)="onContentSubtypeNameSelected($event)">
</agt-content-kpis>
<!-- AGENTHOS - PANEL -->
<div class="row mt-5">
    <div class="col-md-{{searchEngineWidth}} col-lg-{{searchEngineWidth}}">
        <agt-content-search-engine
            [contentType]="contentType"
            [contentTypeName]="contentTypeName"
            [query]="query"
            [contactId]="contactId">
        </agt-content-search-engine>
    </div>
    <div class="col-md-{{mainActionWidth}} col-lg-{{mainActionWidth}}">
        <agt-content-main-action
            [contentType]="contentType"
            [contentTypeName]="contentTypeName"
            [contentSubtype]="contentSubtype"
            [contactId]="contactId"
            (contentSubtypeNameSelected)="onContentSubtypeNameSelected($event)"
            (sinisterCreated)="onReloadContent()"
            (paymentSelected)="applyPayment($event)">
        </agt-content-main-action>
    </div>
</div>
<!-- AGENTHOS - PANEL -->
<agt-content-list
    #contentList
    [contentType]="contentType"
    [contentTypeName]="contentTypeName"
    [contentSubtype]="contentSubtype"
    [contentSubtypeName]="contentSubtypeName"
    [query]="query"
    [contactId]="contactId"
    [groupId]="groupId"
    [canReloadContent]="canReloadContent"
    (contentReloaded)="onContentReloaded()"
    (receiptPaid)="onReloadContent()"
></agt-content-list>
