<!-- AGENTHOS - SMART INSIGHTS -->
<div class="row mt-3">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-insurances
            description="Clasificación de renovaciones pendientes por ramo."
            [data]="model.chartsData.insurances"
        ></agt-chart-insurances>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-insurers
            description="Clasificación de renovaciones pendientes por aseguradora."
            [data]="model.chartsData.insurers"
        ></agt-chart-insurers>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <agt-chart-contact-types
            description="Clasificación de renovaciones pendientes por tipo de cliente."
            [data]="model.chartsData.contactTypes"
        ></agt-chart-contact-types>
    </div>
</div>
<!-- //AGENTHOS - SMART INSIGHTS -->
