<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acciones Disponibles</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1">
                                Selecciona la acción que deseas realizar.
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-12 mt-3">
                        <!-- AGENTHOS - DATASUITE REPORT LAUNCHER -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="showModalWorkspaceReportActions()"
                        >
                            🚀 <strong>GENERAR REPORTE</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - LEADMANAGER QUOTE LAUNCHER -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="
                                showModalSelectContactAction(
                                    CONTENT_TYPES.QUOTATION
                                )
                            "
                        >
                            🛡️ <strong>COTIZAR SEGURO</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - SMARTWALLET POLICY LAUNCHER -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="
                                showModalSelectContactAction(
                                    CONTENT_TYPES.POLICY
                                )
                            "
                        >
                            🗃️ <strong>CARGAR PÓLIZA</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - TASKPLANNER TASK LAUNCHER -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="showModalCreateTask()"
                        >
                            📆 <strong>PROGRAMAR TAREA</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - DATASUITE REPORT LAUNCHER -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="showModalAgenthosSupport()"
                        >
                            ☎️ <strong>SOLICITAR SOPORTE</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    name="agtCancelAction"
                    class="btn btn-block agt-btn-secondary-outline"
                    data-dismiss="modal"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>

<agt-workspace-report-actions-modal></agt-workspace-report-actions-modal>
<agt-modal-select-contact-action
    [modalId]="modalIdSelectContactAction"
    [title]="contactActionTitle"
    [description]="contactActionDescription"
    (createContact)="showModalToSelectContactType()"
    (searchContact)="showModalToSearchContact()"
></agt-modal-select-contact-action>
<agt-modal-select-contact-type
    [modalId]="modalIdSelectContactType"
    title="Crear Prospecto"
    description="Selecciona el tipo de prospecto que deseas crear. "
></agt-modal-select-contact-type>
<agt-modal-search-contact
    [modalId]="modalIdSearchContact"
    [actionType]="contactActionType"
></agt-modal-search-contact>
<agt-create-task></agt-create-task>
<agt-modal-confirm-go-to-agenthos-support
    [modalId]="modalIdAgenthosSupport"
></agt-modal-confirm-go-to-agenthos-support>
