<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cargar Póliza</h5>
                <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="closeModal()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (submit)="validateForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb1">
                                <li class="breadcrumb-item1">
                                    Selecciona la carátula y los detalles de la
                                    póliza.
                                </li>
                            </ol>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div
                                [id]="fileContainerId"
                                class="form-group {{
                                    getValidationClass('file')
                                }}"
                            >
                                <!-- AGENTHOS - SMARTWALLET POLICY FILE -->
                                <label class="form-label"
                                    >Carátula de Póliza</label
                                >
                                <input
                                    [id]="fileInputId"
                                    type="file"
                                    class="dropify"
                                    data-height="208"
                                    (click)="$event.preventDefault()"
                                />
                                <input
                                    type="hidden"
                                    name="fileHidden"
                                    formControlName="file"
                                />
                                <div class="invalid-feedback">
                                    {{ getErrorMessage("file") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SMARTWALLET POLICY INSURER * -->
                                        <label class="form-label"
                                            >Aseguradora</label
                                        >
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i
                                                        class="fa fa-institution tx-16 lh-0 op-6"
                                                    ></i>
                                                </div>
                                            </div>
                                            <select
                                                class="form-control {{
                                                    getValidationClass(
                                                        'insurerId'
                                                    )
                                                }}"
                                                formControlName="insurerId"
                                                data-placeholder="Compañía Aseguradora"
                                            >
                                                <optgroup
                                                    label="Seleccionar Aseguradora"
                                                >
                                                    <option
                                                        *ngFor="
                                                            let insurer of insurers
                                                        "
                                                        [value]="
                                                            insurer.insurerId
                                                        "
                                                    >
                                                        {{
                                                            insurer.name
                                                                | uppercase
                                                        }}
                                                    </option>
                                                </optgroup>
                                            </select>
                                            <div class="invalid-feedback">
                                                {{
                                                    getErrorMessage("insurerId")
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SMARTWALLET POLICY INSURANCE * -->
                                        <label class="form-label"
                                            >Tipo de Seguro</label
                                        >
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i
                                                        class="fa fa-shield tx-16 lh-0 op-6"
                                                    ></i>
                                                </div>
                                            </div>
                                            <select
                                                class="form-control {{
                                                    getValidationClass(
                                                        'insuranceId'
                                                    )
                                                }}"
                                                formControlName="insuranceId"
                                                data-placeholder="Tipo de Seguro"
                                                (change)="loadInsuranceTypes()"
                                            >
                                                <optgroup
                                                    *ngFor="
                                                        let category of insuranceCategories
                                                    "
                                                    [label]="category.name"
                                                >
                                                    <option
                                                        *ngFor="
                                                            let insurance of category.insurances
                                                        "
                                                        [value]="
                                                            insurance.insuranceId
                                                        "
                                                    >
                                                        {{
                                                            insurance.name
                                                                | uppercase
                                                        }}
                                                    </option>
                                                </optgroup>
                                            </select>
                                            <div class="invalid-feedback">
                                                {{
                                                    getErrorMessage(
                                                        "insuranceId"
                                                    )
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- AGENTHOS - SMARTWALLET POLICY INSURANCE * -->
                                        <label class="form-label"
                                            >Tipo de Producto</label
                                        >
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i
                                                        class="fa fa-tag tx-16 lh-0 op-6"
                                                    ></i>
                                                </div>
                                            </div>
                                            <select
                                                class="form-control {{
                                                    getValidationClass(
                                                        'insuranceTypeId'
                                                    )
                                                }}"
                                                formControlName="insuranceTypeId"
                                            >
                                                <option
                                                    *ngFor="
                                                        let insuranceType of insuranceTypes
                                                    "
                                                    [value]="
                                                        insuranceType.insuranceTypeId
                                                    "
                                                >
                                                    {{
                                                        insuranceType.name
                                                            | uppercase
                                                    }}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">
                                                {{
                                                    getErrorMessage(
                                                        "insuranceTypeId"
                                                    )
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <button
                                type="submit"
                                class="btn btn-block agt-btn-default"
                            >
                                🛰️ <strong>GUARDAR PÓLIZA</strong>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-block agt-btn-secondary-outline"
                    (click)="closeModal()"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>

<agt-large-file-uploader
    [maxFileSize]="maxFileSize"
    [allowedFileExtensions]="allowedFileExtensions"
    (fileSelected)="patchFileValue($event)"
    (fileUploaded)="policyUploaded()"
/>
