<!-- AGENTHOS - POLICY LISTING (INCOMPLETES) -->
<div class="row mt-3" *ngIf="containerListIncompletePoliciesService.incompletePolicies.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pólizas Incompletas</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3" *ngFor="let incompletePolicy of containerListIncompletePoliciesService.incompletePolicies">
         <agt-card-incomplete-policy
             [incompletePolicy]="incompletePolicy"
             (completePolicy)="onCompletePolicy($event)"
             (cancelPolicy)="onCancelPolicy($event)"
         >
         </agt-card-incomplete-policy>
    </div>
</div>
<!-- //AGENTHOS - POLICY LISTING (INCOMPLETES) -->

<agt-modal-confirm-cancel-policy [modalId]="modalIdConfirmCancelPolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-cancel-policy>
