<div class="card" *ngIf="!!contact">
    <!-- AGENTHOS - CLIENT CARD HEADER -->
    <div class="card-header">
        <!-- AGENTHOS - CONTACT PIC -->
        <img class="avatar brround" [src]="contact.avatarUrl" width="38px">
        <!-- AGENTHOS - CLIENT STATUS -->
        <div class="card-options">
            <div class="badge badge-primary-gradient mr-1">{{(contact.clientStatusName | contactStatusName: contact.leadStatusName) | uppercase}}</div>
            <div class="badge badge-{{!!contact.clientStatusBackground ? contact.clientStatusBackground : contact.leadStatusBackground}} mr-1" *ngIf="!!contact.clientStatusName || contact.leadStatusName">{{(!!contact.clientStatusName ? contact.clientStatusName : contact.leadStatusName) | uppercase}}</div>
        </div>
    </div>
    <!-- //AGENTHOS - CLIENT CARD HEADER -->
    <!-- AGENTHOS - CLIENT CARD BODY -->
    <div class="card-body">
        <!-- AGENTHOS - CONTACT NAME -->
        <h4 class="h4">{{contact.contactName}}</h4>
        <!-- AGENTHOS - CONTACT SOURCE -->
        <p class="mb-2">
            <i class="fe fe-globe mr-1"></i>{{contact.contactSourceTypeName}}
            <span class="float-right"><i class="fe fe-award mr-1"></i>{{contact.contactScoreName}}</span>
        </p>
        <!-- AGENTHOS - CONTACT WALLET -->
        <p class="mb-0">
            <i class="fe fe-credit-card mr-1"></i>{{ contact.totalGlobalWallet | currency: '': '$': '0.2-2'}} {{contact.currencyName}}
            <span class="float-right"><i class="fe fe-file-text mr-1"></i>{{contact.totalActivePolicies}} P</span>
        </p>
    </div>
    <!-- //AGENTHOS - CLIENT CARD BODY -->
    <!-- AGENTHOS - CLIENT CARD FOOTER -->
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-9 col-9 text-left">
                <button type="button" class="btn btn-block btn-primary" (click)="onClickSelectContact(contact.contactId)"><strong>{{buttonLabel}}</strong></button>
            </div>
            <div class="col-sm-3 col-3 text-right">
                <button *ngIf="canShowDeleteContactButton; else showContact" type="button" class="btn btn-icon btn-secondary" (click)="requestDeleteContact()"><i class="fe fe-trash-2"></i></button>
                <ng-template #showContact>
                    <button type="button" class="btn btn-icon btn-secondary" (click)="onClickShowContactData(contact.contactId)"><i class="fa fa-id-badge"></i></button>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - CLIENT CARD FOOTER -->
</div>
