<ng-container *ngIf="isLoadedContent">
    <ng-container *ngIf="hasResults; else noResultsContainer">
        <div class="row">
            <ng-container
                *ngFor="let payment of payments; trackBy: trackByPayments"
            >
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <agt-card-payment
                        [payment]="payment"
                        (goToPaymentReceiptsPaid)="
                            showModalToConfirmGoToPaymentReceiptsPaid($event)
                        "
                        (goToPaymentReceiptsPending)="
                            showModalToConfirmGoToPaymentReceiptsPending($event)
                        "
                        (showPolicyDetails)="
                            showModalToShowPolicyDetails($event)
                        "
                        (downloadPolicy)="showModalToDownloadPolicy($event)"
                        (downloadEndorsement)="
                            showModalToDownloadEndorsemment($event)
                        "
                        (cancelPolicy)="
                            showModalToSelectCancellationType($event)
                        "
                        (showPaymentDetails)="
                            showModalToShowPaymentDetails($event)
                        "
                        (handlePayment)="showModalToHandlePayment($event)"
                    ></agt-card-payment>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<div class="row">
    <div class="col-sm-12">
        <agt-loading-content
            [isLoadingContent]="isLoadingContent"
        ></agt-loading-content>
        <ng-container *ngIf="hasResults">
            <agt-card-content-results
                [contentName]="contentName"
                [isLoadingContent]="isLoadingContent"
                [totalItems]="totalItems"
                [totalItemsLoaded]="payments.length"
                (loadMoreContents)="requestLoadMoreContents()"
            ></agt-card-content-results>
        </ng-container>
    </div>
</div>

<ng-template #noResultsContainer>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <agt-card-content-no-results
                [message]="noResultsMessage"
                [details]="noResultsDetails"
                [buttonLabel]="noResultsButtonLabel"
                (doAction)="requestLoadPolicy()"
            ></agt-card-content-no-results>
        </div>
    </div>
</ng-template>

<agt-modal-handle-payment
    [modalId]="modalIdHandlePayment"
    [isPreauthorizedPayment]="data.isPreauthorizedPayment"
    (selectPaymentType)="showModalToSelectPaymentType()"
    (applyPayment)="showModalToApplyPayment()"
></agt-modal-handle-payment>

<!-- REFACTORIZED -->
<agt-modal-confirm-show-policy-receipts-paid
    [modalId]="modalIdConfirmGoToPaymentReceiptsPaid"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
    [paymentId]="data.paymentId"
></agt-modal-confirm-show-policy-receipts-paid>
<agt-modal-confirm-show-pending-payments
    [modalId]="modalIdConfirmGoToPaymentReceiptsPending"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
    [paymentId]="data.paymentId"
></agt-modal-confirm-show-pending-payments>
<agt-modal-show-policy-details
    [modalId]="modalIdShowPolicyDetails"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
></agt-modal-show-policy-details>
<agt-modal-show-policy-file
    [modalId]="modalIdDownloadPolicy"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
></agt-modal-show-policy-file>
<agt-modal-select-cancellation-type
    [modalId]="modalIdSelectCancellationType"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
></agt-modal-select-cancellation-type>
<agt-modal-show-payment-details
    [modalId]="modalIdShowPaymentDetails"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
    [paymentId]="data.paymentId"
></agt-modal-show-payment-details>
<agt-modal-show-endorsement
    [modalId]="modalIdDownloadEndorsement"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
    [endorsementId]="data.endorsementId"
></agt-modal-show-endorsement>
<agt-modal-select-payment-registration-type
    [modalId]="modalIdSelectPaymentType"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
    [paymentId]="data.paymentId"
    (preauthorizedPayment)="markIsPreauthorized()"
    (applyPayment)="showModalToApplyPayment()"
></agt-modal-select-payment-registration-type>
<agt-modal-apply-payment
    [modalId]="modalIdApplyPayment"
    [contactId]="data.contactId"
    [policyId]="data.policyId"
    [paymentId]="data.paymentId"
    [canReloadApplyPayment]="true"
    (receiptPaid)="notifyPaymentApplied()"
    (showModalAgain)="showModalToApplyPayment()"
></agt-modal-apply-payment>
