<!-- AGENTHOS - EXPLORE HISTORY -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccionar Acción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-md-12 mt-5" *ngFor="let policyStatus of modalSelectPolicyTypeService.policyStatus">
                            <a [routerLink]="" [queryParams]="{'contentSubtype': policyStatus.policyStatusId }">
                                <button type="button" class="btn btn-block {{(contentSubtype === policyStatus.policyStatusId) ? 'btn-secondary' : 'btn-primary'}}" (click)="onClickSelectPolicyStatus(policyStatus.name)"><strong>{{contentTypeName | pluralNameFormat | uppercase }} {{policyStatus.name | pluralNameFormat | uppercase}}</strong></button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - EXPLORE HISTORY -->
