<!-- AGENTHOS - CHANNEL CHART CARD -->
<div class="card">
    <!-- AGENTHOS - CHART HEADER -->
    <div class="card-header">
        <h3 class="card-title">Cotizaciones Vs Emisiones</h3>
    </div>
    <!-- //AGENTHOS - CHART HEADER -->
    <div id="agt-stats-dashboard-quotes-vs-emissions"></div>
    <agt-loading-content [isLoadingContent]="!canShowStats" [height]="154"></agt-loading-content>
    <!-- AGENTHOS - CHART FOOTER -->
    <div class="card-footer text-center">
        <button type="button" class="btn btn-block btn-primary" (click)="goToPoliciesStats()"><strong>VER ESTADÍSTICAS</strong></button>
    </div>
    <!-- //AGENTHOS - CHART FOOTER -->
</div>
<!-- AGENTHOS - CHANNEL CHART CARD -->
