<agt-container-policy-details
    [contactId]="contactId"
    [policyId]="policyId">
</agt-container-policy-details>

<agt-container-policy-tracker-manager
    [contactId]="contactId"
    [policyId]="policyId">
</agt-container-policy-tracker-manager>

<agt-content-list
    [contentType]="CONTENT_TYPES.POLICY_TRACKER.ID"
    [contentTypeName]="CONTENT_TYPES.POLICY_TRACKER.NAME"
    [contactId]="contactId"
    [policyId]="policyId"
    [contentSubtype]="DEFAULT_CONTENT_FILTER_ID"
    contentSubtypeName="Enlazada">
</agt-content-list>
