<!-- AGENTHOS - PARTNERS KPIS -->
<div class="row">
    <!-- AGENTHOS - INFLUYENT PARTNERS -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header pt-2 pb-0 border-bottom-0">
                <!-- AGENTHOS - ACTIVE TAB -->
                <h6 class="mb-0">Socios<br/>Influyentes</h6>
            </div>
            <div class="card-body d-flex">
                <div class="">
                    <h4 class="mb-1"><span class="number-font"><span class="counter">0</span></span></h4>
                    <p class="mb-0 text-muted"><span class="text-green fs-13 mr-2">(0%)</span>Sobre el Total</p>
                </div>
                <div class="ml-auto">
                    <div class="feature">
                        <div class="fa-stack fa-lg fa-2x icon bg-success-gradient icon-service">
                            <i class="mdi mdi-account-star fa-stack-1x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - INFLUYENT PARTNERS -->
    <!-- AGENTHOS - FRECUENT PARTNERS -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header pt-2 pb-0 border-bottom-0">
                <h6 class="mb-0">Socios<br/>Frecuentes</h6>
                <div class="card-options">
                    <button class="btn btn-sm btn-secondary"><i class="fe fe-eye mr-2"></i>VER</button>
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="">
                    <h4 class="mb-1"><span class="number-font"><span class="counter">0</span></span></h4>
                    <p class="mb-0 text-muted"><span class="text-green fs-13 mr-2">(0%)</span>Sobre el Total</p>
                </div>
                <div class="ml-auto">
                    <div class="feature">
                        <div class="fa-stack fa-lg fa-2x icon bg-info-gradient icon-service">
                            <i class="mdi mdi-account-settings fa-stack-1x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - FRECUENT PARTNERS -->
    <!-- AGENTHOS - OCCASIONAL PARTNERS -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header pt-2 pb-0 border-bottom-0">
                <h6 class="mb-0">Socios<br/>Ocasionales</h6>
                <div class="card-options">
                    <button class="btn btn-sm btn-secondary"><i class="fe fe-eye mr-2"></i>VER</button>
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="">
                    <h4 class="mb-1"><span class="number-font"><span class="counter">0</span></span></h4>
                    <p class="mb-0 text-muted"><span class="text-green fs-13 mr-2">(0%)</span>Sobre el Total</p>
                </div>
                <div class="ml-auto">
                    <div class="feature">
                        <div class="fa-stack fa-lg fa-2x icon bg-warning-gradient icon-service">
                            <i class="mdi mdi-account fa-stack-1x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - OCCASIONAL PARTNERS -->
    <!-- AGENTHOS - INACTIVE PARTNERS -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header pt-2 pb-0 border-bottom-0">
                <h6 class="mb-0">Socios<br/>Inactivos</h6>
                <div class="card-options">
                    <button class="btn btn-sm btn-secondary"><i class="fe fe-eye mr-2"></i>VER</button>
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="">
                    <h4 class="mb-1"><span class="number-font"><span class="counter">0</span></span></h4>
                    <p class="mb-0 text-muted"><span class="text-green fs-13 mr-2">(0%)</span>Sobre el Total</p>
                </div>
                <div class="ml-auto">
                    <div class="feature">
                        <div class="fa-stack fa-lg fa-2x icon bg-danger-gradient icon-service">
                            <i class="mdi mdi-account-minus fa-stack-1x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - INACTIVE PARTNERS -->
</div>
<!-- //AGENTHOS - PARTNERS KPIS -->

<!-- AGENTHOS - PARTNERS PANEL -->
<div class="row mt-5">
    <!-- AGENTHOS - SMART SEARCH -->
    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Localizar Socio</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row gutters-xs">
                        <div class="col">
                            <input type="text" class="form-control" name="agtSearchQuery" placeholder="Buscador Inteligente">
                        </div>
                        <span class="col-auto">
                            <button type="button" name="agtSmartSearch" class="btn btn-primary"><i class="fe fe-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - SMART SEARCH -->
    <!-- AGENTHOS - NEW PARTNER -->
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Nuevo Socio</h3>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-block btn-secondary" (click)="showModalToCretePartner()"><strong>CREAR SOCIO</strong></button>
            </div>
        </div>
    </div>
    <!-- //AGENTHOS - NEW PARTNER -->
</div>
<!-- AGENTHOS - PARTNERS PANEL -->

<!-- AGENTHOS - PARTNER LISTING -->
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Socios Influyentes</h3>
            </div>
        </div>
    </div>

    <!-- AGENTHOS - LIST FETCHER -->
    <div class="col-sm-12">
        <div class="spinner1">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- //AGENTHOS - LIST FETCHER -->
    <!-- AGENTHOS - SMART SUGGESTION -->
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-avatar alert-primary alert-dismissible mt-5 mb-5">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>¿No encuentras al Socio?</strong> <hr class="message-inner-separator">
            <span class="avatar brround cover-image" data-image-src="https://webkit.atombits.xyz/agenthos/app/agenthos_agent_userpic.png"></span>
            <p>Intenta localizarlo con el <strong>Buscador Inteligente</strong>.</p>
        </div>
    </div>
    <!-- AGENTHOS - SMART SUGGESTION -->
</div>
<!-- //AGENTHOS - PARTNER LISTING -->

<agt-modal-create-partner [modalId]="modalIdCreatePartner"></agt-modal-create-partner>
