<!-- AGENTHOS - ITEM CARD -->
<div class="card" *ngIf="!!lead">
    <div class="card-header">
        <img class="avatar brround" [src]="lead.avatarUrl" width="38px">
        <div class="card-options">
            <div class="badge badge-{{lead.leadStatusBackground}} mr-1">{{lead.leadStatusName | uppercase}}</div>
        </div>
    </div>
    <div class="card-body">
        <h4 class="h4">{{lead.contactName}}</h4>
        <p class="mb-0">
            <i class="fe fe-globe mr-1"></i>{{lead.contactSourceTypeName}}
            <span class="float-right"><i class="fe fe-award mr-1"></i>{{lead.contactScoreName}}</span>
        </p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-9 col-9 text-left">
                <a routerLink="/{{ROUTES_NAME.contactResume(lead.contactId)}}">
                    <button type="button" class="btn btn-block btn-primary" name="agtContactProfile"><strong>VER PERFIL</strong></button>
                </a>
            </div>
            <div class="col-sm-3 col-3 text-right">
                <button type="button" class="btn btn-icon btn-secondary" (click)="onClickShowContactData(lead.contactId)"><i class="fa fa-id-badge"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - ITEM CARD -->
