<!-- AGENTHOS - LEAD GENERATOR BOT -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lead Generator</h3>
                <div class="card-options">
                    <i data-toggle="popover" data-placement="left" class="fe fe-help-circle fs-20 agt-help-mark" data-content="Activación de generador de prospectos."></i>
                </div>
            </div>
            <div class="card-body">
                <ol class="breadcrumb1">
                    <li class="breadcrumb-item1">Activa el generador de prospectos para los seguros que deseas promover en tus canales digitales.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - LEAD GENERATOR BOT -->

<!-- AGENTHOS - LEAD GENERATOR PRODUCTS -->
<ng-container *ngIf="model.contentLoaded === true; else containerLoadingContent">
    <ng-container *ngFor="let license of model.licenseInsurances; let licenseIndex = index">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Seguros {{license.shortName}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- AGENTHOS - LEAD GENERATOR PRODUCTS LITE -->
        <div class="row">
            <!-- AGENTHOS - AUTOS -->
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngFor="let licenseInsurance of license.insurances; let insuranceIndex = index">
                <agt-card-license-insurance 
                    [licenseIndex]="licenseIndex"
                    [insuranceIndex]="insuranceIndex"
                    [licenseInsurance]="licenseInsurance"
                    [insuranceLicenseId]="license.licenseId"
                    [insuranceLicenseName]="license.shortName"
                    [workspaceLicenseId]="model.workspaceLicenseId"
                    (actionNotAllowed)="showModalToConfirmUpgradeLicense($event)"
                    (addWorkspaceInsurance)="showModalToConfirmAddWorkspaceInsurance($event)"
                    (removeWorkspaceInsurance)="showModalToConfirmRemoveWorkspaceInsurance($event)"
                ></agt-card-license-insurance>
            </div>
            <!-- //AGENTHOS - AUTOS -->
        </div>
        <!-- //AGENTHOS - LEAD GENERATOR PRODUCTS LITE -->
    </ng-container>
</ng-container>
<!-- //AGENTHOS - LEAD GENERATOR PRODUCTS -->

<ng-template #containerLoadingContent>
    <div class="card-body">
        <agt-loading-content
            [isLoadingContent]="true"
            [height]="150"
        ></agt-loading-content>
    </div>
</ng-template>

<agt-modal-confirm-add-workspace-insurance
    [modalId]="modalIdConfirmAddWorkspaceInsurance"
    (actionConfirmed)="addWorkspaceInsurance()"
></agt-modal-confirm-add-workspace-insurance>

<agt-modal-confirm-remove-workspace-insurance
    [modalId]="modalIdConfirmRemoveWorkspaceInsurance"
    (actionConfirmed)="removeWorkspaceInsurance()"
></agt-modal-confirm-remove-workspace-insurance>

<agt-modal-confirm-upgrade-license
    [modalId]="modalIdConfirmUpgradeLicense"
    [licenseName]="selectedLicenseName"
    (actionConfirmed)="showModalToUpgradeLicense()"
></agt-modal-confirm-upgrade-license>

<agt-modal-upgrade-license
    [modalId]="modalIdUpgradeLicense"
    [licenseName]="selectedLicenseName"
></agt-modal-upgrade-license>