<agt-container-workspace-kpis></agt-container-workspace-kpis>

<div class="row mt-5">
    <div class="col-12">
        <agt-card-content-title
            title="Indicadores de Cartera"
            description="Indicadores de los últimos 30 días."
        ></agt-card-content-title>
    </div>
</div>

<agt-container-wallet-kpis></agt-container-wallet-kpis>

<div class="row mt-3">
    <div class="col-12">
        <agt-card-content-title
            title="Resumen de Cartera"
            description="Resúmen de los últimos 7 días."
        ></agt-card-content-title>
    </div>
</div>

<agt-container-wallet-resume></agt-container-wallet-resume>

<agt-container-last-contacts></agt-container-last-contacts>

<agt-container-workspace-policies-pending></agt-container-workspace-policies-pending>

<agt-container-workspace-policies-incomplete></agt-container-workspace-policies-incomplete>

<agt-container-workspace-external-policies></agt-container-workspace-external-policies>