<div class="card">
    <div class="card-header pt-2 pb-0 border-bottom-0">
        <h3 class="card-title">Balance Global</h3>
        <div class="card-options">
            <i data-toggle="popover" data-placement="left" class="fe fe-help-circle fs-20 text-primary" data-content="Balance de pagos de los asegurados." data-original-title="" title=""></i>
        </div>
    </div>
    <div class="agt-card-body-chart">
        <div id="agt-global-balance"></div>
        <agt-loading-content [isLoadingContent]="!canShowChart"></agt-loading-content>
    </div>
</div>
