<agt-content-list
    contentName="{{ 'Tarea' | plural : tasks.length }} {{
        subcontentName
            ? (subcontentName | plural : tasks.length)
            : (taskStatusId | taskStatusName | plural : tasks.length)
    }}"
    [contentGender]="GENDERS.FEMALE"
    [noResultsMessage]="noResultsMessage"
    [noResultsDetails]="noResultsDetails"
    [noResultsButtonLabel]="noResultsButtonLabel"
    [isLoadedContent]="isLoadedContent"
    [isLoadingContent]="isLoadingContent"
    [totalItems]="totalItems"
    [totalItemsLoaded]="tasks.length"
    (loadMoreContents)="requestLoadMoreContents()"
    (doNoResultsAction)="requestDoNoResultsAction()"
>
    <ng-container *ngFor="let task of tasks; trackBy: trackById">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <agt-task [task]="task"></agt-task>
        </div>
    </ng-container>
</agt-content-list>

<!-- Module Modals -->
<agt-modal-select-task-action></agt-modal-select-task-action>
<agt-modal-edit-task></agt-modal-edit-task>
<agt-modal-handle-task></agt-modal-handle-task>
<agt-modal-show-task></agt-modal-show-task>
<agt-modal-confirm-delete-task></agt-modal-confirm-delete-task>
<agt-modal-select-channels-to-share-task></agt-modal-select-channels-to-share-task>
<agt-modal-request-contact-information-to-share-task></agt-modal-request-contact-information-to-share-task>
<!-- Module Modals -->
