<!-- AGENTHOS - POLICY DETAILS -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- AGENTHOS - POLICY NUMBER -->
                <h5 class="modal-title">Detalles de Póliza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
								<div class="form-group">
									<label class="form-label">Titular</label>
									<input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.titularName" readonly="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-label">No. Póliza</label>
									<input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.policyNumber" readonly="">
								</div>
							</div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Prima Total</label>
                                    <input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.totalAmount | currency: '' : '$' : '0.2-2'" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Prima Pagada</label>
                                    <input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.totalAmountPaid | currency: '' : '$' : '0.2-2'" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Recibos Totales</label>
                                    <input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.bills" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Fecha Emisión</label>
                                    <input type="text" class="form-control" [placeholder]="(!!modalShowPolicyDetailsService.policyDetails.emissionDate) ? (modalShowPolicyDetailsService.policyDetails.emissionDate | date: 'dd/MM/yyyy') : ''" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Inicio Vigencia</label>
                                    <input type="text" class="form-control" [placeholder]="(!!modalShowPolicyDetailsService.policyDetails.validityStartDate) ? (modalShowPolicyDetailsService.policyDetails.validityStartDate | date: 'dd/MM/yyyy') : ''" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Fin Vigencia</label>
                                    <input type="text" class="form-control" [placeholder]="(!!modalShowPolicyDetailsService.policyDetails.validityEndDate) ? (modalShowPolicyDetailsService.policyDetails.validityEndDate | date: 'dd/MM/yyyy') : ''" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
								<div class="form-group">
									<label class="form-label">Aseguradora</label>
									<input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.insurerName" readonly="">
								</div>
							</div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Siniestros</label>
                                    <input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.totalSinisters" readonly="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Endosos</label>
                                    <input type="text" class="form-control" [placeholder]="modalShowPolicyDetailsService.policyDetails.totalEndorsements" readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!isHistoryContent">
                        <p class="text-center">Si lo deseas puedes ver los detalles de la póliza digital.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-primary btn-block" *ngIf="isHistoryContent; else noHistoryContent" (click)="onClickShowHistoryPolicy()"><strong>VER HISTORIAL</strong></button>
                    <ng-template #noHistoryContent>
                        <button type="button" class="btn btn-primary btn-block" (click)="onClickShowPolicy()"><strong>VER PÓLIZA</strong></button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - POLICY DETAILS -->
