<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar Póliza</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1">
                                Selecciona la acción que deseas realizar.
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-12 mt-3">
                        <!-- AGENTHOS - SMARTWALLET POLICY CANCEL -->
                        <a [routerLink]="cancelPolicyRoute">
                            <button
                                type="button"
                                class="btn btn-block agt-btn-default"
                            >
                                🚫 <strong>CANCELAR PÓLIZA</strong>
                            </button></a
                        >
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - SMARTWALLET POLICY DELETE -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="confirmDeletePolicy()"
                        >
                            🗑️ <strong>ELIMINAR PÓLIZA</strong>
                        </button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <!-- AGENTHOS - PAYTRACKER POLICY CANCEL FOLLOW -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            data-dismiss="modal"
                            (click)="scheduleFollowUp()"
                        >
                            📆 <strong>AGENDAR SEGUIMIENTO</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-block agt-btn-secondary-outline"
                    data-dismiss="modal"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>

<agt-delete-policy-modal
    [canShowPolicyActions]="true"
    (policyDeleted)="onPolicyDeleted()"
></agt-delete-policy-modal>
