<agt-container-contact-details 
    [contactId]="contactId" 
    [policyId]="policyId"
    message="Carga un nuevo certificado para la póliza"
></agt-container-contact-details>

<!-- AGENTHOS - POLICY DETAILS INFO -->
<div class="row mt-3">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalles del Certficado</h3>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - POLICY DETAILS INFO -->

<!-- AGENTHOS - POLICY DETAILS -->
<form *ngIf="!!model.policy; else loadingContent" [formGroup]="model.form" (submit)="savePolicyInsured()">
    <div class="row">
        <!-- AGENTHOS - POLICY RESUME -->
        <div class="col-md-4">
            <!-- AGENTHOS - POLICY CARD -->
            <div class="card">
                <!-- AGENTHOS - POLICY HEADER -->
                <div class="card-header">
                    <h3 class="card-title">Resúmen de Póliza</h3>
                    <div class="card-options">
                    </div>
                </div>
                <!-- //AGENTHOS - POLICY HEADER -->
                <!-- AGENTHOS - POLICY BODY -->
                <div class="card-body">
                    <!-- AGENTHOS - POLICY COVER -->
                    <div class="d-flex clearfix"> 
                        <div class="text-left">
                            <!-- AGENTHOS - POLICY STATUS -->
                            <div class="badge badge-{{model.policy.policyStatusBackground}} mr-1 mb-3">{{model.policy.policyStatusName | uppercase}}</div>
                            <span class="col-auto align-self-center"> 
                                <span class="form-help" data-toggle="popover" data-placement="top" [attr.data-content]="model.policy.policyStatusDescription" data-original-title="">?</span>
                            </span>
                            <!-- AGENTHOS - POLICY TYPE -->
                            <h6><span class="text-primary"><i class="fe fe-shield mr-2"></i></span>{{model.policy.insuranceName | uppercase}}</h6>
                            <!-- AGENTHOS - POLICY TYPE -->
                            <h6><span class="text-primary"><i class="fe fe-globe mr-2"></i></span>{{model.policy.insuranceTypeName | uppercase}}</h6>
                            <!-- AGENTHOS - POLICY NUMBER -->
                            <h6><span class="text-primary"><i class="fe fe-file-text mr-2"></i></span>{{model.policy.policyNumber}}</h6>
                        </div> 
                        <div class="ml-auto"> 
                            <span class="{{model.policy.insuranceBackground}} icon-service"><i class="{{model.policy.insuranceIcon}}"></i></span> 
                        </div>
                    </div>
                    <!-- //AGENTHOS - POLICY COVER -->
                    <!-- AGENTHOS - POLICY LIFE -->
                    <div class="progress progress-sm mt-2">
                        <div class="progress-bar {{model.policy.insuranceBackground}}" [ngStyle]="{'width': model.policy.lifeTime+'%'}"></div>
                    </div>
                    <!-- //AGENTHOS - POLICY LIFE -->
                </div>
                <!-- //AGENTHOS - POLICY BODY -->
            </div>
            <!-- AGENTHOS - POLICY CARD -->
            <!-- AGENTHOS - POLICY FILE -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Carátula de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <!-- AGENTHOS - VIEW POLICY -->
                        <button type="button" class="btn btn-block btn-primary" (click)="showPolicy()"><strong>VER PÓLIZA</strong></button>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY FILE -->
            <!-- AGENTHOS - POLICY RESUME -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Expediente de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY NUMBER * -->
                                <label class="form-label">No. Poliza</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-file-text-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.policyNumber" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY CLIENT NUMBER * -->
                                <label class="form-label">No. Cliente</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-id-card-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.clientNumber" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY INSURER * -->
                                <label class="form-label">Aseguradora</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-institution tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.insurerName | uppercase" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY INSURANCE * -->
                                <label class="form-label">Producto</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-suitcase tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.insuranceName | uppercase" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY TYPE * -->
                                <label class="form-label">Tipo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-tag tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.insuranceTypeName | uppercase" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY RESUME -->
            <!-- AGENTHOS - POLICY VALIDITY -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vigencia de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY VALIDITY EMISSION * -->
                                <label class="form-label">Fecha de Emisión</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-check-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.emissionDate | date: 'dd/MM/yyyy'" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY VALIDITY INI * -->
                                <label class="form-label">Inicio de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-check-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.validityStartDate | date: 'dd/MM/yyyy'" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY VALIDITY END * -->
                                <label class="form-label">Fin de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-check-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [value]="model.policy.validityEndDate | date: 'dd/MM/yyyy'" disabled="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY VALIDITY -->
        </div>
        <!-- AGENTHOS - POLICY RESUME -->
        
        <!-- AGENTHOS - POLICY INFO -->
        <div class="col-md-8">
            <!-- AGENTHOS - POLICY CERTIFICATE FILE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Carátula del Certificado</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- AGENTHOS - POLICY ORIGIN -->
                                <div class="col-md-12">
                                    <div class="form-group {{getValidationClass('insuredPolicyFile')}}">
                                        <input class="form-control dropify" type="file" accept="application/pdf" data-max-file-size="2M" (change)="selectPolicyInsuredFile($event)"/>
                                        <div class="invalid-feedback">{{getErrorMessage('insuredPolicyFile')}}</div>
                                    </div>
                                </div>
                                <!-- //AGENTHOS - POLICY ORIGIN -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY CERTIFICATE FILE -->

            <!-- AGENTHOS - POLICY CERTIFICATE VALIDITY -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vigencia del Certificado</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY CERTIFICATE NO * -->
                                <label class="form-label">No. Certificado</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-list-ol tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control {{getValidationClass('certificate')}}" formControlName="certificate">
                                    <div class="invalid-feedback">{{getErrorMessage('certificate')}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY CERTIFICATE VALIDITY INI * -->
                                <label class="form-label">Inicio de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-check-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input [id]="calendarIdValidityStartDate" class="form-control fc-datepicker {{getValidationClass('validityStartDate')}}" formControlName="validityStartDate" type="text">
                                    <div class="invalid-feedback">{{getErrorMessage('validityStartDate')}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY CERTIFICATE VALIDITY END * -->
                                <label class="form-label">Fin de Vigencia</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-check-o tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input [id]="calendarIdValidityEndDate" class="form-control fc-datepicker {{getValidationClass('validityEndDate')}}" formControlName="validityEndDate" type="text">
                                    <div class="invalid-feedback">{{getErrorMessage('validityEndDate')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY CERTIFICATE VALIDITY -->

            <!-- AGENTHOS - POLICY CERTIFICATE DETAILS -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos del Certificado</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <ng-container [ngSwitch]="model.policy.insuranceGroupId">
                                <ng-container *ngSwitchCase="INSURANCE_GROUPS.VEHICLES">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY VEHICLE MAKER * -->
                                            <label class="form-label">Fabricante</label>
                                            <input type="text" class="form-control {{getValidationClass('vehicleMaker')}}" formControlName="vehicleMaker">
                                            <div class="invalid-feedback">{{getErrorMessage('vehicleMaker')}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY VEHICLE VERSION * -->
                                            <label class="form-label">Versión</label>
                                            <input type="text" class="form-control {{getValidationClass('vehicleVersion')}}" formControlName="vehicleVersion">
                                            <div class="invalid-feedback">{{getErrorMessage('vehicleVersion')}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY VEHICLE MODEL * -->
                                            <label class="form-label">Modelo</label>
                                            <input type="text" class="form-control {{getValidationClass('vehicleModel')}}" formControlName="vehicleModel">
                                            <div class="invalid-feedback">{{getErrorMessage('vehicleModel')}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY VEHICLE PLATES -->
                                            <label class="form-label">Placas</label>
                                            <input type="text" class="form-control {{getValidationClass('vehiclePlates')}}" formControlName="vehiclePlates">
                                            <div class="invalid-feedback">{{getErrorMessage('vehiclePlates')}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY VEHICLE SERIAL -->
                                            <label class="form-label">No. Serie</label>
                                            <input type="text" class="form-control {{getValidationClass('vehicleSerial')}}" formControlName="vehicleSerial">
                                            <div class="invalid-feedback">{{getErrorMessage('vehicleSerial')}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY VEHICLE MOTOR -->
                                            <label class="form-label">No. Motor</label>
                                            <input type="text" class="form-control {{getValidationClass('vehicleMotor')}}" formControlName="vehicleMotor">
                                            <div class="invalid-feedback">{{getErrorMessage('vehicleMotor')}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwichDefault>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <!-- AGENTHOS - POLICY DETAILS * -->
                                            <label class="form-label">Nombre de la Persona o Bien Asegurado</label>
                                            <input type="text" class="form-control {{getValidationClass('policyDetails')}}" formControlName="policyDetails">
                                            <div class="invalid-feedback">{{getErrorMessage('policyDetails')}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY CERTIFICATE DETAILS -->

            <!-- AGENTHOS - POLICY PAYMENT -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Prima del Certificado</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row text-center">
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - NET PAYMENT * -->
                                <label class="form-label">Prima Neta</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('netPay')}}" formControlName="netPay">
                                            <div class="invalid-feedback">{{getErrorMessage('netPay')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Prima neta de la póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - FEE PAYMENT * -->
                                <label class="form-label">Financiamiento</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('feePay')}}" formControlName="feePay">
                                            <div class="invalid-feedback">{{getErrorMessage('feePay')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Cargos por crédito o pagos diferidos." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - COVER PAYMENT * -->
                                <label class="form-label">Cargos Expedición</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('coverPay')}}" formControlName="coverPay">
                                            <div class="invalid-feedback">{{getErrorMessage('coverPay')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Cargos por derecho de póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - EXTRA PAYMENT * -->
                                <label class="form-label">Otros Cargos</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('extraPay')}}" formControlName="extraPay">
                                            <div class="invalid-feedback">{{getErrorMessage('extraPay')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Cargos extra en la prima de la póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - TAX PAYMENT * -->
                                <label class="form-label">Impuestos</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('taxPay')}}" formControlName="taxPay">
                                            <div class="invalid-feedback">{{getErrorMessage('taxPay')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Cargos por impuestos de póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - DISCOUNTS * -->
                                <label class="form-label">Descuentos</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('discount')}}" formControlName="discount">
                                            <div class="invalid-feedback">{{getErrorMessage('discount')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Descuentos aplicados a la póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - TOTAL PAYMENT * -->
                                <label class="form-label">Monto Total</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control {{getValidationClass('totalAmount')}}" formControlName="totalAmount">
                                            <div class="invalid-feedback">{{getErrorMessage('totalAmount')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Premio final o prima total de la póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY PAY CURRENCY * -->
                                <label class="form-label">Moneda</label>
                                <div class="row gutters-sm">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-dollar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <select class="form-control custom-select {{getValidationClass('currencyId')}}" formControlName="currencyId">
                                                <option [value]="currency.currencyId" *ngFor="let currency of model.currencies">{{currency.name}}</option>
                                            </select>
                                            <div class="invalid-feedback">{{getErrorMessage('currencyId')}}</div>
                                        </div>
                                    </div>
                                    <span class="col-auto align-self-center"> 
                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="Divisa utilizada en la póliza." data-original-title="">?</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY PAYMENT -->
            <!-- AGENTHOS - POLICY PAYMENT PLAN -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Pago del Certificado</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row text-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY PAYMENT METHOD * -->
                                <label class="form-label">Forma de Pago</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-credit-card tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <select class="form-control custom-select {{getValidationClass('paymentMethodId')}}" formControlName="paymentMethodId">
                                        <option [value]="paymentMethod.paymentMethodId" *ngFor="let paymentMethod of model.paymentMethods">{{paymentMethod.name | uppercase}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('paymentMethodId')}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- AGENTHOS - POLICY PAY PLAN * -->
                                <label class="form-label">Plan de Pago</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-money tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <select class="form-control custom-select {{getValidationClass('paymentPlanId')}}" formControlName="paymentPlanId">
                                        <option [value]="paymentPlan.paymentPlanId" *ngFor="let paymentPlan of model.paymentPlans">{{paymentPlan.name | uppercase}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('paymentPlanId')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY PAYMENT PLAN -->
            <!-- AGENTHOS - UPDATE POLICY CERTIFICATE -->
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-block btn-primary"><strong>GUARDAR CERTIFICADO</strong></button>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - UPDATE POLICY CERTIFICATE -->
        </div>
        <!-- AGENTHOS - POLICY INFO -->
    </div>
</form>
<!-- //AGENTHOS - POLICY DETAILS -->

<agt-modal-show-policy 
    [modalId]="modalIdShowPolicy" 
    [contactId]="contactId" 
    [policyId]="policyId"
></agt-modal-show-policy>
<agt-modal-policy-amounts-different 
    [modalId]="modalIdPolicyAmountsDifferent"
></agt-modal-policy-amounts-different>



<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true"></agt-loading-content>
</ng-template>