<!-- AGENTHOS - POLICY DETAILS -->
<div class="row">
    <!-- AGENTHOS - POLICY CARD -->
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
        <agt-card-policy
            *ngIf="!!containerPolicyDetailsService.policy; else policyEmpty"
            [policy]="containerPolicyDetailsService.policy"
            [isHistoryContent]="true"
            (completePolicy)="onCompletePolicy($event)"
            (deletePolicy)="onDeletePolicy($event)"
            (updatePolicy)="onUpdatePolicy($event)"
            (endorsePolicy)="onEndorsePolicy($event)"
            (cancelPolicy)="onCancelPolicy($event)"
            (renewPolicy)="onRenewPolicy($event)"
            (reissuePolicy)="onReissuePolicy($event)"
            (showPaymentHistory)="onShowPaymentHistory($event)"
            (showPolicySinisters)="onShowPolicySinisters($event)"
            (showHistoryPolicy)="onShowHistoryPolicy($event)"
            (showContactProfile)="onShowContactProfile($event)"
        ></agt-card-policy>
        <ng-template #policyEmpty>
            <div class="card">
                <agt-loading-content
                    [isLoadingContent]="true"
                    [height]="427"
                ></agt-loading-content>
            </div>
        </ng-template>
    </div>
    <!-- //AGENTHOS - POLICY CARD -->
    <!-- AGENTHOS - POLICY SUMMARY -->
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalles de Póliza</h3>
                <div class="card-options">
                    <i data-toggle="popover" data-placement="left" class="fe fe-help-circle fs-20 text-primary" data-content="Detalle sobre el estatus actual de la póliza." data-original-title="" title=""></i>
                </div>
            </div>
            <!-- AGENTHOS - POLICY RESUME -->
            <div class="card-body pt-0" *ngIf="!!containerPolicyDetailsService.policyComplete; else policyDetailsEmpty">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <!-- AGENTHOS - POLICY NAME -->
                            <label class="form-label">Titular de Póliza</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="containerPolicyDetailsService.policyComplete.titularName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <!-- AGENTHOS - POLICY TOTAL AMOUNT -->
                            <label class="form-label">Prima Total ({{containerPolicyDetailsService.policyComplete.currencyName}})</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="(!!containerPolicyDetailsService.policyComplete.totalAmount) ? (containerPolicyDetailsService.policyComplete.totalAmount | currency: '': '$': '0.2-2') : ''">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <!-- AGENTHOS - POLICY PAID AMOUNT -->
                            <label class="form-label">Prima Pagada</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="(!!containerPolicyDetailsService.policyComplete.totalAmountPaid) ? (containerPolicyDetailsService.policyComplete.totalAmountPaid | currency: '': '$': '0.2-2') : ''">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <!-- AGENTHOS - POLICY PENDING AMOUNT -->
                            <label class="form-label">Prima Pendiente</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="(!!containerPolicyDetailsService.policyComplete.totalAmount && !!containerPolicyDetailsService.policyComplete.totalAmountPaid) ? (containerPolicyDetailsService.policyComplete.totalAmount - containerPolicyDetailsService.policyComplete.totalAmountPaid | currency: '': '$': '0.2-2') : ''">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Recibos Totales</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="containerPolicyDetailsService.policyComplete.bills">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Fecha Emisión</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="(!!containerPolicyDetailsService.policyComplete.emissionDate) ? (containerPolicyDetailsService.policyComplete.emissionDate | date: 'dd/MM/yyyy') : ''">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Inicio Vigencia</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="(!!containerPolicyDetailsService.policyComplete.validityStartDate) ? (containerPolicyDetailsService.policyComplete.validityStartDate | date: 'dd/MM/yyyy') : ''">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Fin Vigencia</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="(!!containerPolicyDetailsService.policyComplete.validityEndDate) ? (containerPolicyDetailsService.policyComplete.validityEndDate | date: 'dd/MM/yyyy') : ''">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Días Restantes</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="containerPolicyDetailsService.policyComplete.daysLeft">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label class="form-label">Siniestros</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="containerPolicyDetailsService.policyComplete.totalSinisters">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label class="form-label">Endosos</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="containerPolicyDetailsService.policyComplete.totalEndorsements">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label class="form-label">Renovaciones</label>
                            <input type="text" class="form-control" readonly="" [placeholder]="containerPolicyDetailsService.policyComplete.totalRenovations">
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #policyDetailsEmpty>
                <agt-loading-content
                    [isLoadingContent]="true"
                    [height]="373"
                ></agt-loading-content>
            </ng-template>
            <!-- //AGENTHOS - POLICY RESUME -->
        </div>
    </div>
    <!-- //AGENTHOS - POLICY SUMMARY -->
</div>
<!-- //AGENTHOS - POLICY DETAILS -->

<agt-modal-confirm-delete-policy [modalId]="modalIdConfirmDeletePolicy" [contactId]="contactId" [policyId]="selectedPolicyId" (policyDeleted)="onPolicyDeleted()"></agt-modal-confirm-delete-policy>
<agt-modal-confirm-update-policy [modalId]="modalIdConfirmUpdatePolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-update-policy>
<agt-modal-confirm-endorse-policy [modalId]="modalIdConfirmEndorsePolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-endorse-policy>
<agt-modal-confirm-cancel-policy [modalId]="modalIdConfirmCancelPolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-cancel-policy>
<agt-modal-confirm-renew-policy [modalId]="modalIdConfirmRenewPolicy" [contactId]="contactId" [policyId]="selectedPolicyId" (actionTypeSelected)="onActionTypeSelected($event)"></agt-modal-confirm-renew-policy>
<agt-modal-confirm-reissue-policy [modalId]="modalIdConfirmReissuePolicy" [contactId]="contactId" [policyId]="selectedPolicyId" (actionTypeSelected)="onActionTypeSelected($event)"></agt-modal-confirm-reissue-policy>
<agt-modal-select-contact-type [modalId]="modalIdSelectContactType" [actionType]="selectedActionType" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-select-contact-type>
<agt-modal-confirm-show-history-policy [modalId]="modalIdConfirmShowHistoryPolicy" [contactId]="contactId" [policyId]="selectedPolicyId"></agt-modal-confirm-show-history-policy>
<agt-modal-confirm-delete-renewed-policy [modalId]="modalIdConfirmDeleteRenewedPolicy" (actionConfirmed)="deleteRenewedPolicy()"></agt-modal-confirm-delete-renewed-policy>
<agt-modal-confirm-show-payment-history [modalId]="modalIdConfirmShowPaymentHistory" [contactId]="selectedContactId" [policyId]="selectedPolicyId" [paymentId]="selectedPaymentId"></agt-modal-confirm-show-payment-history>
<agt-modal-confirm-show-policy-sinisters [modalId]="modalIdConfirmShowPolicySinisters" [policyData]="selectedPolicyData"></agt-modal-confirm-show-policy-sinisters>
