<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- AGENTHOS - DETAILS CARD -->
                <h5 class="modal-title">Sincronizar Calendario</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol class="breadcrumb1">
                    <li class="breadcrumb-item1">
                        Escanea el código inteligente para sincronizar el
                        calendario.
                    </li>
                </ol>
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-justify">
                            Apunta con la cámara de tu Smartphone al código
                            inteligente y la tarea será sincrinuzada de manera
                            automática con tu dispositivo.
                        </p>
                        <p class="text-justify">
                            <strong
                                >Si lo prefires, también puedes programar la
                                tarea en tu calendario haciendo click en el
                                botón de sincronizar calendario</strong
                            >.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group text-center">
                            <ng-container *ngIf="eventLink">
                                <ngx-qrcode
                                    [elementType]="elementType"
                                    [errorCorrectionLevel]="correctionLevel"
                                    [value]="eventLink"
                                ></ngx-qrcode>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <!-- AGENTHOS - SMART WALLET POLICY CANCEL DIRECT -->
                        <button
                            type="button"
                            class="btn btn-block agt-btn-default"
                            (click)="goToCalendarEvent()"
                        >
                            <i class="fa fa-calendar-plus-o mr-2"></i
                            ><strong>SINCRONIZAR CALENDARIO</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    name="agtCancelAction"
                    class="btn btn-block agt-btn-secondary-outline"
                    data-dismiss="modal"
                >
                    <strong>CANCELAR</strong>
                </button>
            </div>
        </div>
    </div>
</div>
