<div class="card" *ngIf="contentKpi">
    <div class="card-header border-bottom-0">
        <h6 class="mb-0">{{contentKpi.contentName}}<br/>{{contentKpi.subcontentName}}</h6>
        <div class="card-options">
            <a [routerLink]="contentKpi.link" routerLinkActive="agt-hide">
                <button class="btn btn-sm btn-secondary"><i class="fe fe-check-circle mr-2"></i>VER</button>
            </a>
        </div>
    </div>
    <div class="card-body d-flex pt-1 pb-1">
        <div class="">
            <h4 class="mb-1"><span class="number-font"><span class="counter">{{contentKpi.value | number: '1.0-0'}}</span></span></h4>
            <p class="mb-0 text-muted"><span class="text-green fs-13 mr-2">({{contentKpi.subValue}})</span>{{contentKpi.subValueLabel}}</p>
        </div>
        <div class="ml-auto">
            <div class="feature">
                <div class="fa-stack fa-lg fa-2x icon {{contentKpi.iconBackgound}} icon-service">
                    <i class="{{contentKpi.icon}} fa-stack-1x text-white"></i>
                </div>
            </div>
        </div>
    </div>
</div>
