<div class="card">
    <div class="card-header">
        <h3 class="card-title">Reportes</h3>
    </div>
    <div class="card-body">
        <a routerLink="/{{ROUTES_NAME.statsLeads}}">
            <button type="button" class="btn btn-block btn-primary" routerLinkActive="btn-secondary"><strong>PROSPECTOS</strong></button>
        </a>
        <a routerLink="/{{ROUTES_NAME.statsClients}}">
            <button type="button" class="btn btn-block btn-primary mt-3" routerLinkActive="btn-secondary"><strong>CLIENTES</strong></button>
        </a>
        <!-- AGENTHOS - DATA SUITE POLICIES -->
        <a routerLink="/{{ROUTES_NAME.statsPolicies}}">
            <button type="button" class="btn btn-block btn-primary mt-3" routerLinkActive="btn-secondary"><strong>PÓLIZAS</strong></button>
        </a>
        <!-- //AGENTHOS - DATA SUITE POLICIES -->
        <!-- AGENTHOS - DATA SUITE PAYMENTS -->
        <a routerLink="/{{ROUTES_NAME.statsCollection}}">
            <button type="button" class="btn btn-block btn-primary mt-3"><strong>COBRANZA</strong></button>
        </a>
        <!-- //AGENTHOS - DATA SUITE PAYMENTS -->
        <!-- AGENTHOS - DATA SUITE SINISTERS -->
        <a [routerLink]="">
        <button type="button" name="agtAppCreatorChatbot" class="btn btn-block btn-primary mt-3" disabled><strong>SINIESTROS</strong></button></a>
        <!-- //AGENTHOS - DATA SUITE SINISTERS -->
    </div>
    <div class="card-footer text-center">
        <a routerLink="/{{ROUTES_NAME.statsSnapshot}}">
            <button type="button" class="btn btn-block btn-info" routerLinkActive="btn-secondary"><strong>SNAPSHOT</strong></button>
        </a>
    </div>
</div>
