<ng-container *ngIf="!!sinisterLog" [ngSwitch]="sinisterLog.sinisterRecordTypeId">
    <li *ngSwitchCase="SINISTER_RECORD_TYPES.REGISTER">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-primary"><i class="fa fa-circle-o"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> reportó el siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.UPDATE">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-warning"><i class="fa fa-edit"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> actualizó los detalles del siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.UPDATE_CERTIFICATE">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-warning"><i class="fa fa-edit"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> actualizó el certificado del siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.UPDATE_EVIDENCE">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-warning"><i class="fa fa-edit"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> actualizó la evidencia del siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.UPDATE_REPORT">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-warning"><i class="fa fa-edit"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> actualizó el reporte del siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.UPDATE_TRACKING">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-warning"><i class="fa fa-edit"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> actualizó el tracking del siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.UPDATE_DETAILS">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-warning"><i class="fa fa-edit"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> actualizó los detalles del siniestro.</p>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.FINISHED">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-success"><i class="fa fa-check-square-o"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> cerró el siniestro. Resolución: <strong>{{sinisterLog.sinisterResolutionName}}</strong>. Monto: <strong>{{sinisterLog.indemnificationAmount | currency: '': '$': '0.2-2'}}</strong>. Fecha Resolución: <strong>{{sinisterLog.resolutionDate | date: 'dd/MM/yyyy'}}</strong>.</p>
            <div class="btn-list mt-3" *ngIf="!!sinisterLog.finishedEvidenceUrl; else noFinishedEvidence">
                <button type="button" class="btn btn-primary" (click)="onClickShowResolutionEvidence()"><strong>VER EVIDENCIA</strong></button>
            </div>
            <ng-template #noFinishedEvidence>
                <ol class="breadcrumb1 mt-3">
                    <li class="breadcrumb-item1">Sin evidencia de resolución.</li>
                </ol>
            </ng-template>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.REACTIVATED">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-info"><i class="fa fa-refresh"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}</h2>
            <p class="text-sm"><strong>{{sinisterLog.createdByName}}</strong> reactivó el siniestro. Motivo: <strong>{{sinisterLog.sinisterReactivationName}}</strong>. Fecha Reactivación: <strong>{{sinisterLog.reactivationDate | date: 'dd/MM/yyyy'}}</strong>.</p>
            <div class="btn-list mt-3" *ngIf="!!sinisterLog.reactivatedEvidenceUrl; else noReactivatedEvidence">
                <button type="button" class="btn btn-primary" (click)="onClickShowReactivationEvidence()"><strong>VER EVIDENCIA</strong></button>
            </div>
            <ng-template #noReactivatedEvidence>
                <ol class="breadcrumb1 mt-3">
                    <li class="breadcrumb-item1">Sin evidencia de resolución.</li>
                </ol>
            </ng-template>
        </div>
    </li>

    <li *ngSwitchCase="SINISTER_RECORD_TYPES.NEW_EVENT">
        <time class="cbp_tmtime"><span>{{sinisterLog.createdAt | date: 'dd/MM/yyyy'}}</span><span>{{sinisterLog.createdAt | date: 'h:mm a'}}</span></time>
        <div class="cbp_tmicon bg-secondary"><i class="fa fa-comments-o"></i></div>
        <div class="cbp_tmlabel">
            <h2>{{sinisterLog.sinisterRecordTypeName}}: {{sinisterLog.sinisterEventTypeName}}</h2>
            <p class="text-sm mb-3"><strong>{{sinisterLog.createdByName}}</strong> reportó un evento para este siniestro.</p>
            <ol class="breadcrumb1">
                <li class="breadcrumb-item1">
                    <strong>{{(sinisterLog.sinisterEventTypeId === SINISTER_EVENT_TYPES.INDEMNIFICATION) ? 'Fecha Indemnización:' : 'Fecha Inicio:'}}</strong> 
                    {{sinisterLog.providerDate | date: 'dd/MM/yyyy'}} 
                    <br/>
                    <ng-container *ngIf="!!sinisterLog.sinisterEventDetails">{{sinisterLog.sinisterEventDetails}}</ng-container>
                </li>
            </ol>
            <ol class="breadcrumb1" *ngIf="!!sinisterLog.sinisterEventFinishDate">
                <li class="breadcrumb-item1"><strong>Fecha Finalización:</strong> {{sinisterLog.sinisterEventFinishDate | date: 'dd/MM/yyyy'}} <br/>
                Se finaliza evento el día: {{sinisterLog.sinisterEventFinishDate | date: 'dd/MM/yyyy'}}
                <ng-container *ngIf="!!sinisterLog.sinisterEventFinishAmount">, con un costo de servicio de: {{sinisterLog.sinisterEventFinishAmount | currency: '': '': '0.2-2'}}</ng-container>.
                <ng-container *ngIf="!!sinisterLog.sinisterEventFinishFolio">No. Folio: {{sinisterLog.sinisterEventFinishFolio}}.</ng-container></li>
            </ol>
            <ng-container *ngIf="!!observations">
                <p class="text-sm mb-0"><strong>Observaciones:</strong></p>
                <p class="text-sm mb-3" [innerHTML]="observations"></p>
            </ng-container>
            <div class="btn-list mt-3">
                <button type="button" class="btn btn-primary" (click)="onClickUpdateSinisterEvent()"><strong>EDITAR EVENTO</strong></button>
                <button *ngIf="sinisterLog.sinisterEventTypeId !== SINISTER_EVENT_TYPES.INDEMNIFICATION" type="button" class="btn btn-primary" (click)="onClickFinalizeSinisterEvent()"><strong>FINALIZAR EVENTO</strong></button>
                <button type="button" class="btn btn-primary" (click)="onClickDeleteSinisterEvent()"><strong>ELIMINAR EVENTO</strong></button>
                <button *ngIf="sinisterLog.sinisterEventEvidenceUrl" type="button" class="btn btn-secondary" (click)="onClickShowSinisterEventEvidence()"><strong>VER EVIDENCIA</strong></button>
            </div>
        </div>
    </li>
</ng-container>
