<!-- AGENTHOS - OUTSTANDING BALANCE (IF PAYMENT IS LESS THAN TOTAL ) -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Saldo Pendiente</h5>
                <button type="button" class="close" (click)="onClickCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">Se ha detectado un saldo pendiente de <strong>{{balanceOutstanding | currency: '': '': '0.2-2'}} MXN</strong> sobre el total de la prima. <strong>Por favor confirma si deseas continuar</strong>.</p>
                        <p class="text-justify">Si lo deseas, puedes ver el historial de pagos para verificar todos los pagos aplicados al momento.</p>
                        <a href="../policy/payments.php">
                        <button type="button" name="agtPaymentHistory" class="btn btn-block btn-primary mt-5"><strong>VER HISTORIAL DE PAGOS</strong></button></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onClickCancel()">CANCELAR</button>
                <button type="button" class="btn btn-primary" (click)="onClickConfirm()">CONFIRMAR</button>
            </div>
        </div>
    </div>
</div>
<!-- //AGENTHOS - OUTSTANDING BALANCE -->
