<!-- AGENTHOS - POLICY UPDATE CHECK -->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- AGENTHOS - DETAILS CARD -->
				<h5 class="modal-title">Revisar Detalles</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-justify">El fin de vigencia no puede ser tan antiguo. Si lo deseas, puedes enlazar pólizas antiguas desde el historial de la póliza. <strong>Por favor valida el fin de vigencia para continuar</strong>.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center">
				<div class="col-12">
					<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-dismiss="modal"><strong>VALIDAR FIN DE VIGENCIA</strong></button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //AGENTHOS - POLICY UPDATE CHECK -->
