<form *ngIf="model.isBuiltForm; else loadingContent" [formGroup]="model.form" (submit)="showModalToConfirmUpdateSite()">
    <!-- AGENTHOS - APP CREATOR PREVIEW -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Identidad de la App</h3>
        </div>
        <!-- AGENTHOS - APP CREATOR CONFIG -->
        <div class="card-body">
            <!-- AGENTHOS - APP CREATOR COLOR -->
            <div class="row">
                <!-- AGENTHOS - APP CREATOR MOCKUP -->
                <div class="col-md-6">
                    <!-- <agt-phone-preview-wallet
                        [themeName]="model.themeName"
                    ></agt-phone-preview-wallet> -->
                </div>
                <!-- //AGENTHOS - APP CREATOR MOCKUP -->
                <!-- AGENTHOS - APP CREATOR CONFIG -->
                <div class="col-md-6">
                    <div class="row">
                        <!-- AGENTHOS - APP CREATOR NAME -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <ol class="breadcrumb1">
                                        <li class="breadcrumb-item1">Ingresa el nombre que deseas para tu App.</li>
                                    </ol>
                                    <div class="row">
                                        <!-- AGENTHOS - CONTACT CENTER MAIL -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <!-- AGENTHOS - CONTACT MAIL * -->
                                                <label class="form-label">Nombre de la App</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fe fe-smartphone tx-16 lh-0 op-6"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control {{getValidationClass('name')}}" placeholder="Ingresa un nombre." formControlName="name">
                                                    <div class="invalid-feedback">{{getErrorMessage('name')}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- //AGENTHOS - CONTACT CENTER MAIL -->
                                        <!-- AGENTHOS - CONTACT CENTER DETAILS -->
                                        <div class="col-md-12 mt-5">
                                            <div class="card shadow">
                                                <div class="card-body">
                                                    Agenthos usará este nombre para crear y desplegar la instalación de la App con tus prospectos y clientes.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- //AGENTHOS - CONTACT CENTER DETAILS -->
                                    </div>
                                    <!-- //AGENTHOS - APP CREATOR NAME -->
                                </div>
                            </div>
                        </div>
                        <!-- //AGENTHOS - APP CREATOR NAME -->
                        <!-- AGENTHOS - APP CREATOR UPDATE -->
                        <div class="col-12">
                            <!-- AGENTHOS - APP CREATOR UPDATE -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-block agt-btn-primary"><strong>GUARDAR CAMBIOS</strong></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //AGENTHOS - APP CREATOR UPDATE -->
                        </div>
                        <!-- //AGENTHOS - APP CREATOR UPDATE -->
                    </div>
                </div>
                <!-- //AGENTHOS - APP CREATOR CONFIG -->
            </div>
            <!-- //AGENTHOS - APP CREATOR COLOR -->
        </div>
        <!-- //AGENTHOS - APP CREATOR CONFIG -->
    </div>
    <!-- //AGENTHOS - APP CREATOR PREVIEW -->
</form>

<ng-template #loadingContent>
    <agt-loading-content [isLoadingContent]="true" ></agt-loading-content>
</ng-template>

<agt-modal-confirm-update-site 
    [modalId]="modalIdConfirmUpdateSite" 
    (actionConfirmed)="updateSite()"
></agt-modal-confirm-update-site>
