<div class="page">
    <div class="page-main">
        <agt-header></agt-header>
        <agt-navbar></agt-navbar>
        <div class="container content-area">
            <div class="section">
                <agt-page-header></agt-page-header>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <agt-sidebar></agt-sidebar>
    <agt-footer></agt-footer>
</div>

<agt-modal-voice-control-talking></agt-modal-voice-control-talking>
<agt-modal-voice-control-processing-request></agt-modal-voice-control-processing-request>
<agt-modal-voice-control-contact-results></agt-modal-voice-control-contact-results>
<agt-modal-voice-control-not-supported></agt-modal-voice-control-not-supported>
<agt-modal-voice-control-command-not-found></agt-modal-voice-control-command-not-found>
<agt-modal-voice-control-no-results></agt-modal-voice-control-no-results>

<agt-create-policy-modal></agt-create-policy-modal>
<agt-contact-category-modal></agt-contact-category-modal>
<agt-workspace-report-actions-modal></agt-workspace-report-actions-modal>
<agt-create-task></agt-create-task>
<agt-policy-sinister-actions-modal></agt-policy-sinister-actions-modal>
<agt-policy-payment-actions-modal></agt-policy-payment-actions-modal>
<agt-policy-record-actions-modal></agt-policy-record-actions-modal>
