<agt-container-contact-details [contactId]="contactId" [message]="message"></agt-container-contact-details>

<form *ngIf="!!updateCompletePolicyService.policy; else loading" [formGroup]="updateCompletePolicyService.policyForm" (submit)="onSubmitSavePolicy()">
    <!-- AGENTHOS - POLICY DETAILS -->
    <div class="row">
        <!-- AGENTHOS - POLICY UPLOAD -->
        <div class="col-md-4">
            <!-- AGENTHOS - POLICY FILE -->
            <div class="card">
                <div class="card-header">
                    <img [src]="updateCompletePolicyService.policy.insurerImageUrl" width="38px">
                </div>
                <div class="card-body">
                    <!-- AGENTHOS - POLICY COVER -->
                    <div class="d-flex clearfix">
                        <div class="text-left">
                            <!-- AGENTHOS - POLICY STATUS -->
                            <div class="badge badge-{{updateCompletePolicyService.policy.policyStatusBackground}} mr-1 mb-3">{{updateCompletePolicyService.policy.policyStatusName | uppercase}}</div>
                            <span class="col-auto align-self-center">
                                <span class="form-help" data-toggle="popover" data-placement="top" [attr.data-content]="updateCompletePolicyService.policy.policyStatusDescription" data-original-title="">?</span>
                            </span>
                            <!-- AGENTHOS - POLICY TYPE -->
                            <h6><span class="text-primary"><i class="fe fe-shield mr-2"></i></span>{{updateCompletePolicyService.policy.insuranceName | uppercase}}</h6>
                            <!-- AGENTHOS - POLICY TYPE -->
                            <h6><span class="text-primary"><i class="fe fe-globe mr-2"></i></span>{{updateCompletePolicyService.policy.insuranceTypeName | uppercase}}</h6>
                            <!-- AGENTHOS - POLICY NUMBER -->
                            <h6><span class="text-primary"><i class="fe fe-file-text mr-2"></i></span>{{updateCompletePolicyService.policy.policyNumber}}</h6>
                        </div>
                        <div class="ml-auto">
                            <span class="{{updateCompletePolicyService.policy.insuranceBackground}} icon-service">
                                <i class="fa {{updateCompletePolicyService.policy.insuranceIcon}} fs-2"></i>
                            </span>
                        </div>
                    </div>
                    <!-- //AGENTHOS - POLICY COVER -->
                    <!-- AGENTHOS - POLICY LIFE -->
                    <div class="progress progress-sm mt-2">
                        <div class="progress-bar {{updateCompletePolicyService.policy.insuranceBackground}}" [ngStyle]="{'width': updateCompletePolicyService.policy.lifeTime+'%'}"></div>
                    </div>
                    <!-- //AGENTHOS - POLICY LIFE -->
                </div>
                <!-- //AGENTHOS - POLICY BODY -->
            </div>
            <!-- //AGENTHOS - POLICY FILE -->
            <!-- AGENTHOS - POLICY FILE -->
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Carátula de Póliza</h6>
                    <div class="card-options">
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <!-- AGENTHOS - VIEW POLICY (JUST IF UPLOADED) -->
                        <button type="button" class="btn btn-block btn-primary mb-5" (click)="onClickShowPolicy()" *ngIf="!(!!updateCompletePolicyService.f.policyFile.value)"><strong>VER PÓLIZA</strong></button>
                        <!-- AGENTHOS - UPDATE POLICY -->
                        <button type="button" class="btn btn-block btn-secondary" (click)="onClickSelectPolicy()"><strong>ACTUALIZAR PÓLIZA</strong></button>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY FILE -->
            <!-- AGENTHOS - POLICY RESUME -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">No. Póliza</label>
                                    <input type="text" class="form-control {{getValidationClass('policyNumber')}}" formControlName="policyNumber">
                                    <div class="invalid-feedback">{{getErrorMessage('policyNumber')}}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">No. Cliente</label>
                                    <input type="text" class="form-control {{getValidationClass('clientNumber')}}" formControlName="clientNumber">
                                    <div class="invalid-feedback">{{getErrorMessage('clientNumber')}}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - INSURANCE COMPANY * -->
                                    <!-- (JUST ENABLED FOR GLOBAL ADMIN)-->
                                    <label class="form-label">Aseguradora</label>
                                    <select class="form-control custom-select {{getValidationClass('insurerId')}}" formControlName="insurerId">
                                        <option [value]="insurer.insurerId" *ngFor="let insurer of updateCompletePolicyService.insurers">{{insurer.name}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('insurerId')}}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - INSURANCE TYPE * -->
                                    <!-- (JUST ENABLED FOR GLOBAL ADMIN)-->
                                    <label class="form-label">Ramo de Póliza</label>
                                    <select class="form-control custom-select {{getValidationClass('insuranceId')}}" formControlName="insuranceId" (change)="onChangeLoadInsuranceTypes()">
                                        <option [value]="insurance.insuranceId" *ngFor="let insurance of updateCompletePolicyService.insurances">{{insurance.name}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('insuranceId')}}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY TYPE * -->
                                    <!-- (JUST ENABLED FOR GLOBAL ADMIN)-->
                                    <label class="form-label">Tipo de Póliza</label>
                                    <select class="form-control custom-select {{getValidationClass('insuranceTypeId')}}" formControlName="insuranceTypeId">
                                        <option [value]="insuranceType.insuranceTypeId" *ngFor="let insuranceType of updateCompletePolicyService.insuranceTypes">{{insuranceType.name}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('insuranceTypeId')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY RESUME -->
            <!-- AGENTHOS - POLICY VALIDITY -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vigencia de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY VALIDITY EMISSION * -->
                                    <label class="form-label">Fecha de Emisión</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input [id]="calendarIdEmissionDate" class="form-control fc-datepicker {{getValidationClass('emissionDate')}}" formControlName="emissionDate" type="text">
                                        <div class="invalid-feedback">{{getErrorMessage('emissionDate')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY VALIDITY INI * -->
                                    <label class="form-label">Inicio de Vigencia</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input [id]="calendarIdValidityStartDate" class="form-control fc-datepicker {{getValidationClass('validityStartDate')}}" formControlName="validityStartDate" type="text">
                                        <div class="invalid-feedback">{{getErrorMessage('validityStartDate')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY VALIDITY END * -->
                                    <label class="form-label">Fin de Vigencia</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input [id]="calendarIdValidityEndDate" class="form-control fc-datepicker {{getValidationClass('validityEndDate')}}" formControlName="validityEndDate" type="text">
                                        <div class="invalid-feedback">{{getErrorMessage('validityEndDate')}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY VALIDITY -->
        </div>

        <div class="col-md-8">
            <!-- AGENTHOS - POLICY OWNER -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Titular de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY NAME * -->
                                    <label class="form-label">Nombre del Titular</label>
                                    <input type="text" class="form-control {{getValidationClass('titularName')}}" formControlName="titularName">
                                    <div class="invalid-feedback">{{getErrorMessage('titularName')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY RFC * -->
                                    <label class="form-label">RFC</label>
                                    <input type="text" class="form-control {{getValidationClass('titularRfc')}}" formControlName="titularRfc">
                                    <div class="invalid-feedback">{{getErrorMessage('titularRfc')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY CP * -->
                                    <label class="form-label">Código Postal</label>
                                    <input type="text" class="form-control {{getValidationClass('titularPostalCode')}}" formControlName="titularPostalCode">
                                    <div class="invalid-feedback">{{getErrorMessage('titularPostalCode')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - POLICY PHONE * -->
                                    <label class="form-label">Teléfono</label>
                                    <div class="input-group mb-3">
                                        <agt-dropdown-select-phone-code [phoneCodeId]="updateCompletePolicyService.f.titularPhoneCodeId.value" (phoneCodeIdSelected)="titularPhoneCodeIdSelected($event)"></agt-dropdown-select-phone-code>
                                        <!-- AGENTHOS - PHONE NUMBER -->
                                        <input type="text" class="form-control {{getValidationClass('titularPhoneNumber')}}" formControlName="titularPhoneNumber">
                                        <div class="invalid-feedback">{{getErrorMessage('titularPhoneNumber')}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY OWNER -->

            <div formArrayName="insureds">
                <ng-container [ngSwitch]="updateCompletePolicyService.policy.insuranceId">
                    <ng-container *ngSwitchCase="(
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.LIVE ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.RETIRE ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.HEALTH ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.ACCIDENTS ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.CARE ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.PETS ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.CRISIS ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.TRAVEL ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.DEATH ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.CREDIT ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.WARRANTY ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.SCHOOLAR ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.FIANCE
                    ) ? updateCompletePolicyService.policy.insuranceId : ''">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Datos del Asegurado</h3>
                            </div>
                            <div class="card-body">

                                <ng-container *ngFor="let insured of updateCompletePolicyService.insureds.controls; let insuredIndex = index">
                                    <ng-container [formGroupName]="insuredIndex">
                                        <div class="block-content">
                                            <div class="form-group row text-center">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED NAME * -->
                                                        <label class="form-label">Nombre del Asegurado</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('personName', insuredIndex)}}" formControlName="personName">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('personName', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED GENDER -->
                                                        <label class="form-label">Género</label>
                                                        <select class="form-control custom-select {{getValidationClassInsured('personGenderId', insuredIndex)}}" formControlName="personGenderId">
                                                            <option [value]="gender.genderId" *ngFor="let gender of updateCompletePolicyService.genders">{{gender.name | uppercase}}</option>
                                                        </select>
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('personGenderId', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED AGE -->
                                                        <label class="form-label">Edad</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('personAge', insuredIndex)}}" formControlName="personAge">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('personAge', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="(
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.CAR ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.MOTORBIKE ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.BIKE ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.TRUCK
                    ) ? updateCompletePolicyService.policy.insuranceId : ''">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Datos del Vehículo</h3>
                            </div>
                            <div class="card-body">

                                <ng-container *ngFor="let insured of updateCompletePolicyService.insureds.controls; let insuredIndex = index">
                                    <ng-container [formGroupName]="insuredIndex">
                                        <div class="block-content">
                                            <div class="form-group row text-center">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY VEHICLE MAKER * -->
                                                        <label class="form-label">Fabricante</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('vehicleMaker', insuredIndex)}}" formControlName="vehicleMaker">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('vehicleMaker', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY VEHICLE VERSION * -->
                                                        <label class="form-label">Versión</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('vehicleVersion', insuredIndex)}}" formControlName="vehicleVersion">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('vehicleVersion', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY VEHICLE MODEL * -->
                                                        <label class="form-label">Modelo</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('vehicleModel', insuredIndex)}}" formControlName="vehicleModel">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('vehicleModel', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY VEHICLE PLATES -->
                                                        <label class="form-label">Placas</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('vehiclePlates', insuredIndex)}}" formControlName="vehiclePlates">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('vehiclePlates', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY VEHICLE SERIAL -->
                                                        <label class="form-label">No. Serie</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('vehicleSerial', insuredIndex)}}" formControlName="vehicleSerial">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('vehicleSerial', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY VEHICLE MOTOR -->
                                                        <label class="form-label">No. Motor</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('vehicleMotor', insuredIndex)}}" formControlName="vehicleMotor">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('vehicleMotor', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="(
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.HOME ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.BUILDING ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.FARM
                    ) ? updateCompletePolicyService.policy.insuranceId : ''">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Datos de la Propiedad</h3>
                            </div>
                            <div class="card-body">

                                <ng-container *ngFor="let insured of updateCompletePolicyService.insureds.controls; let insuredIndex = index">
                                    <ng-container [formGroupName]="insuredIndex">
                                        <div class="block-content">
                                            <div class="form-group row text-center">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED BUILDING NAME * -->
                                                        <label class="form-label">Nombre de la Propiedad</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('buildingName', insuredIndex)}}" formControlName="buildingName">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('buildingName', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED BUILDING USE * -->
                                                        <label class="form-label">Uso de la Propiedad</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('buildingUsage', insuredIndex)}}" formControlName="buildingUsage">
                                                        <div class="invalid-feedback">{{getErrorMessage('buildingUsage')}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED BUILDING LOCATION * -->
                                                        <label class="form-label">Dirección de la Propiedad</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('buildingLocation', insuredIndex)}}" formControlName="buildingLocation">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('buildingLocation', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="(
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.CIVIL ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.TECHNICAL ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.CAUTION ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.TRANSPORT ||
                        updateCompletePolicyService.policy.insuranceId === INSURANCES.AERO
                    ) ? updateCompletePolicyService.policy.insuranceId : ''">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Datos del Bien Asegurado</h3>
                            </div>
                            <div class="card-body">

                                <ng-container *ngFor="let insured of updateCompletePolicyService.insureds.controls; let insuredIndex = index">
                                    <ng-container [formGroupName]="insuredIndex">
                                        <div class="block-content">
                                            <div class="form-group row text-center">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED OBJECT NAME * -->
                                                        <label class="form-label">Nombre del Bien Asegurado</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('objectName', insuredIndex)}}" formControlName="objectName">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('objectName', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED OBJECT USE * -->
                                                        <label class="form-label">Uso del Bien Asegurado</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('objectUsage', insuredIndex)}}" formControlName="objectUsage">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('objectUsage', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY INSURED OBJECT DESCRIPTION * -->
                                                        <label class="form-label">Descripción del Bien Asegurado</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('objectDescription', insuredIndex)}}" formControlName="objectDescription">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('objectDescription', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Persona o Bien Asegurado</h3>
                            </div>
                            <div class="card-body">

                                <ng-container *ngFor="let insured of updateCompletePolicyService.insureds.controls; let insuredIndex = index">
                                    <ng-container [formGroupName]="insuredIndex">
                                        <div class="block-content">
                                            <div class="form-group row text-center">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!-- AGENTHOS - POLICY DETAILS * -->
                                                        <label class="form-label">Nombre de la Persona o Bien Asegurado</label>
                                                        <input type="text" class="form-control {{getValidationClassInsured('policyDetails', insuredIndex)}}" formControlName="policyDetails">
                                                        <div class="invalid-feedback">{{getErrorMessageInsured('policyDetails', insuredIndex)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <!-- AGENTHOS - POLICY PAYMENT -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Prima de Póliza</h3>
                </div>
                <div class="card-body">
                    <div class="block-content">
                        <div class="form-group row text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - NET PAYMENT * -->
                                    <label class="form-label">Prima Neta</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('netPay')}}" formControlName="netPay">
                                        <div class="invalid-feedback">{{getErrorMessage('netPay')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - FEE PAYMENT * -->
                                    <label class="form-label">Financiamiento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('feePay')}}" formControlName="feePay">
                                        <div class="invalid-feedback">{{getErrorMessage('feePay')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - COVER PAYMENT * -->
                                    <label class="form-label">Gastos Expedición</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('coverPay')}}" formControlName="coverPay">
                                        <div class="invalid-feedback">{{getErrorMessage('coverPay')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - EXTRA PAYMENT -->
                                    <label class="form-label">Otros Cargos</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('extraPay')}}" formControlName="extraPay">
                                        <div class="invalid-feedback">{{getErrorMessage('extraPay')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - TAX PAYMENT * -->
                                    <label class="form-label">Impuestos</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('taxPay')}}" formControlName="taxPay">
                                        <div class="invalid-feedback">{{getErrorMessage('taxPay')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - TAX PAYMENT * -->
                                    <label class="form-label">Descuento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('discount')}}" formControlName="discount">
                                        <div class="invalid-feedback">{{getErrorMessage('discount')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - TOTAL PAYMENT * -->
                                    <label class="form-label">Monto Total</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-dollar-sign tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control {{getValidationClass('policyAmount')}}" formControlName="policyAmount">
                                        <div class="invalid-feedback">{{getErrorMessage('policyAmount')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY CURRENCY * -->
                                    <label class="form-label">Moneda</label>
                                    <select class="form-control custom-select {{getValidationClass('currencyId')}}" formControlName="currencyId">
                                        <option [value]="currency.currencyId" *ngFor="let currency of updateCompletePolicyService.currencies">{{currency.name}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('currencyId')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAYMENT METHOD * -->
                                    <label class="form-label">Forma de Pago</label>
                                    <select class="form-control custom-select {{getValidationClass('paymentMethodId')}}" formControlName="paymentMethodId">
                                        <option [value]="paymentMethod.paymentMethodId" *ngFor="let paymentMethod of updateCompletePolicyService.paymentMethods">{{paymentMethod.name | uppercase}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('paymentMethodId')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY PLAN * -->
                                    <label class="form-label">Tipo de Plan</label>
                                    <select class="form-control custom-select {{getValidationClass('paymentPlanId')}}" formControlName="paymentPlanId" (change)="onChangeCalculateBills()">
                                        <option [value]="paymentPlan.paymentPlanId" *ngFor="let paymentPlan of updateCompletePolicyService.paymentPlans">{{paymentPlan.name | uppercase}}</option>
                                    </select>
                                    <div class="invalid-feedback">{{getErrorMessage('paymentPlanId')}}</div>
                                </div>
                            </div>
                            <!-- TOTAL TICKETS -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- AGENTHOS - PAY BILLS * -->
                                    <label class="form-label">Cuotas / Recibos</label>
                                    <input type="text" class="form-control {{getValidationClass('bills')}}" formControlName="bills">
                                    <div class="invalid-feedback">{{getErrorMessage('bills')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - POLICY PAYMENT -->
            <!-- AGENTHOS - AUTO PAYMENT -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cargo Automático</h3>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1">Indica si el titular autorizó el cobro de los recibos de la póliza de manera automática.</li>
                        </ol>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Cargo Automático
                                <div class="material-switch pull-right">
                                    <input id="isAutoPayment" type="checkbox" formControlName="isAutoPayment"/>
                                    <label for="isAutoPayment" class="label-success"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - AUTO PAYMENT -->
            <!-- AGENTHOS - AGENT OR PARTNER -->
            <div class="card" *ngIf="updateCompletePolicyService.partners.length > 0">
                <div class="card-header">
                    <h3 class="card-title">Nombre del Agente</h3>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1">Selecciona el agente o socio comercial al que deseas enlazar esta póliza.</li>
                        </ol>
                        <select class="form-control custom-select {{getValidationClass('partnerId')}}" formControlName="partnerId">
                            <option [value]="partner.partnerId" *ngFor="let partner of updateCompletePolicyService.partners">{{partner.name | titlecase}}</option>
                        </select>
                        <div class="invalid-feedback">{{getErrorMessage('partnerId')}}</div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - AGENT OR PARTNER -->
            <!-- AGENTHOS - UPDATE INFO -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- ACTION TARGET: AGTVIEW0010 -->
                            <button type="submit" class="btn btn-icon btn-block  btn-primary"><strong>GUARDAR PÓLIZA</strong></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //AGENTHOS - UPDATE INFO -->
        </div>
    </div>
</form>
<!-- AGENTHOS - POLICY DETAILS -->

<agt-modal-policy-amounts-different [modalId]="modalIdPolicyAmountsDifferent"></agt-modal-policy-amounts-different>
<agt-modal-select-file [modalId]="modalIdSelectFile" [data]="modalSelectFileData" (fileSelected)="onPolicySelected($event)"></agt-modal-select-file>
<agt-modal-show-policy [modalId]="modalIdShowPolicy" [contactId]="contactId" [policyId]="policyId"></agt-modal-show-policy>
<ng-template #loading>
    <agt-loading-content [isLoadingContent]="true"></agt-loading-content>
</ng-template>
